<% @page_title=_('Hot Spot Merged') %>
<p>
<%= _(%q['%{source}' has been Merged to '%{target}'.]) % 
	{:source=>h(localized_description(@hot_spot, :name)),
	 :target=>h(localized_description(@target, :name))}  %>
<%= _('Now you can ')%>
<%= link_to _('Go to home page,'), main_path %>
<%= _(' or ')%>
<%= link_to _('manage other hot spots.'), manage_hot_spots_path %>
</p>