     <li>
            <%if operation_manual.navi_star %>
             <%= link_to  operation_manual.navi_star.get_operation_manual_name, "/navistar/#{operation_manual.navi_star.get_operation_manual_name}.pdf" %>
            <%end%>
     </li>