<% @page_title = _('New Mobile OS') 
   @js_files = ['yui/yahoo', 'yui/event', 'yui/dom', 'yui/calendar','editor']
   @css_files=['calendar'] 
   @side_menu = 'master_data' -%>
<%form_for :mobile_os,:url => manage_mobile_oss_path,:html =>{:multipart => true} do |f|%>
<%=render :partial => "form",:object => f%>
<%end -%>