<div class="merge_target">
	<p><%= link_to h(localized_description(target, :name)), {:controller=>'admin/brand_merges', :action => 'preview', :brand_id => @brand, :target_id=>target.id} %>
		<span class="category">[<%= h(localized_description(target.hot_spot_category, :name))%>]</span>
	<span class="address"><%= h(localized_description(target, :address))%></span></p>
</div>