<div id="form_error">
	
</div>

<% remote_form_for :folder, @folder, :url=>member_folders_path(@member) do |form| -%>
<%= render :partial=>'form', :object=>form %>
<% end -%>

<%= update_page_tag do |page| 
		page.call 'dialog.show_with_title', _('New Folder')
	end -%>