<div class="section">
	<div class="head_no_title">
		
	</div>
	<div class="body">
		<div id="calendar">
			<%= render :partial=>'/events/calendar', :locals=>{:date=>Date.today} %>
		</div>
	</div>
	
	<div class="foot">
		
	</div>
</div>