<li class="search_result_hot_spot">
<p><span class="hot_spot_name">
	[&nbsp;<%= localized_description(hot_spot.hot_spot_category, :name)%>&nbsp;]<%= link_to_function h(localized_description(hot_spot, :name)), "show_hot_spot_marker(#{hot_spot.id})"%>
	</span>
	<%= link_to _('Detail'), hot_spot_path(hot_spot), :target => '_blank'  %>
</p>
</li>

