<% 
	page_title @topic.title
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />

<title>无标题文档</title>

<style type="text/css">

<!--

body {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	text-align: center;

	margin: 0px;

	padding: 0px;

}

.left{ float:left}

-->

</style>

</head>



<body>

<table width="950" border="0" cellspacing="0" cellpadding="0">

  <tr>

    <td><img src="/images/topic/200906/sh_img_03.jpg" width="950" height="285" /></td>

  </tr>

  <tr>

    <td><img src="/images/topic/200906/sh_img_05.jpg" width="950" height="317" border="0" usemap="#Map7" /></td>

  </tr>

  <tr>

    <td><img src="/images/topic/200906/sh_img_06.jpg" width="950" height="285" border="0" usemap="#Map" /></td>

  </tr>

  <tr>

    <td><img src="/images/topic/200906/sh_img_07.jpg" width="950" height="211" border="0" usemap="#Map2" /></td>

  </tr>

  <tr>

    <td><img src="/images/topic/200906/sh_img_08.jpg" width="950" height="209" border="0" usemap="#Map3" /></td>

  </tr>

  <tr>

    <td><img src="/images/topic/200906/sh_img_09.jpg" width="950" height="293" border="0" usemap="#Map4" /></td>

  </tr>

  <tr>

    <td>
      <div class="left"><img src="/images/topic/200906/sh_img_10.jpg" width="646" height="669" border="0" usemap="#Map5" /></div>
      <div><img src="/images/topic/200906/sh_img_11.jpg" width="304" height="669" border="0" usemap="#Map6" /></div>
    </td>

  </tr>

  <tr>

    <td><img src="/images/topic/200906/sh_img_12.jpg" width="950" height="96" /></td>

  </tr>

</table>



<map name="Map" id="Map"><area shape="rect" coords="63,86,313,272" href="http://www.x-navi.cn/brands/6853" target="_blank" />

<area shape="rect" coords="351,86,602,272" href="http://www.x-navi.cn/brands/2311" target="_blank" />

<area shape="rect" coords="639,85,887,269" href="http://www.x-navi.cn/brands/7350" target="_blank" />

</map>

<map name="Map2" id="Map2"><area shape="rect" coords="66,12,316,196" href="http://www.x-navi.cn/brands/7351" target="_blank" />

<area shape="rect" coords="353,14,600,196" href="http://www.x-navi.cn/brands/7025" target="_blank" />

<area shape="rect" coords="640,12,886,194" href="http://www.x-navi.cn/hot_spots/111359" target="_blank" />

</map>

<map name="Map3" id="Map3"><area shape="rect" coords="63,9,315,196" href="http://www.x-navi.cn/brands/7333" target="_blank" />

<area shape="rect" coords="349,12,604,199" href="http://www.x-navi.cn/hot_spots/111648" target="_blank" />

<area shape="rect" coords="641,13,887,196" href="http://www.x-navi.cn/brands/7353" target="_blank" />

</map>

<map name="Map4" id="Map4"><area shape="rect" coords="65,15,311,196" href="http://www.x-navi.cn/brands/7352" target="_blank" />

<area shape="rect" coords="354,17,601,197" href="http://www.x-navi.cn/brands/2141" target="_blank" />

<area shape="rect" coords="640,18,887,199" href="http://www.x-navi.cn/hot_spots/75287" target="_blank" />

</map>

<map name="Map5" id="Map5"><area shape="rect" coords="39,206,153,245" href="http://www.x-navi.cn/articles/355" target="_blank" />

<area shape="rect" coords="164,214,320,372" href="http://www.x-navi.cn/articles/355" target="_blank" />

<area shape="rect" coords="339,210,448,248" href="http://www.x-navi.cn/articles/356" target="_blank" />

<area shape="rect" coords="457,212,617,371" href="http://www.x-navi.cn/articles/356" target="_blank" />

<area shape="rect" coords="39,399,164,441" href="http://www.x-navi.cn/articles/358" target="_blank" />

<area shape="rect" coords="165,428,319,585" href="http://www.x-navi.cn/articles/358" target="_blank" />

<area shape="rect" coords="339,408,448,445" href="http://aolifu.blog.x-navi.cn/articles/241" target="_blank" />

<area shape="rect" coords="454,430,616,587" href="http://aolifu.blog.x-navi.cn/articles/241" target="_blank" />

</map>

<map name="Map6" id="Map6"><area shape="rect" coords="11,108,261,132" href="http://www.x-navi.cn/forums/6/posts/719" target="_blank" />

<area shape="rect" coords="213,170,237,187" href="http://www.x-navi.cn/forums/6/posts/719" target="_blank" />

<area shape="rect" coords="10,204,153,227" href="http://www.x-navi.cn/forums/6/posts/919" target="_blank" />

<area shape="rect" coords="181,264,208,278" href="http://www.x-navi.cn/forums/6/posts/919" target="_blank" />

<area shape="rect" coords="10,295,169,312" href="http://www.x-navi.cn/forums/6/posts/1010" target="_blank" />

<area shape="rect" coords="66,367,87,384" href="http://www.x-navi.cn/forums/6/posts/1010" target="_blank" />

<area shape="rect" coords="11,401,158,419" href="http://www.x-navi.cn/forums/6/posts/1008" target="_blank" />

<area shape="rect" coords="31,475,59,492" href="http://www.x-navi.cn/forums/6/posts/1008" target="_blank" />

<area shape="rect" coords="13,499,246,539" href="http://www.x-navi.cn/forums/6/posts/1009" target="_blank" />

</map>
<map name="Map7" id="Map7"><area shape="rect" coords="354,251,411,274" href="http://www.tiexin.com/forums/6/posts/720" target="_blank" />
</map></body>

</html>

