<% page_title @topic.title %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>端午</title>
<style type="text/css">
<!--
body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.text_title {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	line-height: 26px;
}
.text_title a {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	line-height: 26px;
}
.text_Content {
	font-size: 12px;
	line-height: 18px;
	color: #539574;
}
.text_Content1 {
	font-size: 12px;
	line-height: 21px;
	color: #539574;
}
.text_g {
	font-size: 14px;
	color: #2B6B14;
}
.text_g a {
	font-size: 14px;
	color: #2B6B14;
	text-decoration: underline;
}
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
td {
	vertical-align: middle;
}
.view {
	text-align: right;
	vertical-align: bottom;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="952" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/topic/200905/top_sh.jpg" width="952" height="194" /></td>
    </tr>
    <tr>
      <td height="8"></td>
    </tr>
    <tr>
      <td height="277" align="left" valign="top" background="/images/topic/200905/p_bg.jpg"><table width="100%" height="277" border="0" cellpadding="0" cellspacing="0" class="text_g">
        <tr>
          <td width="158" height="32" align="left">【闸北区】</td>
          <td width="158" align="left">&nbsp;</td>
          <td width="158" align="left">&nbsp;</td>
          <td width="158" align="left">【金山区】</td>
          <td width="158" align="left">&nbsp;</td>
          <td width="158" align="left">&nbsp;</td>
		  <td></td>
        </tr>
        <tr>
          <td height="150" align="center" valign="middle"><a href="http://www.x-navi.cn/articles/283" target="_blank"><img src="/images/topic/200905/slp01.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://www.x-navi.cn/articles/298" target="_blank"><img src="/images/topic/200905/slp02.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://www.x-navi.cn/articles/299" target="_blank"><img src="/images/topic/200905/slp03.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://www.x-navi.cn/articles/295" target="_blank"><img src="/images/topic/200905/slp04.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://www.x-navi.cn/vendor/hot_spot/131049/events/1158" target="_blank"><img src="/images/topic/200905/slp05.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://www.x-navi.cn/articles/297" target="_blank"><img src="/images/topic/200905/slp06.jpg" width="142" height="142" border="0" /></a></td>
		  <td></td>
        </tr>
        <tr>
          <td height="50" align="center"><a href="http://www.x-navi.cn/articles/283" target="_blank">上海马戏城——<br />多媒体梦幻剧时空之旅</a></td>
          <td align="center"><a href="http://www.x-navi.cn/articles/298" target="_blank">大宁灵石公园</a></td>
          <td align="center"><a href="http://www.x-navi.cn/articles/299" target="_blank">大宁国际商业广场</a></td>
          <td align="center"><a href="http://www.x-navi.cn/articles/295" target="_blank">金山城市沙滩</a></td>
          <td align="center"><a href="http://www.x-navi.cn/vendor/hot_spot/131049/events/1158" target="_blank">枫泾古镇</a></td>
          <td align="center"><a href="http://www.x-navi.cn/articles/297" target="_blank">芳心园农庄</a></td>
		  <td></td>
        </tr>
        <tr>
          <td height="45" align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/139771" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/49470" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/166901" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/155682" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/131049" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/198700" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom">&nbsp;</td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200905/200905_02.jpg" width="952" height="19" /></td>
    </tr>
    <tr>
      <td height="277" align="left" valign="top" background="/images/topic/200905/p_bg.jpg"><table width="100%" height="277" border="0" cellpadding="0" cellspacing="0" class="text_g">
        <tr>
          <td width="158" height="32" align="left">【浦东新区】</td>
          <td width="158" align="left">&nbsp;</td>
          <td width="158" align="left">【黄浦区】</td>
          <td width="158" align="left">&nbsp;</td>
          <td width="158" align="left">【嘉定区】</td>
          <td width="158" align="left">&nbsp;</td>
          <td align="left">&nbsp;</td>
        </tr>
        <tr>
          <td height="150" align="center" valign="middle"><a href="http://www.x-navi.cn/articles/282" target="_blank"><img src="/images/topic/200905/slp07.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://www.x-navi.cn/articles/156" target="_blank"><img src="/images/topic/200905/slp08.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://www.x-navi.cn/articles/284" target="_blank"><img src="/images/topic/200905/slp09.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://www.x-navi.cn/articles/294" target="_blank"><img src="/images/topic/200905/slp10.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://www.x-navi.cn/articles/149" target="_blank"><img src="/images/topic/200905/slp11.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://www.x-navi.cn/articles/250" target="_blank"><img src="/images/topic/200905/slp12.jpg" width="142" height="142" border="0" /></a></td>
          <td align="left"></td>
        </tr>
        <tr>
          <td height="50" align="center"><a href="http://www.x-navi.cn/articles/282" target="_blank">上海大自然野生昆虫馆</a></td>
          <td align="center"><a href="http://www.x-navi.cn/articles/156" target="_blank">世纪公园</a></td>
          <td align="center"><a href="http://www.x-navi.cn/articles/284" target="_blank">上海城市规划展示馆</a></td>
          <td align="center"><a href="http://www.x-navi.cn/articles/294" target="_blank">上海文庙</a></td>
          <td align="center"><a href="http://www.x-navi.cn/articles/149" target="_blank">南翔古猗园</a></td>
          <td align="center"><a href="http://www.x-navi.cn/articles/250" target="_blank">安亭老街</a></td>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td height="45" align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/132654" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/135580" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/118198" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/137922" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/132659" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/198416" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom">&nbsp;</td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200905/200905_04.jpg" width="952" height="18" /></td>
    </tr>
    <tr>
      <td height="277" align="left" valign="top" background="/images/topic/200905/p_bg.jpg"><table width="100%" height="277" border="0" cellpadding="0" cellspacing="0" class="text_g">
        <tr>
          <td width="158" height="32" align="left">【崇明区】</td>
          <td width="158" align="left">&nbsp;</td>
          <td width="158" align="left">【徐汇区】</td>
          <td width="158" align="left">【青浦区】</td>
          <td width="158" align="left">【闵行区】</td>
          <td width="158" align="left">【南汇区】</td>
          <td align="left">&nbsp;</td>
        </tr>
        <tr>
          <td height="150" align="center" valign="middle"><a href="http://www.x-navi.cn/articles/305" target="_blank"><img src="/images/topic/200905/slp13.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://www.x-navi.cn/articles/296" target="_blank"><img src="/images/topic/200905/slp14.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://www.x-navi.cn/articles/306" target="_blank"><img src="/images/topic/200905/slp15.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://www.x-navi.cn/articles/307" target="_blank"><img src="/images/topic/200905/slp16.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://www.x-navi.cn/articles/300" target="_blank"><img src="/images/topic/200905/slp17.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://www.x-navi.cn/articles/301" target="_blank"><img src="/images/topic/200905/slp18.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle">&nbsp;</td>
        </tr>
        <tr>
          <td height="50" align="center"><a href="http://www.x-navi.cn/articles/305" target="_blank">东平国家森林公园</a></td>
          <td align="center"><a href="http://www.x-navi.cn/articles/296" target="_blank">高家庄园</a></td>
          <td align="center"><a href="http://www.x-navi.cn/articles/306" target="_blank">上海植物园</a></td>
          <td align="center"><a href="http://www.x-navi.cn/articles/307" target="_blank">朱家角古镇</a></td>
          <td align="center"><a href="http://www.x-navi.cn/articles/300" target="_blank">锦江乐园</a></td>
          <td align="center"><a href="http://www.x-navi.cn/articles/301" target="_blank">上海野生动物园</a></td>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td height="45" align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/64908" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/198442" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/135488" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/130836" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/135776" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/136761" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom">&nbsp;</td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="952" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="518" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="324" align="left" valign="top" background="/images/topic/200905/200905_06-1.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="5%" height="123">&nbsp;</td>
                  <td width="59%">&nbsp;</td>
                  <td width="2%">&nbsp;</td>
                  <td width="34%">&nbsp;</td>
                </tr>
                <tr>
                  <td height="163">&nbsp;</td>
                  <td align="left" valign="top"><div align="center" class="text_title"><strong><a href="http://www.x-navi.cn/articles/247" target="_blank">上海南翔老街，端午旅游好去处</a></strong></div>
                    <span class="text_Content">　　南翔镇位于上海市嘉定区。是上海市四大历史名镇之一，历史上曾有"小小南翔赛苏城"之美誉，历史悠久，人文荟萃，文物古迹众多，旅游资源十分丰富....<a href="http://www.x-navi.cn/articles/247" target="_blank">详细&gt;&gt;</a> 
                    <br />
                    <br />
                    </span><span class="text_Content1"><a href="http://www.x-navi.cn/blogs/8/articles/249" target="_blank">现代都市中的“清明上河图”&gt;&gt;</a><br />
                    <a href="http://www.x-navi.cn/articles/285" target="_blank">游七宝老街，寻上海传说&gt;&gt;</a>
                    <br />
                    <a href="http://www.x-navi.cn/articles/286" target="_blank">吴越枫泾，风景天下&gt;&gt;</a></span>
                  <td>&nbsp;</td>
                  <td><img src="/images/topic/200905/sp01.jpg" width="142" height="142" /></td>
                </tr>
                
              </table></td>
            </tr>
            <tr>
              <td height="351" align="left" valign="top" background="/images/topic/200905/200905_09-1.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="5%" height="103">&nbsp;</td>
                  <td width="59%">&nbsp;</td>
                  <td width="2%">&nbsp;</td>
                  <td width="34%">&nbsp;</td>
                </tr>
                <tr>
                  <td height="172">&nbsp;</td>
                  <td align="left" valign="top"><div align="center" class="text_title"><a href="http://www.x-navi.cn/articles/261" target="_blank">端午魅力亲子游——东方绿洲</a></div>
                      <span class="text_Content">　　多位世界文明发展史上著名人物的雕塑会聚在这里。有一个身临其境的国防教育环境，在“东方绿洲”内按“尼米兹”号的实际造型与比例建造了一艘仿真航母。利用淀山湖水系较原始的生态地貌，让同学们走向大自然，由“求生者”自己摘食野菜、钓鱼、野外宿营、野炊、泅渡河水、森林探路、模拟救护、生化灾害防预等等…<a href="http://www.x-navi.cn/articles/261" target="_blank">详细&gt;&gt;</a><br />
<br />
</span><span class="text_Content1"><a href="http://www.x-navi.cn/articles/287" target="_blank">亲近自然——上海浦东凌空农艺大观园&gt;&gt;</a><br />
<a href="http://www.x-navi.cn/articles/288" target="_blank">田园嘉定——华亭人家&gt;&gt;</a><br />
<a href="http://www.x-navi.cn/articles/289" target="_blank">足不出沪体验北国风情——银七星室内滑雪场&gt;&gt;</a></span></td>
                  <td>&nbsp;</td>
                  <td><img src="/images/topic/200905/sp02.jpg" width="142" height="142" /></td>
                </tr>
                
              </table></td>
            </tr>
            <tr>
              <td height="340" align="left" valign="top" background="/images/topic/200905/200905_10-1.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="5%" height="87">&nbsp;</td>
                  <td width="59%">&nbsp;</td>
                  <td width="2%">&nbsp;</td>
                  <td width="34%">&nbsp;</td>
                </tr>
                <tr>
                  <td height="140">&nbsp;</td>
                  <td align="left" valign="top"><div align="center" class="text_title"><a href="http://www.x-navi.cn/articles/254" target="_blank">都市里的海底世界——上海海洋水族馆</a></div>
                      <span class="text_Content">　　水族馆除了展出世界上有特色的淡水及海洋生物外，也将让观众观赏到一些目前在中国已濒临绝种的稀有水生生物。特色展示：馆内分为8大区域，设有28个大型主题生物展示区，展示了来自四大洲、五大洋的300多个品种、1万余条的珍稀鱼类，....<a href="http://www.x-navi.cn/articles/254" target="_blank">详细&gt;&gt;</a><br />
<br />
</span><span class="text_Content1"><a href="http://www.x-navi.cn/articles/293" target="_blank">经典一日游——豫园商城&gt;&gt;</a><br />
<a href="http://www.x-navi.cn/articles/290" target="_blank">穿越黄浦江——外滩观光隧道&gt;&gt;</a><br />
<a href="http://www.x-navi.cn/articles/291" target="_blank">中国铁路发展史——上海铁路博物馆&gt;&gt;</a><br />
<a href="http://www.x-navi.cn/articles/292" target="_blank">端午登高好去处——上海金茂大厦88层观光厅&gt;&gt;</a></span></td>
                  <td>&nbsp;</td>
                  <td><img src="/images/topic/200905/sp03.jpg" width="142" height="142" /></td>
                </tr>
                
              </table></td>
            </tr>
            <tr>
              <td height="340" align="left" valign="top" background="/images/topic/200905/200905_12.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="5%" height="88">&nbsp;</td>
                  <td width="59%">&nbsp;</td>
                  <td width="2%">&nbsp;</td>
                  <td width="34%">&nbsp;</td>
                </tr>
                <tr>
                  <td height="140">&nbsp;</td>
                  <td align="left" valign="top"><div align="center" class="text_title"><a href="http://www.x-navi.cn/articles/251" target="_blank">金山区枫泾古镇飘来阵阵粽香<br />
                    增添浓浓端午气氛</a></div>
                      <span class="text_Content">　　枫泾镇成市于宋，建镇于元，是一个已有一千五百多年历史的文明古镇，地跨吴越两界。枫泾镇为典型的江南水乡集镇，周围水网遍布，区内河道纵横，素有“三步两座桥，一望十条港”之称，镇区多小圩，形似荷叶；境内林木荫翳，庐舍鳞次，清流急湍，且遍植荷花，清雅秀美，故又称“清风泾”，“枫溪”，别号“芙蓉镇”…<a href="http://www.x-navi.cn/articles/251" target="_blank">详细&gt;&gt;</a><br />
<br />
</span><span class="text_Content1"><a href="http://www.x-navi.cn/articles/253" target="_blank">上海出发赏民俗推荐之——2009豫园商城端午文化节&gt;&gt;</a></span></td>
                  <td>&nbsp;</td>
                  <td><img src="/images/topic/200905/sp04.jpg" width="142" height="142" /></td>
                </tr>
                
              </table></td>
            </tr>
          </table></td>
          <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/topic/200905/200905_07.jpg" width="434" height="281" /></td>
            </tr>
            <tr>
              <td height="394" align="left" valign="top" background="/images/topic/200905/200905_08.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="7" width="20px"></td>
                    <td width="*"></td>
                    <td width="20px"></td>
                  </tr>
                  <tr>
                    <td width="20">&nbsp;</td>
                    <td class="text_title"><a href="http://www.x-navi.cn/forums/7/posts/657" target="_blank">漫谈端午</a></td>
                    <td width="20">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td class="text_Content"> 　　每年农历五月初五端午节，是一个多民族的全民健身、防疫祛病、避瘟驱毒、祈求健康的民俗佳节，它除了是纪念屈原的日子外，从某种意义上说，它也是中华民族最早的“卫生防疫日”...<a href="http://www.x-navi.cn/forums/7/posts/657" target="_blank">详情&gt;&gt;</a>&gt; <br />
                        <br /></td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="20">&nbsp;</td>
                    <td class="text_title"><a href="http://www.x-navi.cn/forums/6/posts/656" target="_blank">哪些人不宜食粽子</a></td>
                    <td width="20">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td class="text_Content">　　端午节吃粽子是我国民间的传统习俗。粽子清香淡雅，软糯滑腻，口味多样，颇受人们喜爱。然而，粽子用糯米做成，黏度高、不易消化、缺乏维生素等特点，也应当引起我们的注意....<a href="http://www.x-navi.cn/forums/6/posts/656" target="_blank">详情&gt;&gt;</a><br />
                        <br /></td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td class="text_title"><a href="http://www.x-navi.cn/forums/7/posts/659" target="_blank">专家提醒：“桌面粽子”电脑病毒端午节将爆发</a></td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td class="text_Content">　　端午假期，黑客很可能利用人们对节日问候的不设防，传播病毒。除了“桌面粽子”大面积爆发外，杀毒软件公司还检测到，与“端午”相关的文化、民俗类网站也相继被挂木马....<a href="http://www.x-navi.cn/forums/7/posts/659" target="_blank">详情&gt;&gt;</a><br />
                        <br /></td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td class="text_title"><a href="http://www.x-navi.cn/forums/7/posts/688" target="_blank">申城端午活动播报</a></td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td class="text_title"><a href="http://www.x-navi.cn/forums/7/posts/685" target="_blank">气象信息预报——高温天气本周唱“主角” </a></td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td class="text_title"><a href="http://iris.blog.x-navi.cn/articles/304" target="_blank">传统端午，玩乐上海3日完全计划</a><a href="http://www.x-navi.cn/forums/7/posts/661" target="_blank"></a></td>
                    <td>&nbsp;</td>
                  </tr>
                </table></td>
            </tr>
            <tr>
              <td height="680" align="left" valign="top" background="/images/topic/200905/200905_11.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="94">&nbsp;</td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    
                    <tr>
                      <td width="5%">&nbsp;</td>
                      <td width="59%" align="left" valign="top"><div align="center" class="text_title"><a href="http://www.x-navi.cn/articles/245" target="_blank">端午出发采桑椹 之崇明岛篇</a></div>
                          <span class="text_Content">　　五月的崇明完全浸陷在了无限的明媚春光中，绿得让人陶醉且无法自拔。首届崇明桑椹节正悄然地拉开了序幕，那昂然碧绿的桑园里，红彤彤、紫盈盈桑椹，正调皮地躲在肥大的桑叶下，等待着贪嘴的游客。然后再找个农家乐村庄住下，吃一顿崇明地道农家菜，这等悠然享受，怎一个“爽”字所能形容。

        桑树是古人频频生情为之赋诗赞叹的植物，“陌上桑未开，赠我鬓上钗。花下抟一笑，翠叶羞印腮。”写的就是桑树那种欲说还休的感觉。

       崇明岛自古就有养蚕风俗，它的气候、土壤和地理环境，都非常适合种植桑椹....<a href="http://www.x-navi.cn/articles/245" target="_blank">详细&gt;&gt;</a></span></td>
                      <td width="2%">&nbsp;</td>
                      <td width="34%"><img src="/images/topic/200905/sp05.jpg" width="131" height="139" /></td>
                    </tr>
                    <tr>
                      <td height="25">&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="5%">&nbsp;</td>
                      <td width="59%" align="left" valign="top"><div align="center" class="text_title"><a href="http://www.x-navi.cn/articles/280" target="_blank">端午出发采春桃 之奉贤申亚农园</a></div>
                          <span class="text_Content">　　南汇的桃花节才刚刚谢幕，没多久，奉贤的春桃节又尾随其后接踵而来，好热闹。淘淘乐，赏桃园，品春桃。桃子，也是这个春末夏初最火热爽口的水果了。


摘桃过程是最大的乐趣，一群群人，带着帽子，背着箩筐，摘了又摘，忍不住吃一口，调皮的也学猴哥醉酒吃“蟠桃”，笑声一片。桃林里采摘完，闲坐湖畔茶坊，喝茶品桃，不怕累的话还可以踩水车、推牛车、喂兔、喂鹅。中午餐就在桃园农家吃了，现摘现烧的茄子、丝瓜、毛豆等，野生的鱼、虾，还有最爱的新鲜玉米棒哦....<a href="http://www.x-navi.cn/articles/280" target="_blank">详细&gt;&gt;</a></span></td>
                      <td width="2%">&nbsp;</td>
                      <td width="34%"><img src="/images/topic/200905/sp06.jpg" width="131" height="139" /></td>
                    </tr>
                    <tr>
                      <td height="25">&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>

              </table></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
</div>
</body>
</html>
