<!-- saved from url=(0022)http://internet.e-mail -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>端午</title>
<style type="text/css">
<!--
body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.text_title {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	line-height: 26px;
}
.text_title a {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	line-height: 26px;
}
.text_Content {
	font-size: 12px;
	line-height: 18px;
	color: #539574;
}
.text_Content1 {
	font-size: 12px;
	line-height: 21px;
	color: #539574;
}
.text_g {
	font-size: 14px;
	color: #2B6B14;
}
.text_g a {
	font-size: 14px;
	color: #2B6B14;
	text-decoration: underline;
}
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
td {
	vertical-align: middle;
}
.view {
	text-align: right;
	vertical-align: bottom;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="952" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/topic/200906/top.jpg" width="952" height="194" /></td>
    </tr>
    <tr>
      <td height="8"></td>
    </tr>
    <tr>
      <td height="277" align="left" valign="top" background="/images/topic/200905/p_bg.jpg"><table width="100%" height="277" border="0" cellpadding="0" cellspacing="0" class="text_g">
        <tr>
          <td width="158" height="32" align="left">【大兴景点】</td>
          <td width="158" align="left">&nbsp;</td>
          <td width="158" align="left">【平谷区】</td>
          <td width="158" align="left">【顺义区】</td>
          <td width="158" align="left">【怀柔区】</td>
          <td width="158" align="left">&nbsp;</td>
          <td></td>
        </tr>
        <tr>
          <td height="150" align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/270" target="_blank"><img src="/images/topic/200905/lp01.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/275" target="_blank"><img src="/images/topic/200905/lp02.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/262" target="_blank"><img src="/images/topic/200905/lp03.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/268" target="_blank"><img src="/images/topic/200905/lp04.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/259" target="_blank"><img src="/images/topic/200905/lp05.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/260" target="_blank"><img src="/images/topic/200905/lp06.jpg" width="142" height="142" border="0" /></a></td>
          <td></td>
        </tr>
        <tr>
          <td height="50" align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/270" target="_blank">北京野生动物园</a></td>
          <td align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/275" target="_blank">大兴御林古桑园</a></td>
          <td align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/262" target="_blank">金海湖</a></td>
          <td align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/268" target="_blank">焦庄户地道战遗址<br />
            纪念馆</a></td>
          <td align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/259" target="_blank">长哨营满族乡</a></td>
          <td align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/260" target="_blank">黄花城水长城</a></td>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td height="45" align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/80734" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/80733" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/82390" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/83375" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/197895" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/79321" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom">&nbsp;</td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200905/200905_02.jpg" width="952" height="19" /></td>
    </tr>
    <tr>
      <td height="277" align="left" valign="top" background="/images/topic/200905/p_bg.jpg"><table width="100%" height="277" border="0" cellpadding="0" cellspacing="0" class="text_g">
        <tr>
          <td width="158" height="32" align="left">【密云县】</td>
          <td width="158" align="left">&nbsp;</td>
          <td width="158" align="left">&nbsp;</td>
          <td width="158" align="left">【房山区】</td>
          <td width="158" align="left">&nbsp;</td>
          <td width="158" align="left">&nbsp;</td>
          <td align="left">&nbsp;</td>
        </tr>
        <tr>
          <td height="150" align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/266" target="_blank"><img src="/images/topic/200905/lp07.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/265" target="_blank"><img src="/images/topic/200905/lp08.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/267" target="_blank"><img src="/images/topic/200905/lp09.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/272" target="_blank"><img src="/images/topic/200905/lp10.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://xnavistar.blog.x-http://xnavistar.blog.x-navi.cn/articles/277" target="_blank"><img src="/images/topic/200905/lp11.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/273" target="_blank"><img src="/images/topic/200905/lp12.jpg" width="142" height="142" border="0" /></a></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td height="50" align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/266" target="_blank">密云司马台长城</a></td>
          <td align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/265" target="_blank">黑龙潭</a></td>
          <td align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/267" target="_blank">云岫谷游猎风景区</a></td>
          <td align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/272" target="_blank">十渡风景区</a></td>
          <td align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/277" target="_blank">周口店遗址博物馆</a></td>
          <td align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/273" target="_blank">石花洞</a></td>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td height="45" align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/79322" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/82337" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/119924" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/80737" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/31148" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/80735" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom">&nbsp;</td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200905/200905_04.jpg" width="952" height="18" /></td>
    </tr>
    <tr>
      <td height="277" align="left" valign="top" background="/images/topic/200905/p_bg.jpg"><table width="100%" height="277" border="0" cellpadding="0" cellspacing="0" class="text_g">
        <tr>
          <td width="158" height="32" align="left">【延庆县】</td>
          <td width="158" align="left">&nbsp;</td>
          <td width="158" align="left">&nbsp;</td>
          <td width="158" align="left">【门头沟区】</td>
          <td width="158" align="left">&nbsp;</td>
          <td width="158" align="left">&nbsp;</td>
          <td align="left">&nbsp;</td>
        </tr>
        <tr>
          <td height="150" align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/257" target="_blank"><img src="/images/topic/200905/lp13.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/258" target="_blank"><img src="/images/topic/200905/lp14.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/256" target="_blank"><img src="/images/topic/200905/lp15.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/269" target="_blank"><img src="/images/topic/200905/lp16.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/271" target="_blank"><img src="/images/topic/200905/lp17.jpg" width="142" height="142" border="0" /></a></td>
          <td align="center" valign="middle"><a href="http://xnavistar.blog.x-navi.cn/articles/274" target="_blank"><img src="/images/topic/200905/lp18.jpg" width="142" height="142" border="0" /></a></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td height="50" align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/257" target="_blank">延庆康西草原</a></td>
          <td align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/258" target="_blank">龙庆峡风景区</a></td>
          <td align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/256" target="_blank">北京古崖居风景区</a></td>
          <td align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/269" target="_blank">爨底下</a></td>
          <td align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/271" target="_blank">妙峰山</a></td>
          <td align="center"><a href="http://xnavistar.blog.x-navi.cn/articles/274" target="_blank">潭柘寺</a></td>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td height="45" align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/79322" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/82594" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/79343" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/79831" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/31148" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom" class="view"><a href="http://www.x-navi.cn/hot_spots/30708" target="_blank"><img src="/images/topic/200905/View.jpg" width="137" height="41" border="0" /></a></td>
          <td align="right" valign="bottom">&nbsp;</td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="952" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="518" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="324" align="left" valign="top" background="/images/topic/200905/200905_06.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="5%" height="130">&nbsp;</td>
                  <td width="59%">&nbsp;</td>
                  <td width="2%">&nbsp;</td>
                  <td width="34%">&nbsp;</td>
                </tr>
                <tr>
                  <td height="163">&nbsp;</td>
                  <td align="left" valign="top"><div align="center" class="text_title"><strong><a href="http://xnavistar.blog.x-navi.cn/articles/271" target="_blank">古刹 奇松 怪石 玫瑰——妙峰山</a></strong></div>
                    <span class="text_Content">妙峰山主峰海拔1291米，为距京城最近的千米高山，为北京著名的“八顶”之一，以“金顶庙会”著称，主祀碧霞元君的娘娘庙“香火甲天下”，山脚下的涧沟村是我国的玫瑰之乡，培育千余亩世界驰名的妙峰玫瑰....<a href="http://xnavistar.blog.x-navi.cn/articles/271" target="_blank">详细&gt;&gt;</a> 
                    <br />
                    <br />
                    </span><span class="text_Content1"><a href="http://xnavistar.blog.x-navi.cn/articles/270" target="_blank">感受野生动物魅力 倡导人与自然的和谐                    </a><br />
                    <a href="http://xnavistar.blog.x-navi.cn/articles/272" target="_blank">山水入画 北方小桂林——十渡</a>
                    <br />
                    <a href="http://xnavistar.blog.x-navi.cn/articles/273" target="_blank">入石花洞 博览中国最佳溶洞奇观</a></span>
                  <td>&nbsp;</td>
                  <td><img src="/images/topic/200905/p01.jpg" width="131" height="139" /></td>
                </tr>
                
              </table></td>
            </tr>
            <tr>
              <td height="351" align="left" valign="top" background="/images/topic/200905/200905_09.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="5%" height="111">&nbsp;</td>
                  <td width="59%">&nbsp;</td>
                  <td width="2%">&nbsp;</td>
                  <td width="34%">&nbsp;</td>
                </tr>
                <tr>
                  <td height="172">&nbsp;</td>
                  <td align="left" valign="top"><div align="center" class="text_title"><a href="http://xnavistar.blog.x-navi.cn/articles/262" target="_blank">波光声色 尽展水上运动魅力——平谷金海湖</a></div>
                      <span class="text_Content">站在大堤上，东望烟波浩渺的湖面，北望巍然屹立的大金山，南望京东第一山——盘山，向西俯视是辽阔的平原大地，田园农舍。漫步长堤，微风拂面，清凉爽快，有心旷神怡之感…<a href="http://xnavistar.blog.x-navi.cn/articles/262" target="_blank">详细&gt;&gt;</a><br />
<br />
</span><span class="text_Content1"><a href="http://xnavistar.blog.x-navi.cn/articles/265" target="_blank">集水瀑之大全  赏黑龙潭奇迹</a><br />
<a href="http://xnavistar.blog.x-navi.cn/articles/258" target="_blank">游塞外漓江 舒山水情怀——龙庆峡</a><br />
<a href="http://xnavistar.blog.x-navi.cn/articles/260" target="_blank">潜龙入海  观黄花城水长城奇景</a></span></td>
                  <td>&nbsp;</td>
                  <td><img src="/images/topic/200905/p02.jpg" width="131" height="139" /></td>
                </tr>
                
              </table></td>
            </tr>
            <tr>
              <td height="340" align="left" valign="top" background="/images/topic/200905/200905_10.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="5%" height="90">&nbsp;</td>
                  <td width="59%">&nbsp;</td>
                  <td width="2%">&nbsp;</td>
                  <td width="34%">&nbsp;</td>
                </tr>
                <tr>
                  <td height="140">&nbsp;</td>
                  <td align="left" valign="top"><div align="center" class="text_title"><a href="http://xnavistar.blog.x-navi.cn/articles/256" target="_blank">千古迷洞——北京古崖居风景区</a></div>
                      <span class="text_Content">古崖居，一个千古之谜的人文遗迹。它座落在京郊延庆县西北部山区一条幽静的峡谷中，是由一支不见史志记载的古代先民在陡峭的岩壁上开凿的，是我国已发现的规模最大的崖居遗址....<a href="http://xnavistar.blog.x-navi.cn/articles/256" target="_blank">详细&gt;&gt;</a><br />
<br />
</span><span class="text_Content1"><a href="http://xnavistar.blog.x-navi.cn/articles/274" target="_blank">诞生于北京城之前 古刹潭柘</a><br />
<a href="http://xnavistar.blog.x-navi.cn/articles/266" target="_blank">爬司马台长城  感悟城砖上流过的历史</a><br />
<a href="http://xnavistar.blog.x-navi.cn/articles/268" target="_blank">红色印记  在地道中永存</a><br />
<a href="http://xnavistar.blog.x-navi.cn/articles/277" target="_blank">寻根问祖  周口店北京猿人遗址</a></span></td>
                  <td>&nbsp;</td>
                  <td><img src="/images/topic/200905/p03.jpg" width="131" height="139" /></td>
                </tr>
                
              </table></td>
            </tr>
            <tr>
              <td height="340" align="left" valign="top" background="/images/topic/200905/200905_12.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="5%" height="103">&nbsp;</td>
                  <td width="59%">&nbsp;</td>
                  <td width="2%">&nbsp;</td>
                  <td width="34%">&nbsp;</td>
                </tr>
                <tr>
                  <td height="140">&nbsp;</td>
                  <td align="left" valign="top"><div align="center" class="text_title"><a href="http://xnavistar.blog.x-navi.cn/articles/259" target="_blank">感受末代王朝风俗  走进长哨营满族乡</a></div>
                      <span class="text_Content">据说逢年过节，长哨营周围几十公里的农民，拿着自家产的、山上采的蘑菇、木耳、大扁和葫芦条等山货来到集市上出售，“山货大集”上热闹非凡，长哨营留有朴素的满族生活气息…<a href="http://xnavistar.blog.x-navi.cn/articles/259" target="_blank">详细&gt;&gt;</a><br />
<br />
</span><span class="text_Content1"><a href="http://xnavistar.blog.x-navi.cn/articles/269" target="_blank">爨底下  与世隔绝的四合院群落</a><br />
<a href="http://xnavistar.blog.x-navi.cn/articles/257" target="_blank">京郊一隅  领略草原风情</a><br />
<a href="http://xnavistar.blog.x-navi.cn/articles/267" target="_blank">游猎激情 只在云岫谷	</a></span></td>
                  <td>&nbsp;</td>
                  <td><img src="/images/topic/200905/p04.jpg" width="131" height="139" /></td>
                </tr>
                
              </table></td>
            </tr>
          </table></td>
          <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/topic/200905/200905_07-1.jpg" width="434" height="304" /></td>
            </tr>
            <tr>
              <td height="371" align="left" valign="top" background="/images/topic/200905/200905_08-1.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="7" width="20px"></td>
				  <td width="*"></td>
				  <td width="20px"></td>
                  </tr>
                </tr>
                <tr>
                  <td width="20">&nbsp;</td>
                  <td class="text_title"><a href="http://www.x-navi.cn/forums/5/posts/820" target="_blank">登山踏青小贴士</a></td>
                  <td width="20">&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td class="text_Content">周末假期，登山踏青，为了让您更好地融入自然，过一个真正地绿色时光，本帖特意为大家收集整理了一些登山踏青注意的知识，给大家的出行提供方便。                    </td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td width="20">&nbsp;</td>
                  <td class="text_title"><a href="http://www.x-navi.cn/forums/5/posts/821" target="_blank">银发族旅游保健之道</a>                
                    <a href="http://www.x-navi.cn/forums/6/posts/656" target="_blank"></a></td>
                  <td width="20">&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td class="text_Content">尽管银发族们有很强的出游热情，但老年人在体力和身体状况方面均不及年轻人，因此在旅游中有许多问题需要注意。请看看我们准备的老年人旅游注意事项吧！
                 
                    </td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td class="text_title"><a href="http://www.x-navi.cn/forums/5/posts/822" target="_blank">全市郊区十个旅游咨询站全面启动</a></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td class="text_Content">从京承高速怀柔出口驶出后，该怎么走才能到青龙峡景区？如果自驾游游客遇到了此类问题，位于高速公路通往各郊区县的出口处的10处“旅游咨询站”将为你答疑解惑。新落成的10个旅游咨询站都设立在游客出入最集中、最需要的地点。咨询站还设置了游客休息、旅游代理、农副产品展示、投诉受理等综合服务项目。<br />
                      <br /></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td align="right" class="text_title"><a href="http://www.x-navi.cn/forums/5/posts" target="_blank">更多…</a></td>
                  <td>&nbsp;</td>
                </tr>

              </table></td>
            </tr>
            <tr>
              <td height="680" align="left" valign="top" background="/images/topic/200905/200905_11.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="83">&nbsp;</td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    
                    <tr>
                      <td width="5%">&nbsp;</td>
                      <td width="59%" align="left" valign="top"><div align="center" class="text_title"><a href="http://xnavistar.blog.x-navi.cn/articles/278" target="_blank">大兴老宋瓜园 瓜声响当当</a></div>
                          <span class="text_Content">说道地道的西瓜，首选大兴；提起大兴，则会想起老宋瓜园，这里的西瓜是品牌货，注册了商标的。
西瓜吃的多却从没动手摘过，听说大兴西瓜能采摘了，快和朋友赶去凑个热闹。想象中，以为老宋瓜园是一望无际的露天瓜田，田间满是圆滚滚的西瓜....<a href="http://xnavistar.blog.x-navi.cn/articles/278" target="_blank">详细&gt;&gt;</a></span></td>
                      <td width="2%">&nbsp;</td>
                      <td width="34%"><img src="/images/topic/200905/p05.jpg" width="131" height="139" /></td>
                    </tr>
                    <tr>
                      <td height="25">&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="5%">&nbsp;</td>
                      <td width="59%" align="left" valign="top"><div align="center" class="text_title"><a href="http://xnavistar.blog.x-navi.cn/articles/276" target="_blank">暮春初夏 火红樱桃累满枝</a></div>
                          <span class="text_Content">“樱桃好吃树难栽”，海拔200米——500米的樱桃沟“冷湖”现象是门头沟山区樱桃区别于平原樱桃的独特气候条件。据了解，樱桃沟村种植樱桃至今已有300多年历史。种种有利于樱桃生长的条件，使这里培育的樱桃，果实色泽艳丽，晶莹美观，果肉柔软多汁，营养丰富，被誉为“珍果”，在清代一直是皇室贡品....<a href="http://xnavistar.blog.x-navi.cn/articles/276" target="_blank">详细&gt;&gt;</a></span></td>
                      <td width="2%">&nbsp;</td>
                      <td width="34%"><img src="/images/topic/200905/p06.jpg" width="131" height="139" /></td>
                    </tr>
                    <tr>
                      <td height="25">&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="5%">&nbsp;</td>
                      <td width="59%" align="left" valign="top"><div align="center" class="text_title"><a href="http://xnavistar.blog.x-navi.cn/articles/275" target="_blank">大兴御林古桑园  贯穿历史的味道</a></div>
                          <span class="text_Content">御林古桑园是华北地区面积最大的古桑林，总面积300亩，园内古树500余棵，位于北京市大兴区安定镇前野厂村。相传字东汉年间就有桑树种植，曾在这里留下了“桑葚窑洼救刘秀，感恩图报树封王”的千古佳话，其中树龄最老的达500年以上，明清时期所产的桑葚一度作为贡品出现在皇宫院内....<a href="http://xnavistar.blog.x-navi.cn/articles/275" target="_blank">详细&gt;&gt;</a></span></td>
                      <td width="2%">&nbsp;</td>
                      <td width="34%"><img src="/images/topic/200905/p07.jpg" width="131" height="139" /></td>
                    </tr>
                    
                  </table></td>
                </tr>

              </table></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
</div>
</body>
</html>
