<% page_title @topic.title -%>

<div align="center">
  <table width="960" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/topic/200914/200914_01.jpg" width="960" height="364" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200914/200914_02.jpg" width="960" height="54" /></td>
    </tr>
    <tr>
      <td><table width="960" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="/images/topic/200914/200914_03.jpg" width="480" height="557" border="0" usemap="#Map" /></td>
          <td><img src="/images/topic/200914/200914_04.jpg" width="480" height="557" border="0" usemap="#Map2" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200914/200914_05.jpg" width="960" height="451" border="0" usemap="#Map3" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200914/200914_06.jpg" width="960" height="79" /></td>
    </tr>
    <tr>
      <td><table width="960" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="90"><img src="/images/topic/200914/200914_07.jpg" width="90" height="458" /></td>
          <td width="213"><img src="/images/topic/200914/200914_08.jpg" width="213" height="458" border="0" usemap="#Map4" /></td>
          <td width="213"><img src="/images/topic/200914/200914_09.jpg" width="213" height="458" border="0" usemap="#Map5" /></td>
          <td width="208"><img src="/images/topic/200914/200914_10.jpg" width="208" height="458" border="0" usemap="#Map6" /></td>
          <td width="210"><img src="/images/topic/200914/200914_11.jpg" width="210" height="458" border="0" usemap="#Map7" /></td>
          <td width="26"><img src="/images/topic/200914/200914_12.jpg" width="26" height="458" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200914/200914_13.jpg" width="960" height="282" border="0" usemap="#Map8" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200914/200914_14.jpg" width="960" height="51" /></td>
    </tr>
    <tr>
      <td><table width="960" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="35"><img src="/images/topic/200914/200914_15.jpg" width="35" height="570" /></td>
          <td width="212"><img src="/images/topic/200914/200914_16.jpg" width="212" height="570" border="0" usemap="#Map9" /></td>
          <td width="219"><img src="/images/topic/200914/200914_17.jpg" width="219" height="570" border="0" usemap="#Map10" /></td>
          <td width="222"><img src="/images/topic/200914/200914_18.jpg" width="222" height="570" border="0" usemap="#Map11" /></td>
          <td width="272"><img src="/images/topic/200914/200914_19.jpg" width="272" height="570" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200914/200914_20.jpg" width="960" height="46" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200914/200914_21.jpg" width="960" height="254" border="0" usemap="#Map12" /></td>
    </tr>
    <tr>
      <td><table width="960" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="383"><img src="/images/topic/200914/200914_22.jpg" width="383" height="479" border="0" usemap="#Map13" /></td>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="577"><img src="/images/topic/200914/200914_23.jpg" width="577" height="348" border="0" usemap="#Map14" /></td>
            </tr>
            <tr>
              <td width="577"><img src="/images/topic/200914/200914_24.jpg" width="577" height="131" border="0" usemap="#Map15" /></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>

    <tr>
      <td><img src="/images/topic/200914/200914_25.jpg" width="960" height="37" /></td>
    </tr>
  </table>
</div>

<map name="Map" id="Map"><area shape="rect" coords="143,70,392,97" href="http://iris.blog.tiexin.com/articles/656" target="_blank" />
<area shape="rect" coords="54,223,139,245" href="http://iris.blog.tiexin.com/articles/657" target="_blank" />
<area shape="rect" coords="220,352,327,375" href="http://iris.blog.tiexin.com/articles/658" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="54,74,224,94" href="http://iris.blog.tiexin.com/articles/659" target="_blank" />
<area shape="rect" coords="207,221,436,241" href="http://iris.blog.tiexin.com/articles/660" target="_blank" />
<area shape="rect" coords="54,351,266,375" href="http://iris.blog.tiexin.com/articles/664" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="185,69,337,93" href="http://www.tiexin.com/articles/663" target="_blank" />
<area shape="rect" coords="188,151,368,174" href="http://www.tiexin.com/articles/665" target="_blank" />
<area shape="rect" coords="184,230,325,252" href="http://www.tiexin.com/articles/666" target="_blank" />
<area shape="rect" coords="187,330,310,354" href="http://www.tiexin.com/articles/667" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="25,23,193,255" href="http://www.tiexin.com/articles/671" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="19,21,186,251" href="http://www.tiexin.com/articles/672" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="23,24,184,258" href="http://www.tiexin.com/articles/673" target="_blank" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="22,23,189,257" href="http://www.tiexin.com/articles/674" target="_blank" />
</map>
<map name="Map8" id="Map8"><area shape="rect" coords="96,66,271,99" href="http://www.tiexin.com/articles/678" target="_blank" />
<area shape="rect" coords="94,191,235,219" href="http://www.tiexin.com/articles/675" target="_blank" />
</map>
<map name="Map9" id="Map9"><area shape="rect" coords="30,104,180,241" href="http://www.tiexin.com/brands/9" target="_blank" />
<area shape="rect" coords="32,246,180,379" href="http://www.tiexin.com/brands/2473" target="_blank" />
<area shape="rect" coords="31,387,181,524" href="http://www.tiexin.com/brands/2653" target="_blank" />
</map>
<map name="Map10" id="Map10"><area shape="rect" coords="36,107,190,240" href="http://www.tiexin.com/hot_spots/158942" target="_blank" />
<area shape="rect" coords="36,245,188,380" href="http://www.tiexin.com/brands/3125" target="_blank" />
<area shape="rect" coords="37,385,187,519" href="http://www.tiexin.com/hot_spots/70853" target="_blank" />
</map>
<map name="Map11" id="Map11"><area shape="rect" coords="41,104,190,242" href="http://www.tiexin.com/hot_spots/166957" target="_blank" />
<area shape="rect" coords="39,244,189,382" href="http://www.tiexin.com/hot_spots/85844" target="_blank" />
<area shape="rect" coords="38,384,188,522" href="http://www.tiexin.com/brands/2886" target="_blank" />
</map>

<map name="Map12" id="Map12"><area shape="circle" coords="230,105,84" href="http://www.tiexin.com/hot_spots/92601" target="_blank" />
<area shape="circle" coords="418,137,77" href="http://www.tiexin.com/hot_spots/222874" target="_blank" />
<area shape="circle" coords="616,93,89" href="http://www.tiexin.com/hot_spots/207291" target="_blank" />
<area shape="circle" coords="839,137,86" href="http://www.tiexin.com/hot_spots/167969" target="_blank" />
</map>
<map name="Map13" id="Map13"><area shape="rect" coords="30,239,275,280" href="http://www.tiexin.com/forums/6/posts/2897" target="_blank" />
<area shape="rect" coords="28,280,262,317" href="http://www.tiexin.com/forums/6/posts/2898" target="_blank" />
<area shape="rect" coords="29,321,275,356" href="http://www.tiexin.com/forums/6/posts/2899" target="_blank" />
<area shape="rect" coords="27,359,363,395" href="http://www.tiexin.com/forums/7/posts/2879" target="_blank" />
<area shape="rect" coords="24,397,237,436" href="http://www.tiexin.com/forums/7/posts/2877" target="_blank" />
</map>
<map name="Map14" id="Map14"><area shape="rect" coords="266,35,434,70" href="http://www.tiexin.com/articles/711" target="_blank" />
<area shape="rect" coords="265,106,501,143" href="http://www.tiexin.com/articles/668" target="_blank" />
<area shape="rect" coords="267,232,539,269" href="http://www.tiexin.com/articles/669" target="_blank" />
</map>
<map name="Map15" id="Map15"><area shape="rect" coords="10,2,286,58" href="http://www.tiexin.com/cities/2/topics/4" target="_blank" />
<area shape="rect" coords="295,7,554,57" href="http://www.tiexin.com/cities/2/topics/6" target="_blank" />
<area shape="rect" coords="10,60,286,115" href="http://www.tiexin.com/cities/2/topics/9" target="_blank" />
<area shape="rect" coords="298,60,553,118" href="http://www.tiexin.com/cities/2/topics/12" target="_blank" />
</map>
