<% page_title @topic.name -%>
<div align="center">
  <table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/topic/200920/200920_01.jpg" width="950" height="295" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200920/200920_02.jpg" width="950" height="341" border="0" usemap="#Map" /></td>
    </tr>
    <tr>
      <td><table width="950" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="395"><img src="/images/topic/200920/200920_03.jpg" width="395" height="758" border="0" usemap="#Map3" /></td>
          <td width="555"><img src="/images/topic/200920/200920_04.jpg" width="555" height="758" border="0" usemap="#Map2" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200920/200920_05.jpg" width="950" height="240" border="0" usemap="#Map4" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200920/200920_06.jpg" width="950" height="183" border="0" usemap="#Map5" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200920/200920_07.jpg" width="950" height="183" border="0" usemap="#Map6" /></td>
    </tr>
    <tr>
      <td><table width="950" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="436"><img src="/images/topic/200920/200920_08.jpg" width="436" height="600" border="0" usemap="#Map9" /></td>
          <td width="514"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/topic/200920/200920_09.jpg" width="514" height="270" border="0" usemap="#Map7" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200920/200920_10.jpg" width="514" height="330" border="0" usemap="#Map8" /></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
</div>

<map name="Map" id="Map"><area shape="rect" coords="155,53,266,184" href="http://www.tiexin.com/hot_spots/94494" target="_blank" />
<area shape="rect" coords="155,189,268,325" href="http://www.tiexin.com/hot_spots/105421" target="_blank" />
<area shape="rect" coords="412,53,522,185" href="http://www.tiexin.com/hot_spots/114340" target="_blank" />
<area shape="rect" coords="412,190,522,326" href="http://www.tiexin.com/hot_spots/129117" target="_blank" />
<area shape="rect" coords="666,53,776,185" href="http://www.tiexin.com/hot_spots/183529" target="_blank" />
<area shape="rect" coords="666,189,776,324" href="http://www.tiexin.com/hot_spots/126259" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="236,38,391,71" href="http://www.tiexin.com/hot_spots/75122" target="_blank" />
<area shape="rect" coords="372,161,488,191" href="http://www.tiexin.com/hot_spots/68692" target="_blank" />
<area shape="rect" coords="182,271,250,299" href="http://www.tiexin.com/hot_spots/158944" target="_blank" />
<area shape="rect" coords="347,375,481,406" href="http://www.tiexin.com/hot_spots/70848" target="_blank" />
<area shape="rect" coords="186,516,342,544" href="http://www.tiexin.com/hot_spots/73200" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="199,133,362,165" href="http://www.tiexin.com/hot_spots/109972" target="_blank" />
<area shape="rect" coords="197,255,280,282" href="http://www.tiexin.com/hot_spots/118019" target="_blank" />
<area shape="rect" coords="200,376,300,401" href="http://www.tiexin.com/hot_spots/110481" target="_blank" />
<area shape="rect" coords="199,496,319,522" href="http://www.tiexin.com/hot_spots/115426" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="31,88,158,222" href="http://www.tiexin.com/hot_spots/71431" target="_blank" />
<area shape="rect" coords="341,85,470,229" href="http://www.tiexin.com/hot_spots/133148" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="26,26,160,158" href="http://www.tiexin.com/hot_spots/165140" target="_blank" />
<area shape="rect" coords="343,29,473,165" href="http://www.tiexin.com/hot_spots/165141" target="_blank" />
<area shape="rect" coords="654,29,780,160" href="http://www.tiexin.com/hot_spots/165142" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="32,27,159,157" href="http://www.tiexin.com/hot_spots/165143" target="_blank" />
<area shape="rect" coords="344,27,471,160" href="http://www.tiexin.com/hot_spots/75012" target="_blank" />
<area shape="rect" coords="651,27,782,159" href="http://www.tiexin.com/hot_spots/165145" target="_blank" />
</map>
<map name="Map7" id="Map7">
<area shape="poly" coords="75,162,307,56,323,79,89,188,76,162" href="http://iris.blog.tiexin.com/articles/905" target="_blank" />
<area shape="poly" coords="90,193,453,25,468,48,100,215,90,192" href="http://baby.blog.tiexin.com/articles/1059" target="_blank" />
<area shape="poly" coords="106,220" href="#" /><area shape="poly" coords="106,221,319,124,333,145,115,249,107,222" href="http://iris.blog.tiexin.com/articles/912" target="_blank" />
</map>
<map name="Map8" id="Map8">
<area shape="poly" coords="84,167,442,5,454,20,94,186,84,167" href="http://www.tiexin.com/forums/7/posts/3775" target="_blank" />
<area shape="poly" coords="103,193,313,99,323,115,111,214,102,191" href="http://www.tiexin.com/forums/5/posts/3860" target="_blank" />
<area shape="poly" coords="115,222,359,111,367,130,124,243,115,223" href="http://www.tiexin.com/forums/7/posts/4364" target="_blank" />
<area shape="poly" coords="126,251,216,210,225,231,137,272,127,250" href="http://www.tiexin.com/forums/7/posts/4365" target="_blank" />
</map>
<map name="Map9" id="Map9"><area shape="rect" coords="8,505,104,529" href="http://www.tiexin.com/cities/2/topics/4" target="_blank" />
<area shape="rect" coords="111,506,204,531" href="http://www.tiexin.com/cities/2/topics/6" target="_blank" />
<area shape="rect" coords="208,503,271,530" href="http://www.tiexin.com/cities/2/topics/9" target="_blank" />
<area shape="rect" coords="277,505,278,506" href="#" /><area shape="rect" coords="286,501,400,528" href="http://www.tiexin.com/cities/2/topics/12" target="_blank" />
<area shape="rect" coords="5,533,135,556" href="http://www.tiexin.com/cities/2/topics/15" target="_blank" />
<area shape="rect" coords="148,532,238,558" href="http://www.tiexin.com/cities/2/topics/17" target="_blank" />
<area shape="rect" coords="248,533,334,555" href="http://www.tiexin.com/cities/2/topics/20" target="_blank" />
</map>
