<% page_title @topic.name -%>
<div align="center">

<table width="948" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_01.gif" width="948" height="35" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_02.gif" width="948" height="35" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_03.gif" width="948" height="35" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_04.gif" width="948" height="35" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_05.gif" width="948" height="36" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_06.gif" width="948" height="35" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_07.gif" width="948" height="35" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_08.gif" width="948" height="35" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_09.gif" width="948" height="35" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_10.gif" alt="" width="948" height="189" border="0" usemap="#Map"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_11.gif" alt="" width="948" height="34" border="0" usemap="#Map3"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_12.gif" alt="" width="948" height="36" border="0" usemap="#Map4"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_13.gif" alt="" width="948" height="46" border="0" usemap="#Map2"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_14.gif" alt="" width="948" height="386" border="0" usemap="#Map5"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_15.gif" width="948" height="31" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_16.gif" width="948" height="31" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_17.gif" alt="" width="948" height="31" border="0" usemap="#Map6"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_18.gif" alt="" width="948" height="327" border="0" usemap="#Map7"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_19.gif" alt="" width="948" height="209" border="0" usemap="#Map8"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_20.gif" alt="" width="948" height="39" border="0" usemap="#Map9"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_21.gif" alt="" width="948" height="46" border="0" usemap="#Map10"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_22.gif" alt="" width="948" height="54" border="0" usemap="#Map11"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_23.gif" width="948" height="34" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_24.gif" width="948" height="44" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_25.gif" width="948" height="44" alt=""></td>
	</tr>
	<tr>
		<td  colspan="2">
			<img src="/images/topic/201005/201005_26.gif" alt="" width="948" height="256" border="0" usemap="#Map12" /></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_28.gif" width="948" height="37" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_29.gif" alt="" width="948" height="36" border="0" usemap="#Map15"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_30.gif" alt="" width="948" height="199" border="0" usemap="#Map13"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_31.gif" alt="" width="948" height="50" border="0" usemap="#Map14"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_32.gif" alt="" width="948" height="49" border="0" usemap="#Map16"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_33.gif" alt="" width="948" height="50" border="0" usemap="#Map17"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_34.gif" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_35.gif" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_36.gif" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_37.gif" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_38.gif" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_39.gif" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_40.gif" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_41.gif" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_42.gif" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_43.gif" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_44.gif" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_45.gif" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_46.gif" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_47.gif" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_48.gif" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_49.gif" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_50.gif" alt="" width="948" height="48" border="0" usemap="#Map18"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_51.gif" alt="" width="948" height="47" border="0" usemap="#Map19"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_52.gif" width="948" height="40" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_53.gif" alt="" width="948" height="55" border="0" usemap="#Map20"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_54.gif" alt="" width="948" height="48" border="0" usemap="#Map21"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_55.gif" alt="" width="948" height="55" border="0" usemap="#Map22"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_56.gif" width="948" height="40" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_57.gif" width="948" height="47" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_58.gif" alt="" width="948" height="194" border="0" usemap="#Map23"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_59.gif" alt="" width="948" height="66" border="0" usemap="#Map24"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_60.gif" width="948" height="57" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_61.gif" alt="" width="948" height="44" border="0" usemap="#Map28"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_62.gif" width="948" height="45" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_63.gif" alt="" width="948" height="46" border="0" usemap="#Map25"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_64.gif" width="948" height="44" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_65.gif" alt="" width="948" height="47" border="0" usemap="#Map26"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_66.gif" width="948" height="47" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_67.gif" alt="" width="948" height="48" border="0" usemap="#Map27"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_68.gif" width="948" height="36" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_69.gif" alt="" width="948" height="44" border="0" usemap="#Map29"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_70.gif" width="948" height="27" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_71.gif" alt="" width="948" height="148" border="0" usemap="#Map30"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/topic/201005/201005_72.gif" width="948" height="33" alt=""></td>
	</tr>
</table>
<!-- End ImageReady Slices -->

<map name="Map"><area shape="rect" coords="81,10,871,190" href="http://www.tiexin.com/forums/7/posts/6619" target="_blank">
</map>
<map name="Map2"><area shape="rect" coords="816,29,904,47" href="http://www.tiexin.com/forums/7/posts/6619" target="_blank">
</map>
<map name="Map3"><area shape="rect" coords="70,14,211,33" href="http://www.tiexin.com/hot_spots/228471" target="_blank">
</map>
<map name="Map4"><area shape="rect" coords="72,3,228,22" href="http://www.tiexin.com/hot_spots/228472" target="_blank">
</map>
<map name="Map5">
  <area shape="rect" coords="15,71,178,92" href="http://www.tiexin.com/forums/7/posts/6626?page=1" target="_blank">
<area shape="rect" coords="173,279,257,297" href="http://www.tiexin.com/forums/7/posts/6626?page=1" target="_blank">
<area shape="poly" coords="261,24,459,14,473,322,275,330" href="http://www.tiexin.com/forums/7/posts/6626?page=1" target="_blank">
<area shape="poly" coords="661,371,745,47,568,2,502,2,468,137,476,322" href="http://www.tiexin.com/vendor/hot_spot/199558/events/3120" target="_blank">
<area shape="rect" coords="707,49,946,83" href="http://www.tiexin.com/vendor/hot_spot/199558/events/3120" target="_blank">
<area shape="rect" coords="835,366,920,385" href="http://www.tiexin.com/vendor/hot_spot/199558/events/3120" target="_blank">
<area shape="poly" coords="515,338,642,371,636,383,511,353" href="http://www.tiexin.com/hot_spots/199558" target="_blank">
</map>
<map name="Map6"><area shape="poly" coords="443,11" href="#"></map>
<map name="Map7"><area shape="poly" coords="443,137" href="#"><area shape="rect" coords="41,11,259,306" href="http://www.tiexin.com/vendor/hot_spot/133896/events/3147" target="_blank">
<area shape="rect" coords="274,7,661,53" href="http://www.tiexin.com/vendor/hot_spot/133896/events/3147" target="_blank">
<area shape="rect" coords="347,98,467,117" href="http://www.tiexin.com/hot_spots/133896" target="_blank">
<area shape="rect" coords="717,61,920,78" href="http://www.tiexin.com/vendor/hot_spot/223633/events/3157" target="_blank">
<area shape="rect" coords="728,126,910,161" href="http://www.tiexin.com/vendor/hot_spot/133894/events/3154" target="_blank">
<area shape="rect" coords="759,219,869,239" href="http://www.tiexin.com/vendor/hot_spot/17275/events/3057" target="_blank">
<area shape="rect" coords="725,291,910,325" href="http://www.tiexin.com/vendor/hot_spot/214377/events/3066" target="_blank">
</map>
<map name="Map8"><area shape="rect" coords="22,15,229,168" href="http://www.tiexin.com/vendor/hot_spot/133895/events/3153" target="_blank">
<area shape="rect" coords="21,174,179,207" href="http://www.tiexin.com/vendor/hot_spot/133895/events/3153" target="_blank">
<area shape="rect" coords="253,15,455,168" href="http://www.tiexin.com/vendor/hot_spot/223633/events/3158" target="_blank">
<area shape="rect" coords="246,173,459,206" href="http://www.tiexin.com/vendor/hot_spot/223633/events/3158" target="_blank">
<area shape="rect" coords="479,14,678,167" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3064" target="_blank">
<area shape="rect" coords="481,174,667,206" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3064" target="_blank">
<area shape="rect" coords="739,53,896,87" href="http://www.tiexin.com/vendor/hot_spot/133894/events/3155" target="_blank">
<area shape="rect" coords="712,154,925,189" href="http://www.tiexin.com/vendor/hot_spot/133886/events/3054" target="_blank">
</map>
<map name="Map9"><area shape="rect" coords="85,22,205,37" href="http://www.tiexin.com/hot_spots/133895" target="_blank">
<area shape="rect" coords="315,21,434,37" href="http://www.tiexin.com/hot_spots/223633" target="_blank">
<area shape="rect" coords="544,21,598,38" href="http://www.tiexin.com/hot_spots/9158" target="_blank">
</map>
<map name="Map10"><area shape="rect" coords="727,6,912,40" href="http://www.tiexin.com/vendor/hot_spot/135701/events/3115" target="_blank">
</map>
<map name="Map11"><area shape="rect" coords="823,35,922,52" href="http://www.tiexin.com/cities/1/city_events" target="_blank">
</map>
 <map name="Map12">
		    <area shape="rect" coords="55,9,255,251" href="http://www.tiexin.com/vendor/hot_spot/17275/events/3058" target="_blank" />
            <area shape="rect" coords="281,3,581,48" href="http://www.tiexin.com/vendor/hot_spot/17275/events/3058" target="_blank" />
            <area shape="rect" coords="348,96,404,112" href="http://www.tiexin.com/hot_spots/17275" target="_blank" />
            <area shape="rect" coords="772,54,861,76" href="http://www.tiexin.com/vendor/hot_spot/214376/events/3111" target="_blank" />
            <area shape="rect" coords="751,133,889,154" href="http://www.tiexin.com/vendor/hot_spot/17275/events/3060" target="_blank" />
            <area shape="rect" coords="741,201,894,232" href="http://www.tiexin.com/vendor/hot_spot/192585/events/3109" target="_blank" />
          </map>
<map name="Map13"><area shape="rect" coords="23,8,228,161" href="http://www.tiexin.com/vendor/hot_spot/214377/events/3077" target="_blank">
<area shape="rect" coords="22,177,185,196" href="http://www.tiexin.com/vendor/hot_spot/214377/events/3077" target="_blank">
<area shape="rect" coords="252,8,455,162" href="http://www.tiexin.com/vendor/hot_spot/213679/events/3118" target="_blank">
<area shape="rect" coords="254,168,460,200" href="http://www.tiexin.com/vendor/hot_spot/213679/events/3118" target="_blank">
<area shape="rect" coords="479,8,681,160" href="http://www.tiexin.com/vendor/hot_spot/199550/events/3090" target="_blank">
<area shape="rect" coords="478,176,666,194" href="http://www.tiexin.com/vendor/hot_spot/199550/events/3090" target="_blank">
<area shape="rect" coords="721,45,918,79" href="http://www.tiexin.com/vendor/hot_spot/200907/events/3079" target="_blank">
<area shape="rect" coords="726,162,905,181" href="http://www.tiexin.com/vendor/hot_spot/198983/events/3086" target="_blank">
</map>
<map name="Map14"><area shape="rect" coords="86,24,231,41" href="http://www.tiexin.com/hot_spots/214377" target="_blank">
<area shape="rect" coords="316,24,404,42" href="http://www.tiexin.com/hot_spots/213679" target="_blank">
<area shape="rect" coords="542,25,593,41" href="http://www.tiexin.com/hot_spots/199550" target="_blank">
</map>
<map name="Map15"><area shape="rect" coords="761,5,870,28" href="http://www.tiexin.com/vendor/hot_spot/14641/events/3081" target="_blank">
</map>
<map name="Map16"><area shape="rect" coords="720,15,916,34" href="http://www.tiexin.com/vendor/hot_spot/9313/events/3114" target="_blank">
</map>
<map name="Map17"><area shape="rect" coords="818,24,923,46" href="http://www.tiexin.com/cities/1/city_events" target="_blank">
</map>
<map name="Map18"><area shape="rect" coords="770,6,859,24" href="http://www.tiexin.com/forums/7/posts/6700" target="_blank">
</map>
<map name="Map19"><area shape="rect" coords="777,27,857,50" href="http://www.tiexin.com/forums/7/posts/6700" target="_blank">
</map>
<map name="Map20"><area shape="rect" coords="754,5,876,29" href="http://www.tiexin.com/forums/7/posts/6700" target="_blank">
</map>
<map name="Map21"><area shape="rect" coords="779,26,847,46" href="http://www.tiexin.com/forums/7/posts/6700" target="_blank">
</map>
<map name="Map22"><area shape="rect" coords="812,29,930,47" href="http://www.tiexin.com/forums/7/posts/6700" target="_blank">
</map>
<map name="Map23"><area shape="rect" coords="22,6,228,157" href="http://www.tiexin.com/vendor/hot_spot/105593/events/3139" target="_blank">
<area shape="rect" coords="21,165,219,192" href="http://www.tiexin.com/vendor/hot_spot/105593/events/3139" target="_blank">
<area shape="rect" coords="251,6,456,157" href="http://www.tiexin.com/vendor/hot_spot/111294/events/3129" target="_blank">
<area shape="rect" coords="255,173,454,192" href="http://www.tiexin.com/vendor/hot_spot/111294/events/3129" target="_blank">
<area shape="rect" coords="479,6,681,158" href="http://www.tiexin.com/vendor/hot_spot/152384/events/3135" target="_blank">
<area shape="rect" coords="478,172,685,192" href="http://www.tiexin.com/vendor/hot_spot/152384/events/3135" target="_blank">
<area shape="rect" coords="741,77,910,100" href="http://www.tiexin.com/vendor/hot_spot/152316/events/3127" target="_blank">
<area shape="rect" coords="722,160,917,178" href="http://www.tiexin.com/vendor/hot_spot/152384/events/3137" target="_blank">
</map>
<map name="Map24"><area shape="rect" coords="87,26,157,41" href="http://www.tiexin.com/hot_spots/105593" target="_blank">
<area shape="rect" coords="315,26,434,43" href="http://www.tiexin.com/hot_spots/111294" target="_blank">
<area shape="rect" coords="543,24,666,41" href="http://www.tiexin.com/hot_spots/152384" target="_blank">
<area shape="rect" coords="733,43,901,62" href="http://www.tiexin.com/vendor/hot_spot/1470/events/3125" target="_blank">
</map>
<map name="Map25"><area shape="rect" coords="69,24,233,43" href="http://www.tiexin.com/vendor/hot_spot/152384/events/3138" target="_blank">
<area shape="rect" coords="781,6,859,24" href="http://www.tiexin.com/vendor/hot_spot/111294/events/3128" target="_blank">
</map>
<map name="Map26"><area shape="rect" coords="70,21,378,41" href="http://www.tiexin.com/vendor/hot_spot/228474/events/3145" target="_blank">
<area shape="rect" coords="726,16,911,38" href="http://www.tiexin.com/vendor/hot_spot/105593/events/3140" target="_blank">
</map>
<map name="Map27"><area shape="rect" coords="70,20,387,38" href="http://www.tiexin.com/vendor/hot_spot/228475/events/3161" target="_blank">
<area shape="rect" coords="735,24,907,43" href="http://www.tiexin.com/vendor/hot_spot/190706/events/3130" target="_blank">
</map>
<map name="Map28"><area shape="rect" coords="752,2,883,23" href="http://www.tiexin.com/vendor/hot_spot/152384/events/3136" target="_blank">
</map>
<map name="Map29"><area shape="rect" coords="800,1,912,21" href="http://www.tiexin.com/cities/1/city_events" target="_blank">
</map>
<map name="Map30"><area shape="rect" coords="113,5,294,121" href="http://www.tiexin.com/cities/1/topics/3" target="_blank">
<area shape="rect" coords="146,127,258,148" href="http://www.tiexin.com/cities/1/topics/3" target="_blank">
<area shape="rect" coords="331,6,511,119" href="http://www.tiexin.com/cities/1/topics/5" target="_blank">
<area shape="rect" coords="345,127,501,146" href="http://www.tiexin.com/cities/1/topics/5" target="_blank">
<area shape="rect" coords="549,4,732,122" href="http://www.tiexin.com/cities/1/topics/8" target="_blank">
<area shape="rect" coords="595,125,692,146" href="http://www.tiexin.com/cities/1/topics/8" target="_blank">
</map>
</div>