<% page_title @topic.name -%>


<div align="center">
  <table width="948" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/topic/200912/0912_03.jpg" width="948" height="215" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200912/0912_05.jpg" width="948" height="55" /></td>
    </tr>
    <tr>
      <td><table width="948" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="254"><img src="/images/topic/200912/0912_06.jpg" width="254" height="327" border="0" usemap="#Map2" /></td>
          <td width="223"><img src="/images/topic/200912/0912_07.jpg" width="223" height="327" border="0" usemap="#Map3" /></td>
          <td width="225"><img src="/images/topic/200912/0912_08.jpg" width="225" height="327" border="0" usemap="#Map4" /></td>
          <td width="246"><img src="/images/topic/200912/0912_09.jpg" width="246" height="327" border="0" usemap="#Map5" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="948" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="702"><img src="/images/topic/200912/0912_10.jpg" width="702" height="358" border="0" usemap="#Map" /></td>
          <td width="246"><img src="/images/topic/200912/0912_11.jpg" width="246" height="358" border="0" usemap="#Map6" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200912/0912_12.jpg" width="948" height="66" /></td>
    </tr>
    <tr>
      <td><table width="948" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="254"><img src="/images/topic/200912/0912_13.jpg" width="254" height="372" border="0" usemap="#Map8" /></td>
          <td width="223"><img src="/images/topic/200912/0912_14.jpg" width="223" height="372" border="0" usemap="#Map9" /></td>
          <td width="225"><img src="/images/topic/200912/0912_15.jpg" width="225" height="372" border="0" usemap="#Map10" /></td>
          <td width="246"><img src="/images/topic/200912/0912_16.jpg" width="246" height="372" border="0" usemap="#Map11" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="948" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="688"><img src="/images/topic/200912/0912_17.jpg" width="688" height="340" border="0" usemap="#Map7" /></td>
          <td width="260"><img src="/images/topic/200912/0912_18.jpg" width="260" height="340" border="0" usemap="#Map12" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200912/0912_19.jpg" width="948" height="73" /></td>
    </tr>
    <tr>
      <td><table width="948" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="254"><img src="/images/topic/200912/0912_20.jpg" width="254" height="379" border="0" usemap="#Map14" /></td>
          <td width="223"><img src="/images/topic/200912/0912_21.jpg" width="223" height="379" border="0" usemap="#Map15" /></td>
          <td width="225"><img src="/images/topic/200912/0912_22.jpg" width="225" height="379" border="0" usemap="#Map16" /></td>
          <td width="246"><img src="/images/topic/200912/0912_23.jpg" width="246" height="379" border="0" usemap="#Map17" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="948" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="688"><img src="/images/topic/200912/0912_24.jpg" width="688" height="332" border="0" usemap="#Map13" /></td>
          <td width="260"><img src="/images/topic/200912/0912_25.jpg" width="260" height="332" border="0" usemap="#Map18" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200912/0912_26.jpg" width="948" height="74" /></td>
    </tr>
    <tr>
      <td><table width="948" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="254"><img src="/images/topic/200912/0912_27.jpg" width="254" height="477" /></td>
          <td width="223"><img src="/images/topic/200912/0912_28.jpg" width="223" height="477" /></td>
          <td width="225"><img src="/images/topic/200912/0912_29.jpg" width="225" height="477" /></td>
          <td width="246"><img src="/images/topic/200912/0912_30.jpg" width="246" height="477" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="948" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="688"><img src="/images/topic/200912/0912_31.jpg" width="688" height="346" /></td>
          <td width="260"><img src="/images/topic/200912/0912_32.jpg" width="260" height="346" border="0" usemap="#Map19" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="948" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="590"><img src="/images/topic/200912/0912_33.jpg" alt="" width="590" height="519" border="0" usemap="#Map22" />
            <map name="Map22" id="Map22">
              <area shape="rect" coords="30,45,128,169" href="http://www.tiexin.com/hot_spots/110462" target="_blank" />
              <area shape="rect" coords="141,46,241,174" href="http://www.tiexin.com/hot_spots/11778" target="_blank" />
              <area shape="rect" coords="253,43,352,174" href="http://www.tiexin.com/hot_spots/9221" target="_blank" />
              <area shape="rect" coords="361,45,461,173" href="http://www.tiexin.com/hot_spots/133886" target="_blank" />
              <area shape="rect" coords="473,45,569,174" href="http://www.tiexin.com/hot_spots/121937" target="_blank" />
              <area shape="rect" coords="31,183,130,307" href="http://www.tiexin.com/hot_spots/9158" target="_blank" />
              <area shape="rect" coords="141,183,242,308" href="http://www.tiexin.com/hot_spots/22192" target="_blank" />
              <area shape="rect" coords="252,180,352,312" href="http://www.tiexin.com/hot_spots/79223" target="_blank" />
              <area shape="rect" coords="363,183,461,308" href="http://www.tiexin.com/hot_spots/121884" target="_blank" />
              <area shape="rect" coords="475,183,571,313" href="http://www.tiexin.com/hot_spots/192585" target="_blank" />
              <area shape="rect" coords="31,318,129,448" href="http://www.tiexin.com/hot_spots/9202" target="_blank" />
              <area shape="rect" coords="143,317,242,446" href="http://www.tiexin.com/hot_spots/200224" target="_blank" />
              <area shape="rect" coords="252,318,352,451" href="http://www.tiexin.com/hot_spots/214376" target="_blank" />
              <area shape="rect" coords="361,317,462,452" href="http://www.tiexin.com/hot_spots/69102" target="_blank" />
              <area shape="rect" coords="475,318,571,446" href="http://www.tiexin.com/hot_spots/133955" target="_blank" />
            </map>
            </td>
          <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/topic/200912/0912_34.jpg" width="358" height="141" border="0" usemap="#Map21" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200912/0912_35.jpg" width="358" height="378" border="0" usemap="#Map20" /></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
</div>

<map name="Map" id="Map"><area shape="rect" coords="296,31,598,56" href="http://www.tiexin.com/vendor/hot_spot/11778/events/2068" target="_blank" />
<area shape="rect" coords="370,111,459,129" href="http://www.tiexin.com/hot_spots/11778" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="108,216,193,234" href="http://www.tiexin.com/hot_spots/11778" target="_blank" />
<area shape="rect" coords="39,160,175,196" href="http://www.tiexin.com/vendor/hot_spot/11778/events/2066" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="73,204,168,224" href="http://www.tiexin.com/hot_spots/11778" target="_blank" />
<area shape="rect" coords="9,160,148,177" href="http://www.tiexin.com/vendor/hot_spot/11778/events/2067" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="77,197,164,217" href="http://www.tiexin.com/hot_spots/11778" target="_blank" />
<area shape="rect" coords="5,159,155,179" href="http://www.tiexin.com/vendor/hot_spot/11778/events/2069" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="12,159,87,181" href="http://www.tiexin.com/vendor/hot_spot/9221/events/1800" target="_blank" />
<area shape="rect" coords="9,194,195,230" href="http://www.tiexin.com/hot_spots/9221" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="32,44,178,73" href="http://www.tiexin.com/vendor/hot_spot/9221/events/1799" target="_blank" />
<area shape="rect" coords="25,115,176,143" href="http://www.tiexin.com/vendor/hot_spot/11778/events/1789" target="_blank" />
<area shape="rect" coords="21,181,185,212" href="http://www.tiexin.com/vendor/hot_spot/14641/events/1824" target="_blank" />
<area shape="rect" coords="31,241,174,285" href="http://www.tiexin.com/vendor/hot_spot/133886/events/2070" target="_blank" />
<area shape="rect" coords="151,304,220,328" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="293,8,530,46" href="http://www.tiexin.com/vendor/hot_spot/9158/events/1727" target="_blank" />
<area shape="rect" coords="371,100,429,122" href="http://www.tiexin.com/hot_spots/9158" target="_blank" />
</map>
<map name="Map8" id="Map8"><area shape="rect" coords="35,165,199,203" href="http://www.tiexin.com/vendor/hot_spot/9174/events/2052" target="_blank" />
<area shape="rect" coords="106,225,185,246" href="http://www.tiexin.com/hot_spots/9174" target="_blank" />
</map>
<map name="Map9" id="Map9"><area shape="rect" coords="5,163,123,204" href="http://www.tiexin.com/vendor/hot_spot/110462/events/1976" target="_blank" />
<area shape="rect" coords="72,221,149,243" href="http://www.tiexin.com/hot_spots/110462" target="_blank" />
</map>
<map name="Map10" id="Map10"><area shape="rect" coords="7,165,132,202" href="http://www.tiexin.com/vendor/hot_spot/135727/events/1794" target="_blank" />
<area shape="rect" coords="74,219,156,242" href="http://www.tiexin.com/hot_spots/135727" target="_blank" />
</map>
<map name="Map11" id="Map11"><area shape="rect" coords="8,164,145,187" href="http://www.tiexin.com/vendor/hot_spot/198983/events/2058" target="_blank" />
<area shape="rect" coords="73,205,169,227" href="http://www.tiexin.com/hot_spots/198983" target="_blank" />
</map>
<map name="Map12" id="Map12"><area shape="rect" coords="26,29,213,64" href="http://www.tiexin.com/vendor/hot_spot/135727/events/1793" target="_blank" />
<area shape="rect" coords="35,97,190,122" href="http://www.tiexin.com/vendor/hot_spot/133896/events/1982" target="_blank" />
<area shape="rect" coords="51,158,171,191" href="http://www.tiexin.com/vendor/hot_spot/22192/events/1745" target="_blank" />
<area shape="rect" coords="17,216,221,265" href="http://www.tiexin.com/vendor/hot_spot/121937/events/2037" target="_blank" />
<area shape="rect" coords="167,284,230,307" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map13" id="Map13"><area shape="rect" coords="301,6,589,43" href="http://www.tiexin.com/vendor/hot_spot/133894/events/1999" target="_blank" />
<area shape="rect" coords="368,94,489,121" href="http://www.tiexin.com/hot_spots/133894" target="_blank" />
</map>
<map name="Map14" id="Map14"><area shape="rect" coords="39,170,201,205" href="http://www.tiexin.com/vendor/hot_spot/9202/events/2062" target="_blank" />
<area shape="rect" coords="102,225,167,246" href="http://www.tiexin.com/hot_spots/9202" target="_blank" />
</map>
<map name="Map15" id="Map15"><area shape="rect" coords="6,169,200,203" href="http://www.tiexin.com/vendor/hot_spot/200894/events/1971" target="_blank" />
<area shape="rect" coords="74,225,220,249" href="http://www.tiexin.com/hot_spots/200894" target="_blank" />
</map>
<map name="Map16" id="Map16"><area shape="rect" coords="9,170,108,204" href="http://www.tiexin.com/vendor/hot_spot/14641/events/2057" target="_blank" />
<area shape="rect" coords="74,224,166,245" href="http://www.tiexin.com/hot_spots/14641" target="_blank" />
</map>
<map name="Map17" id="Map17"><area shape="rect" coords="8,168,94,200" href="http://www.tiexin.com/vendor/hot_spot/214376/events/2051" target="_blank" />
<area shape="rect" coords="77,223,189,243" href="http://www.tiexin.com/hot_spots/214376" target="_blank" />
</map>
<map name="Map18" id="Map18"><area shape="rect" coords="59,21,178,61" href="http://www.tiexin.com/vendor/hot_spot/222062/events/2056" target="_blank" />
<area shape="rect" coords="54,84,185,132" href="http://www.tiexin.com/vendor/hot_spot/213679/events/2061" target="_blank" />
<area shape="rect" coords="59,176,170,199" href="http://www.tiexin.com/vendor/hot_spot/17275/events/2013" target="_blank" />
<area shape="rect" coords="68,237,170,261" href="http://www.tiexin.com/vendor/hot_spot/192585/events/2059" target="_blank" />
<area shape="rect" coords="157,278,226,305" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map19" id="Map19"><area shape="rect" coords="31,97,193,129" href="http://www.tiexin.com/articles/617" target="_blank" />
<area shape="rect" coords="39,170,195,201" href="http://www.tiexin.com/articles/618" target="_blank" />
<area shape="rect" coords="35,245,187,270" href="http://www.tiexin.com/articles/619" target="_blank" />
<area shape="rect" coords="61,37,159,59" href="http://www.tiexin.com/articles/488" target="_blank" />
<area shape="rect" coords="164,294,228,316" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map20" id="Map20"><area shape="rect" coords="13,34,148,51" href="http://www.tiexin.com/forums/7/posts/2185" target="_blank" />
<area shape="rect" coords="41,131,276,157" href="http://www.tiexin.com/forums/7/posts/2177" target="_blank" />
<area shape="rect" coords="38,161,329,184" href="http://www.tiexin.com/forums/7/posts/2663" target="_blank" />
<area shape="rect" coords="38,191,136,214" href="http://www.tiexin.com/forums/7/posts/2180" target="_blank" />
<area shape="rect" coords="37,224,147,245" href="http://www.tiexin.com/forums/7/posts/2181" target="_blank" />
<area shape="rect" coords="35,251,185,277" href="http://www.tiexin.com/forums/7/posts/2182" target="_blank" />
<area shape="rect" coords="38,281,202,304" href="http://www.tiexin.com/forums/7/posts/2187" target="_blank" />
</map>
<map name="Map21" id="Map21"><area shape="rect" coords="48,42,203,63" href="http://www.tiexin.com/cities/1/topics/5" target="_blank" />
<area shape="rect" coords="45,63,147,80" href="http://www.tiexin.com/cities/1/topics/3" target="_blank" />
<area shape="rect" coords="45,79,171,97" href="http://www.tiexin.com/cities/1/topics/8" target="_blank" />
<area shape="rect" coords="44,100,146,118" href="http://www.tiexin.com/cities/1/topics/11" target="_blank" />
</map>
