<% page_title @topic.name -%>
<div align="center">


<table   width="949" height="4517" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="/images/topic/201012/201012_01.png" width="949" height="65" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_02.png" width="949" height="91" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_03.png" width="949" height="91" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_04.png" width="949" height="90" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_05.png" width="949" height="91" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_06.png" alt="" width="949" height="319" border="0" usemap="#Map"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_07.png" alt="" width="949" height="129" border="0" usemap="#Map2"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_08.png" width="949" height="120" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_09.png" width="949" height="120" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_10.png" alt="" width="949" height="180" border="0" usemap="#Map3"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_11.png" alt="" width="949" height="247" border="0" usemap="#Map4"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_12.png" alt="" width="949" height="256" border="0" usemap="#Map5"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_13.png" width="949" height="30" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_14.png" width="949" height="63" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_15.png" alt="" width="949" height="313" border="0" usemap="#Map6"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_16.png" alt="" width="949" height="228" border="0" usemap="#Map7"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_17.png" alt="" width="949" height="148" border="0" usemap="#Map8"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_18.png" width="949" height="83" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_19.png" alt="" width="949" height="82" border="0" usemap="#Map9"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_20.png" alt="" width="949" height="83" border="0" usemap="#Map10"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_21.png" alt="" width="949" height="83" border="0" usemap="#Map11"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_22.png" alt="" width="949" height="82" border="0" usemap="#Map12"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_23.png" alt="" width="949" height="83" border="0" usemap="#Map13"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_24.png" alt="" width="949" height="80" border="0" usemap="#Map14"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_25.png" alt="" width="949" height="81" border="0" usemap="#Map15"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_26.png" alt="" width="949" height="80" border="0" usemap="#Map16"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_27.png" alt="" width="949" height="80" border="0" usemap="#Map17"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_28.png" alt="" width="949" height="81" border="0" usemap="#Map18"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_29.png" width="949" height="80" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_30.png" alt="" width="949" height="246" border="0" usemap="#Map19"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_31.png" width="949" height="91" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_32.png" alt="" width="949" height="90" border="0" usemap="#Map23"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_33.png" alt="" width="949" height="87" border="0" usemap="#Map20"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_34.png" alt="" width="949" height="100" border="0" usemap="#Map21"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_35.png" alt="" width="949" height="94" border="0" usemap="#Map22"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_36.png" alt="" width="949" height="206" border="0" usemap="#Map24"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201012/201012_37.png" width="949" height="44" alt=""></td>
	</tr>
</table>
<!-- End ImageReady Slices -->

<map name="Map" id="Map">
<area shape="poly" coords="587,10,678,11,679,122,701,125,708,136,722,137,725,155,561,159,558,126,586,122" href="http://www.tiexin.com/vendor/hot_spot/17275/events/3652" target="_blank" />
<area shape="poly" coords="171,104,204,222,297,198,274,113,347,111,347,97,408,97,409,80,261,80" href="http://www.tiexin.com/vendor/hot_spot/2081/events/3532" target="_blank" />
<area shape="poly" coords="315,176,405,172,411,285,434,286,434,307,259,308,260,288,318,286" href="http://www.tiexin.com/vendor/hot_spot/198983/events/3521" target="_blank" />
<area shape="poly" coords="490,165,614,178,605,263,623,264,624,285,460,284,461,265,477,264" href="http://www.tiexin.com/vendor/hot_spot/133887/events/3703" target="_blank" />
<area shape="poly" coords="638,179,637,197,662,307,744,289,733,218,763,217,761,200,790,198,789,178" href="http://www.tiexin.com/vendor/hot_spot/9171/events/3552" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="178,30,384,54" href="http://www.tiexin.com/vendor/hot_spot/214377/events/3673" target="_blank" />
<area shape="rect" coords="220,63,450,84" href="http://www.tiexin.com/vendor/hot_spot/200907/events/3684" target="_blank" />
<area shape="rect" coords="198,96,388,116" href="http://www.tiexin.com/vendor/hot_spot/199550/events/3678" target="_blank" />
<area shape="rect" coords="431,13,557,53" href="http://www.tiexin.com/vendor/hot_spot/133886/events/3639" target="_blank" />
<area shape="rect" coords="611,8,743,30" href="http://www.tiexin.com/vendor/hot_spot/9221/events/3534" target="_blank" />
<area shape="rect" coords="437,94,756,114" href="http://www.tiexin.com/vendor/hot_spot/133894/events/3493" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="52,14,287,66" href="http://www.tiexin.com/vendor/hot_spot/110467/events/3758" target="_blank" />
<area shape="rect" coords="128,152,198,171" href="http://www.tiexin.com/hot_spots/110467" target="_blank" />
<area shape="rect" coords="752,24,896,62" href="http://www.tiexin.com/vendor/hot_spot/223633/events/3747" target="_blank" />
<area shape="rect" coords="712,108,932,144" href="http://www.tiexin.com/vendor/hot_spot/223633/events/3741" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="48,23,648,234" href="http://www.tiexin.com/vendor/hot_spot/110467/events/3758" target="_blank" />
<area shape="rect" coords="713,9,927,43" href="http://www.tiexin.com/vendor/hot_spot/133895/events/3734" target="_blank" />
<area shape="rect" coords="734,106,900,132" href="http://www.tiexin.com/vendor/hot_spot/133895/events/3732" target="_blank" />
<area shape="rect" coords="756,193,887,217" href="http://www.tiexin.com/vendor/hot_spot/133896/events/3727" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="23,5,230,160" href="http://www.tiexin.com/vendor/hot_spot/133895/events/3733" target="_blank" />
<area shape="rect" coords="28,165,220,211" href="http://www.tiexin.com/vendor/hot_spot/133895/events/3733" target="_blank" />
<area shape="rect" coords="93,233,210,251" href="http://www.tiexin.com/hot_spots/133895" target="_blank" />
<area shape="rect" coords="253,7,456,159" href="http://www.tiexin.com/vendor/hot_spot/214377/events/3672" target="_blank" />
<area shape="rect" coords="257,167,441,203" href="http://www.tiexin.com/vendor/hot_spot/214377/events/3672" target="_blank" />
<area shape="rect" coords="316,221,463,239" href="http://www.tiexin.com/hot_spots/214377" target="_blank" />
<area shape="rect" coords="481,163,615,199" href="http://www.tiexin.com/vendor/hot_spot/133894/events/3735" target="_blank" />
<area shape="rect" coords="479,6,681,158" href="http://www.tiexin.com/vendor/hot_spot/133894/events/3735" target="_blank" />
<area shape="rect" coords="545,219,665,241" href="http://www.tiexin.com/hot_spots/133894" target="_blank" />
<area shape="rect" coords="736,34,901,73" href="http://www.tiexin.com/vendor/hot_spot/133896/events/3717" target="_blank" />
<area shape="rect" coords="750,134,888,173" href="http://www.tiexin.com/vendor/hot_spot/214377/events/3749" target="_blank" />
<area shape="rect" coords="825,211,922,230" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="52,9,259,291" href="http://www.tiexin.com/vendor/hot_spot/133894/events/3738" target="_blank" />
<area shape="rect" coords="281,7,516,51" href="http://www.tiexin.com/vendor/hot_spot/133894/events/3738" target="_blank" />
<area shape="rect" coords="348,99,470,118" href="http://www.tiexin.com/hot_spots/133894" target="_blank" />
<area shape="rect" coords="757,42,886,80" href="http://www.tiexin.com/vendor/hot_spot/133894/events/3739" target="_blank" />
<area shape="rect" coords="738,121,907,163" href="http://www.tiexin.com/vendor/hot_spot/9171/events/3691" target="_blank" />
<area shape="rect" coords="743,219,893,241" href="http://www.tiexin.com/vendor/hot_spot/214376/events/3695" target="_blank" />
<area shape="rect" coords="819,271,922,290" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="23,29,228,181" href="http://www.tiexin.com/vendor/hot_spot/199550/events/3677" target="_blank" />
<area shape="rect" coords="29,187,229,222" href="http://www.tiexin.com/vendor/hot_spot/199550/events/3677" target="_blank" />
<area shape="rect" coords="255,28,458,182" href="http://www.tiexin.com/vendor/hot_spot/9313/events/3701" target="_blank" />
<area shape="rect" coords="264,188,386,220" href="http://www.tiexin.com/vendor/hot_spot/9313/events/3701" target="_blank" />
<area shape="rect" coords="486,28,686,180" href="http://www.tiexin.com/vendor/hot_spot/9313/events/3699" target="_blank" />
<area shape="rect" coords="493,193,604,212" href="http://www.tiexin.com/vendor/hot_spot/9313/events/3699" target="_blank" />
<area shape="rect" coords="715,29,918,181" href="http://www.tiexin.com/vendor/hot_spot/198983/events/3674" target="_blank" />
<area shape="rect" coords="719,193,883,215" href="http://www.tiexin.com/vendor/hot_spot/198983/events/3674" target="_blank" />
</map>
<map name="Map8" id="Map8"><area shape="rect" coords="87,15,138,32" href="http://www.tiexin.com/hot_spots/199550" target="_blank" />
<area shape="rect" coords="318,15,381,31" href="http://www.tiexin.com/hot_spots/9313" target="_blank" />
<area shape="rect" coords="545,15,605,32" href="http://www.tiexin.com/hot_spots/9313" target="_blank" />
<area shape="rect" coords="777,15,862,30" href="http://www.tiexin.com/hot_spots/198983" target="_blank" />
</map>
<map name="Map9" id="Map9"><area shape="rect" coords="41,62,232,140" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3755" target="_blank" />
<area shape="rect" coords="273,62,458,89" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3754" target="_blank" />
<area shape="rect" coords="500,63,687,192" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3756" target="_blank" />
<area shape="rect" coords="727,62,919,87" href="http://www.tiexin.com/vendor/hot_spot/17275/events/3655" target="_blank" />
</map>
<map name="Map10" id="Map10"><area shape="rect" coords="41,3,232,84" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3755" target="_blank" />
<area shape="rect" coords="272,-5,457,80" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3754" target="_blank" />
<area shape="rect" coords="500,2,688,85" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3756" target="_blank" />
<area shape="rect" coords="726,1,916,84" href="http://www.tiexin.com/vendor/hot_spot/17275/events/3655" target="_blank" />
</map>
<map name="Map11" id="Map11"><area shape="rect" coords="42,1,232,84" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3755" target="_blank" />
<area shape="rect" coords="273,1,457,85" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3754" target="_blank" />
<area shape="rect" coords="501,1,689,82" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3756" target="_blank" />
<area shape="rect" coords="726,2,917,87" href="http://www.tiexin.com/vendor/hot_spot/17275/events/3655" target="_blank" />
</map>
<map name="Map12" id="Map12"><area shape="rect" coords="41,-11,232,64" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3755" target="_blank" />
<area shape="rect" coords="272,-14,458,62" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3754" target="_blank" />
<area shape="rect" coords="500,2,687,66" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3756" target="_blank" />
<area shape="rect" coords="503,71,617,84" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3756" target="_blank" />
<area shape="rect" coords="727,1,917,67" href="http://www.tiexin.com/vendor/hot_spot/17275/events/3655" target="_blank" />
<area shape="rect" coords="729,72,915,89" href="http://www.tiexin.com/vendor/hot_spot/17275/events/3655" target="_blank" />
</map>
<map name="Map13" id="Map13"><area shape="rect" coords="38,-12,218,14" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3755" target="_blank" />
<area shape="rect" coords="103,43,159,63" href="http://www.tiexin.com/hot_spots/9158" target="_blank" />
<area shape="rect" coords="270,-16,420,10" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3754" target="_blank" />
<area shape="rect" coords="337,40,389,59" href="http://www.tiexin.com/hot_spots/9158" target="_blank" />
<area shape="rect" coords="501,-2,638,20" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3756" target="_blank" />
<area shape="rect" coords="564,49,618,67" href="http://www.tiexin.com/hot_spots/9158" target="_blank" />
<area shape="rect" coords="730,-14,884,21" href="http://www.tiexin.com/vendor/hot_spot/17275/events/3655" target="_blank" />
<area shape="rect" coords="794,48,851,65" href="http://www.tiexin.com/hot_spots/17275" target="_blank" />
</map>
<map name="Map14" id="Map14"><area shape="rect" coords="41,11,297,230" href="http://www.tiexin.com/vendor/hot_spot/135701/events/3759" target="_blank" />
<area shape="rect" coords="322,37,716,65" href="http://www.tiexin.com/vendor/hot_spot/135701/events/3759" target="_blank" />
</map>
<map name="Map15" id="Map15"><area shape="rect" coords="41,1,298,84" href="http://www.tiexin.com/vendor/hot_spot/135701/events/3759" target="_blank" />
<area shape="rect" coords="384,30,452,44" href="http://www.tiexin.com/hot_spots/135701" target="_blank" />
</map>
<map name="Map16" id="Map16"><area shape="rect" coords="40,3,298,88" href="http://www.tiexin.com/vendor/hot_spot/135701/events/3759" target="_blank" />
</map>
<map name="Map17" id="Map17"><area shape="rect" coords="41,1,297,80" href="http://www.tiexin.com/vendor/hot_spot/135701/events/3759" target="_blank" />
</map>
<map name="Map18" id="Map18"><area shape="rect" coords="43,1,297,23" href="http://www.tiexin.com/vendor/hot_spot/135701/events/3759" target="_blank" />
</map>
<map name="Map19" id="Map19"><area shape="rect" coords="23,9,232,159" href="http://www.tiexin.com/vendor/hot_spot/111412/events/3763" target="_blank" />
<area shape="rect" coords="25,165,175,200" href="http://www.tiexin.com/vendor/hot_spot/111412/events/3763" target="_blank" />
<area shape="rect" coords="88,222,155,239" href="http://www.tiexin.com/hot_spots/111412" target="_blank" />
<area shape="rect" coords="256,6,461,161" href="http://www.tiexin.com/vendor/hot_spot/111412/events/3762" target="_blank" />
<area shape="rect" coords="257,172,339,194" href="http://www.tiexin.com/vendor/hot_spot/111412/events/3762" target="_blank" />
<area shape="rect" coords="319,220,394,238" href="http://www.tiexin.com/hot_spots/111412" target="_blank" />
<area shape="rect" coords="555,221,625,241" href="http://www.tiexin.com/hot_spots/111412" target="_blank" />
<area shape="rect" coords="488,8,689,161" href="http://www.tiexin.com/vendor/hot_spot/111412/events/3761" target="_blank" />
<area shape="rect" coords="490,167,692,199" href="http://www.tiexin.com/vendor/hot_spot/111412/events/3761" target="_blank" />
<area shape="rect" coords="719,7,919,160" href="http://www.tiexin.com/vendor/hot_spot/152384/events/3767" target="_blank" />
<area shape="rect" coords="717,164,880,198" href="http://www.tiexin.com/vendor/hot_spot/152384/events/3767" target="_blank" />
<area shape="rect" coords="781,220,904,238" href="http://www.tiexin.com/hot_spots/152384" target="_blank" />
</map>
<map name="Map20" id="Map20"><area shape="rect" coords="91,4,460,28" href="http://www.tiexin.com/vendor/hot_spot/229121/events/3765" target="_blank" />
</map>
<map name="Map21" id="Map21"><area shape="rect" coords="90,5,343,24" href="http://www.tiexin.com/vendor/hot_spot/228471/events/3760" target="_blank" />
</map>
<map name="Map22" id="Map22"><area shape="rect" coords="87,10,403,30" href="http://www.tiexin.com/vendor/hot_spot/152384/events/3766" target="_blank" />
</map>
<map name="Map23" id="Map23"><area shape="rect" coords="724,64,841,81" href="http://www.tiexin.com/forums/7/posts/6960" target="_blank" />
</map>
<map name="Map24" id="Map24"><area shape="rect" coords="114,43,295,184" href="http://www.tiexin.com/cities/1/topics/3" target="_blank" />
<area shape="rect" coords="332,45,511,186" href="http://www.tiexin.com/cities/1/topics/5" target="_blank" />
<area shape="rect" coords="549,43,732,184" href="http://www.tiexin.com/cities/1/topics/8" target="_blank" />
<area shape="rect" coords="766,43,949,185" href="http://www.tiexin.com/cities/1/topics/31" target="_blank" />
</map>

</div>