<% page_title @topic.title, true %>
<div align="center">

<table width="947" height="4510" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="/images/topic/201016/201016_01.png" width="947" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_02.png" width="947" height="72" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_03.png" width="947" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_04.png" alt="" width="947" height="538" border="0" usemap="#Map"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_05.png" alt="" width="947" height="256" border="0" usemap="#Map2"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_06.png" alt="" width="947" height="425" border="0" usemap="#Map3"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_07.png" alt="" width="947" height="367" border="0" usemap="#Map4"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_08.png" width="947" height="81" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_09.png" alt="" width="947" height="344" border="0" usemap="#Map5"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_10.png" alt="" width="947" height="366" border="0" usemap="#Map6"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_11.png" width="947" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_12.png" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_13.png" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_14.png" width="947" height="99" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_15.png" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_16.png" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_17.png" alt="" width="947" height="332" border="0" usemap="#Map7"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_18.png" width="947" height="74" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_19.png" alt="" width="947" height="381" border="0" usemap="#Map8"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_20.png" alt="" width="947" height="337" border="0" usemap="#Map9"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201016/201016_21.png" alt="" width="947" height="233" border="0" usemap="#Map10"></td>
	</tr>
</table>
<!-- End ImageReady Slices -->

<map name="Map" id="Map">
  <area shape="rect" coords="428,5,856,217" href="http://www.tiexin.com/vendor/hot_spot/135701/events/4158" target="_blank" />
<area shape="rect" coords="4,253,326,536" href="http://www.tiexin.com/vendor/hot_spot/135701/events/4157" target="_blank" />
<area shape="poly" coords="328,223,329,533,490,533,490,504,580,503,580,223" href="http://www.tiexin.com/vendor/hot_spot/178627/events/4162" target="_blank" />
<area shape="poly" coords="603,217" href="#" /><area shape="poly" coords="603,219,857,219,857,176,940,178,940,525,809,533,807,507,605,504" href="http://www.tiexin.com/vendor/hot_spot/178627/events/4163" target="_blank" />
<area shape="rect" coords="494,509,805,535" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4124" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="807,3,944,44" href="http://www.tiexin.com/vendor/hot_spot/178627/events/4163" target="_blank" />
<area shape="rect" coords="4,2,402,246" href="http://www.tiexin.com/vendor/hot_spot/135701/events/4157" target="_blank" />
<area shape="rect" coords="493,1,804,254" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4124" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="39,100,263,401" href="http://www.tiexin.com/vendor/hot_spot/17275/events/4117" target="_blank" />
<area shape="rect" coords="284,97,598,142" href="http://www.tiexin.com/vendor/hot_spot/17275/events/4117" target="_blank" />
<area shape="rect" coords="348,193,406,209" href="http://www.tiexin.com/hot_spots/17275" target="_blank" />
<area shape="rect" coords="744,129,892,169" href="http://www.tiexin.com/vendor/hot_spot/133886/events/4084" target="_blank" />
<area shape="rect" coords="715,226,922,250" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4127" target="_blank" />
<area shape="rect" coords="733,295,902,331" href="http://www.tiexin.com/vendor/hot_spot/133896/events/4033" target="_blank" />
<area shape="rect" coords="727,391,896,414" href="http://www.tiexin.com/vendor/hot_spot/17275/events/4116" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="23,10,229,160" href="http://www.tiexin.com/vendor/hot_spot/214377/events/4131" target="_blank" />
<area shape="rect" coords="26,165,213,200" href="http://www.tiexin.com/vendor/hot_spot/214377/events/4131" target="_blank" />
<area shape="rect" coords="88,224,229,238" href="http://www.tiexin.com/hot_spots/214377" target="_blank" />
<area shape="rect" coords="252,8,454,160" href="http://www.tiexin.com/vendor/hot_spot/133895/events/4020" target="_blank" />
<area shape="rect" coords="248,168,456,202" href="http://www.tiexin.com/vendor/hot_spot/133895/events/4020" target="_blank" />
<area shape="rect" coords="478,7,680,160" href="http://www.tiexin.com/vendor/hot_spot/133896/events/4029" target="_blank" />
<area shape="rect" coords="480,167,653,202" href="http://www.tiexin.com/vendor/hot_spot/133896/events/4029" target="_blank" />
<area shape="rect" coords="313,223,436,241" href="http://www.tiexin.com/hot_spots/133895" target="_blank" />
<area shape="rect" coords="542,222,664,241" href="http://www.tiexin.com/hot_spots/133896" target="_blank" />
<area shape="rect" coords="729,53,911,80" href="http://www.tiexin.com/vendor/hot_spot/133886/events/4096" target="_blank" />
<area shape="rect" coords="713,146,925,182" href="http://www.tiexin.com/vendor/hot_spot/133886/events/4097" target="_blank" />
<area shape="rect" coords="745,244,894,283" href="http://www.tiexin.com/vendor/hot_spot/133886/events/4106" target="_blank" />
<area shape="rect" coords="822,320,922,340" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="51,18,260,301" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3849" target="_blank" />
<area shape="rect" coords="286,17,613,61" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3849" target="_blank" />
<area shape="rect" coords="345,112,404,126" href="http://www.tiexin.com/hot_spots/9158" target="_blank" />
<area shape="rect" coords="726,70,914,91" href="http://www.tiexin.com/vendor/hot_spot/9313/events/4150" target="_blank" />
<area shape="rect" coords="796,148,853,171" href="http://www.tiexin.com/vendor/hot_spot/9313/events/4151" target="_blank" />
<area shape="rect" coords="715,226,923,250" href="http://www.tiexin.com/vendor/hot_spot/199550/events/4141" target="_blank" />
<area shape="rect" coords="754,299,886,336" href="http://www.tiexin.com/vendor/hot_spot/133894/events/4051" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="22,8,227,162" href="http://www.tiexin.com/vendor/hot_spot/214376/events/4149" target="_blank" />
<area shape="rect" coords="20,178,227,193" href="http://www.tiexin.com/vendor/hot_spot/214376/events/4149" target="_blank" />
<area shape="rect" coords="85,224,195,239" href="http://www.tiexin.com/hot_spots/214376" target="_blank" />
<area shape="rect" coords="252,7,455,161" href="http://www.tiexin.com/vendor/hot_spot/199550/events/4159" target="_blank" />
<area shape="rect" coords="254,167,394,202" href="http://www.tiexin.com/vendor/hot_spot/199550/events/4159" target="_blank" />
<area shape="rect" coords="478,8,682,162" href="http://www.tiexin.com/vendor/hot_spot/214377/events/4135" target="_blank" />
<area shape="rect" coords="482,168,600,201" href="http://www.tiexin.com/vendor/hot_spot/214377/events/4135" target="_blank" />
<area shape="rect" coords="540,225,690,238" href="http://www.tiexin.com/hot_spots/214377" target="_blank" />
<area shape="rect" coords="736,59,906,80" href="http://www.tiexin.com/vendor/hot_spot/199550/events/4160" target="_blank" />
<area shape="rect" coords="760,158,878,183" href="http://www.tiexin.com/vendor/hot_spot/192585/events/4146" target="_blank" />
<area shape="rect" coords="733,245,905,283" href="http://www.tiexin.com/vendor/hot_spot/121884/events/4161" target="_blank" />
<area shape="rect" coords="816,316,924,342" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="810,292,926,315" href="http://www.tiexin.com/forums/7/posts/7065" target="_blank" />
</map>
<map name="Map8" id="Map8"><area shape="rect" coords="21,7,230,159" href="http://www.tiexin.com/vendor/hot_spot/110917/events/4175" target="_blank" />
<area shape="rect" coords="18,165,175,202" href="http://www.tiexin.com/vendor/hot_spot/110917/events/4175" target="_blank" />
<area shape="rect" coords="86,222,234,240" href="http://www.tiexin.com/hot_spots/110917" target="_blank" />
<area shape="rect" coords="252,6,455,160" href="http://www.tiexin.com/vendor/hot_spot/111412/events/4155" target="_blank" />
<area shape="rect" coords="253,164,443,199" href="http://www.tiexin.com/vendor/hot_spot/111412/events/4155" target="_blank" />
<area shape="rect" coords="316,220,385,238" href="http://www.tiexin.com/hot_spots/111412" target="_blank" />
<area shape="rect" coords="479,6,681,160" href="http://www.tiexin.com/vendor/hot_spot/105593/events/4173" target="_blank" />
<area shape="rect" coords="479,162,675,208" href="http://www.tiexin.com/vendor/hot_spot/105593/events/4173" target="_blank" />
<area shape="rect" coords="543,223,664,242" href="http://www.tiexin.com/hot_spots/105593" target="_blank" />
<area shape="rect" coords="716,78,927,101" href="http://www.tiexin.com/vendor/hot_spot/152361/events/4172" target="_blank" />
<area shape="rect" coords="748,160,884,184" href="http://www.tiexin.com/vendor/hot_spot/152361/events/4174" target="_blank" />
<area shape="rect" coords="756,238,867,260" href="http://www.tiexin.com/vendor/hot_spot/152384/events/4169" target="_blank" />
<area shape="rect" coords="758,328,888,348" href="http://www.tiexin.com/vendor/hot_spot/152384/events/4171" target="_blank" />
</map>
<map name="Map9" id="Map9"><area shape="rect" coords="62,51,358,70" href="http://www.tiexin.com/vendor/hot_spot/1470/events/4177" target="_blank" />
<area shape="rect" coords="61,148,181,170" href="http://www.tiexin.com/vendor/hot_spot/229121/events/4176" target="_blank" />
<area shape="rect" coords="59,237,308,262" href="http://www.tiexin.com/vendor/hot_spot/111412/events/4156" target="_blank" />
<area shape="rect" coords="767,33,881,53" href="http://www.tiexin.com/vendor/hot_spot/152384/events/4170" target="_blank" />
<area shape="rect" coords="709,117,932,156" href="http://www.tiexin.com/vendor/hot_spot/152384/events/4167" target="_blank" />
<area shape="rect" coords="711,226,936,259" href="http://www.tiexin.com/vendor/hot_spot/111412/events/4154" target="_blank" />
<area shape="rect" coords="799,297,911,317" href="http://www.tiexin.com/forums/7/posts/7066" target="_blank" />
</map>
<map name="Map10" id="Map10"><area shape="rect" coords="112,33,294,176" href="http://www.tiexin.com/cities/1/topics/3" target="_blank" />
<area shape="rect" coords="330,35,512,176" href="http://www.tiexin.com/cities/1/topics/5" target="_blank" />
<area shape="rect" coords="551,34,731,179" href="http://www.tiexin.com/cities/1/topics/8" target="_blank" />
<area shape="rect" coords="763,34,946,174" href="http://www.tiexin.com/cities/1/topics/31" target="_blank" />
</map>

</div>