<% page_title @topic.title -%>

<div align="center">
  <table width="949" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/topic/200911/200911_03.jpg" width="949" height="423" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200911/200911_05.jpg" width="949" height="58" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200911/200911_06.jpg" width="949" height="251" border="0" usemap="#Map" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200911/200911_07.jpg" width="949" height="53" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200911/200911_08.jpg" width="949" height="259" border="0" usemap="#Map2" /></td>
    </tr>
    <tr>
      <td><table width="949" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="637"><img src="/images/topic/200911/200911_09.jpg" width="637" height="565" border="0" usemap="#Map3" /></td>
          <td width="312"><img src="/images/topic/200911/200911_10.jpg" width="312" height="565" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="949" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="637"><img src="/images/topic/200911/200911_11.jpg" width="637" height="527" border="0" usemap="#Map4" /></td>
          <td width="312"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/topic/200911/200911_12.jpg" width="312" height="349" border="0" usemap="#Map5" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200911/200911_13.jpg" width="312" height="178" border="0" usemap="#Map6" /></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>

<map name="Map" id="Map"><area shape="rect" coords="15,16,181,234" href="http://www.tiexin.com/hot_spots/142211" target="_blank" />
<area shape="rect" coords="203,13,370,230" href="http://www.tiexin.com/hot_spots/192582" target="_blank" />
<area shape="rect" coords="392,19,560,231" href="http://www.tiexin.com/hot_spots/155682" target="_blank" />
<area shape="rect" coords="580,17,752,232" href="http://www.tiexin.com/hot_spots/156299" target="_blank" />
<area shape="rect" coords="768,15,940,231" href="http://www.tiexin.com/hot_spots/135776" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="11,20,181,240" href="http://www.tiexin.com/hot_spots/142208" target="_blank" />
<area shape="rect" coords="203,24,369,240" href="http://www.tiexin.com/hot_spots/112888" target="_blank" />
<area shape="rect" coords="393,25,559,233" href="http://www.tiexin.com/hot_spots/115292" target="_blank" />
<area shape="rect" coords="580,25,749,232" href="http://www.tiexin.com/hot_spots/214153" target="_blank" />
<area shape="rect" coords="771,28,936,236" href="http://www.tiexin.com/hot_spots/114927" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="63,67,425,112" href="http://www.tiexin.com/hot_spots/105644" target="_blank" />
<area shape="rect" coords="61,121,290,167" href="http://www.tiexin.com/hot_spots/142446" target="_blank" />
<area shape="rect" coords="64,171,254,214" href="http://www.tiexin.com/hot_spots/104036" target="_blank" />
<area shape="rect" coords="66,216,321,266" href="http://www.tiexin.com/hot_spots/129152" target="_blank" />
<area shape="rect" coords="59,272,352,312" href="http://www.tiexin.com/hot_spots/195960" target="_blank" />
<area shape="rect" coords="70,322,466,364" href="http://www.tiexin.com/hot_spots/118020" target="_blank" />
<area shape="rect" coords="61,366,549,412" href="http://www.tiexin.com/hot_spots/221038" target="_blank" />
<area shape="rect" coords="79,416,303,465" href=" http://wobble2003.blog.tiexin.com/articles/582" target="_blank" />
<area shape="rect" coords="399,424,400,425" href="#" /><area shape="rect" coords="317,417,575,465" href="http://wobble2003.blog.tiexin.com/articles/581" target="_blank" />
<area shape="rect" coords="73,469,289,526" href="http://www.tiexin.com/hot_spots/72450" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="400,81,564,119" href="http://www.tiexin.com/hot_spots/221656" target="_blank" />
<area shape="rect" coords="402,129,586,164" href="http://www.tiexin.com/hot_spots/221662" target="_blank" />
<area shape="rect" coords="399,169,489,201" href="http://www.tiexin.com/hot_spots/221663" target="_blank" />
<area shape="rect" coords="402,211,580,248" href="http://www.tiexin.com/hot_spots/173021" target="_blank" />
<area shape="rect" coords="402,253,582,286" href="http://www.tiexin.com/hot_spots/221683" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="20,141,246,178" href="http://www.tiexin.com/forums/7/posts/2538" target="_blank" />
<area shape="rect" coords="22,180,265,237" href="http://www.tiexin.com/forums/7/posts/2544" target="_blank" />
<area shape="rect" coords="23,240,283,271" href="http://www.tiexin.com/forums/6/posts/2549" target="_blank" />
<area shape="rect" coords="24,272,141,301" href="http://www.tiexin.com/articles/598" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="9,7,100,147" href="http://www.tiexin.com/cities/2/topics/4" target="_blank" />
<area shape="rect" coords="106,4,203,152" href="http://www.tiexin.com/cities/2/topics/6" target="_blank" />
<area shape="rect" coords="208,7,305,149" href="http://www.tiexin.com/cities/2/topics/9" target="_blank" />
</map>
