<% page_title @topic.name -%>
<div align="center">
  <table width="949" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="463" background="/images/topic/200908/tzf_03.jpg">&nbsp;</td>
    </tr>
    <tr>
      <td><img src="/images/topic/200908/tzf_05.jpg" width="949" height="597" border="0" usemap="#Map" /></td>
    </tr>
    <tr>
      <td><table width="949" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="639"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/topic/200908/tzf_06.jpg" width="639" height="190" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200908/tzf_08.jpg" width="639" height="159" border="0" usemap="#Map2" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200908/tzf_10.jpg" width="639" height="159" border="0" usemap="#Map3" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200908/tzf_11.jpg" width="639" height="160" border="0" usemap="#Map4" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200908/tzf_12.jpg" width="639" height="161" border="0" usemap="#Map5" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200908/tzf_14.jpg" width="639" height="171" border="0" usemap="#Map6" /></td>
            </tr>
          </table></td>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/topic/200908/tzf_07.jpg" width="310" height="190" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200908/tzf_09.jpg" width="310" height="478" border="0" usemap="#Map7" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200908/tzf_13.jpg" width="310" height="332" border="0" usemap="#Map8" /></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td height="87" background="/images/topic/200908/tzf_15.jpg">&nbsp;</td>
    </tr>
  </table>
</div>

<map name="Map" id="Map"><area shape="rect" coords="632,14,749,107" href="http://www.tiexin.com/hot_spots/204997" target="_blank" />
<area shape="rect" coords="354,391,474,483" href="http://www.tiexin.com/hot_spots/157111" target="_blank" />
<area shape="rect" coords="550,416,667,508" href="http://www.tiexin.com/hot_spots/204915" target="_blank" />
<area shape="rect" coords="313,283,433,376" href="http://www.tiexin.com/hot_spots/75087" target="_blank" />
<area shape="rect" coords="397,493,523,584" href="http://www.tiexin.com/hot_spots/157535" target="_blank" />
<area shape="rect" coords="785,332,905,421" href="http://www.tiexin.com/hot_spots/204913" target="_blank" />
<area shape="rect" coords="742,126,863,216" href="http://www.tiexin.com/hot_spots/157482" target="_blank" />
<area shape="rect" coords="762,455,886,551" href="http://www.tiexin.com/hot_spots/146677" target="_blank" />
<area shape="rect" coords="546,313,666,408" href="http://www.tiexin.com/hot_spots/146571 " target="_blank" />
<area shape="rect" coords="161,495,280,586" href="http://www.tiexin.com/hot_spots/157510" target="_blank" />
<area shape="rect" coords="593,215,715,307" href="http://www.tiexin.com/hot_spots/205005 " target="_blank" />
<area shape="rect" coords="158,88,279,182" href="http://www.tiexin.com/hot_spots/146570" target="_blank" />
<area shape="rect" coords="145,362,269,452" href="http://www.tiexin.com/hot_spots/157501" target="_blank" />
<area shape="rect" coords="525,114,641,209" href="http://www.tiexin.com/hot_spots/93029 " target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="60,20,299,139" href="http://wobble2003.blog.tiexin.com/articles/420" target="_blank" />
<area shape="rect" coords="556,112,581,125" href="http://wobble2003.blog.tiexin.com/articles/420" target="_blank" />
<area shape="rect" coords="579,14,604,46" href="http://www.tiexin.com/hot_spots/166457" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="59,21,298,140" href="http://gy.blog.tiexin.com/articles/451" target="_blank" />
<area shape="rect" coords="437,112,463,128" href="http://gy.blog.tiexin.com/articles/451" target="_blank" />
<area shape="rect" coords="576,17,606,50" href="http://www.tiexin.com/hot_spots/116252" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="57,20,298,141" href="http://www.tiexin.com/articles/455" target="_blank" />
<area shape="rect" coords="544,111,572,131" href="http://www.tiexin.com/articles/455" target="_blank" />
<area shape="rect" coords="579,15,606,51" href="http://www.tiexin.com/hot_spots/205004" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="56,18,300,142" href="http://gy.blog.tiexin.com/articles/449" target="_blank" />
<area shape="rect" coords="505,117,535,132" href="http://gy.blog.tiexin.com/articles/449" target="_blank" />
<area shape="rect" coords="577,14,605,52" href="http://www.tiexin.com/hot_spots/204988" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="58,18,298,139" href="http://gy.blog.tiexin.com/articles/448" target="_blank" />
<area shape="rect" coords="460,111,484,127" href="http://gy.blog.tiexin.com/articles/448" target="_blank" />
<area shape="rect" coords="579,13,606,50" href="http://www.tiexin.com/hot_spots/204999" target="_blank" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="56,189,196,218" href="http://gy.blog.tiexin.com/articles/447" target="_blank" />
<area shape="rect" coords="56,228,220,258" href="http://www.tiexin.com/articles/454" target="_blank" />
<area shape="rect" coords="53,266,266,298" href="http://www.tiexin.com/forums/7/posts/1657" target="_blank" />
<area shape="rect" coords="52,309,231,380" href="http://www.tiexin.com/forums/7/posts/1656" target="_blank" />
</map>
<map name="Map8" id="Map8"><area shape="rect" coords="65,255,272,295" href="http://www.tiexin.com/cities/2/topics/6" target="_blank" />
<area shape="rect" coords="62,210,270,253" href="http://www.tiexin.com/cities/2/topics/4" target="_blank" />
</map>
