<% page_title @topic.name -%>


<div align="center">
  <table width="966" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/topic/200913/200913_04.jpg" width="966" height="131" /></td>
    </tr>
    <tr>
      <td><table width="966" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="441"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/topic/200913/200913_05.jpg" width="441" height="88" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200913/200913_08.jpg" width="441" height="117" border="0" usemap="#Map" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200913/200913_09.jpg" width="441" height="118" border="0" usemap="#Map2" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200913/200913_11.jpg" width="441" height="114" border="0" usemap="#Map3" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200913/200913_13.jpg" width="441" height="154" border="0" usemap="#Map4" /></td>
            </tr>
          </table></td>
          <td width="250"><img src="/images/topic/200913/200913_06.jpg" width="250" height="591" /></td>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/topic/200913/200913_07.jpg" width="275" height="205" border="0" usemap="#Map5" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200913/200913_10.jpg" width="275" height="159" border="0" usemap="#Map6" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200913/200913_12.jpg" width="275" height="199" border="0" usemap="#Map7" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200913/200913_14.jpg" width="275" height="28" border="0" usemap="#Map8" /></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><a href="http://www.tiexin.com/hot_spots/169263" target="_blank"><img src="/images/topic/200913/200913_15.jpg" width="178" height="309" border="0" /></a></td>
          <td><a href="http://www.tiexin.com/hot_spots/79364" target="_blank"><img src="/images/topic/200913/200913_16.jpg" width="155" height="309" border="0" /></a></td>
          <td><a href="http://www.tiexin.com/hot_spots/68974" target="_blank"><img src="/images/topic/200913/200913_17.jpg" width="158" height="309" border="0" /></a></td>
          <td><a href="http://www.tiexin.com/hot_spots/135727" target="_blank"><img src="/images/topic/200913/200913_18.jpg" width="153" height="309" border="0" /></a></td>
          <td><img src="/images/topic/200913/200913_19.jpg" width="148" height="309" /></td>
          <td><img src="/images/topic/200913/200913_20.jpg" width="174" height="309" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200913/200913_21.jpg" width="966" height="160" /></td>
    </tr>
    <tr>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="285"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><a href="http://www.tiexin.com/forums/7/posts/2877" target="_blank"><img src="/images/topic/200913/200913_22.jpg" width="285" height="92" border="0" /></a></td>
            </tr>
            <tr>
              <td><a href="http://www.tiexin.com/forums/7/posts/2878" target="_blank"><img src="/images/topic/200913/200913_25.jpg" width="285" height="114" border="0" /></a></td>
            </tr>
            <tr>
              <td><a href="http://www.tiexin.com/forums/7/posts/2879" target="_blank"><img src="/images/topic/200913/200913_27.jpg" width="285" height="93" border="0" /></a></td>
            </tr>
            <tr>
              <td><a href="http://www.tiexin.com/channels/5/channel_daily_contents/216" target="_blank"><img src="/images/topic/200913/200913_29.jpg" width="285" height="137" border="0" /></a></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200913/200913_31.jpg" width="285" height="134" /></td>
            </tr>
          </table></td>
          <td width="241"><img src="/images/topic/200913/200913_23.jpg" width="241" height="570" /></td>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/topic/200913/200913_24.jpg" width="440" height="92" border="0" usemap="#Map9" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200913/200913_26.jpg" width="440" height="114" border="0" usemap="#Map10" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200913/200913_28.jpg" width="440" height="115" border="0" usemap="#Map11" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200913/200913_30.jpg" width="440" height="115" border="0" usemap="#Map12" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200913/200913_32.jpg" width="440" height="134" border="0" usemap="#Map13" /></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="258"><a href="http://www.tiexin.com/cities/1/topics/3" target="_blank"><img src="/images/topic/200913/200913_33.jpg" width="258" height="248" border="0" /></a></td>
          <td width="233"><a href="http://www.tiexin.com/cities/1/topics/5" target="_blank"><img src="/images/topic/200913/200913_34.jpg" width="233" height="248" border="0" /></a></td>
          <td width="232"><a href="http://www.tiexin.com/cities/1/topics/8" target="_blank"><img src="/images/topic/200913/200913_35.jpg" width="232" height="248" border="0" /></a></td>
          <td width="243"><a href="http://www.tiexin.com/cities/1/topics/13" target="_blank"><img src="/images/topic/200913/200913_36.jpg" width="243" height="248" border="0" /></a></td>
        </tr>
      </table></td>
    </tr>
  </table>
</div>

<map name="Map" id="Map"><area shape="rect" coords="209,29,434,51" href="http://www.tiexin.com/articles/685" target="_blank" />
<area shape="rect" coords="358,97,398,116" href="http://www.tiexin.com/articles/685" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="213,26,427,47" href="http://www.tiexin.com/articles/686" target="_blank" />
<area shape="rect" coords="386,97,427,115" href="http://www.tiexin.com/articles/686" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="212,22,401,47" href="http://www.tiexin.com/articles/687" target="_blank" />
<area shape="rect" coords="209,93,254,112" href="http://www.tiexin.com/articles/687" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="211,21,354,45" href="http://www.tiexin.com/articles/688" target="_blank" />
<area shape="rect" coords="344,84,385,104" href="http://www.tiexin.com/articles/688" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="41,59,248,200" href="http://www.tiexin.com/hot_spots/135697" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="14,16,218,150" href="http://www.tiexin.com/hot_spots/79223" target="_blank" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="60,4,233,195" href="http://www.tiexin.com/hot_spots/122636" target="_blank" />
</map>
<map name="Map8" id="Map8"><area shape="rect" coords="5,3,132,26" href="http://www.tiexin.com/articles/697" target="_blank" />
</map>
<map name="Map9" id="Map9"><area shape="rect" coords="152,88,160,100" href="#" /></map>
<map name="Map10" id="Map10"><area shape="rect" coords="159,3,275,27" href="http://www.tiexin.com/articles/689" target="_blank" />
<area shape="rect" coords="87,79,130,98" href="http://www.tiexin.com/articles/689" target="_blank" />
</map>
<map name="Map11" id="Map11"><area shape="rect" coords="168,3,273,25" href="http://www.tiexin.com/articles/690" target="_blank" />
<area shape="rect" coords="103,73,143,95" href="http://www.tiexin.com/articles/690" target="_blank" />
<area shape="rect" coords="84,97,205,113" href="http://www.tiexin.com/cities/1/search.html?keyword=稻香村" />
</map>
<map name="Map12" id="Map12"><area shape="rect" coords="164,3,274,26" href="http://www.tiexin.com/articles/691" target="_blank" />
<area shape="rect" coords="78,93,119,110" href="http://www.tiexin.com/articles/691" target="_blank" />
</map>
<map name="Map13" id="Map13"><area shape="rect" coords="167,2,271,25" href="http://www.tiexin.com/articles/692" target="_blank" />
<area shape="rect" coords="191,89,231,108" href="http://www.tiexin.com/articles/692" target="_blank" />
</map>
