<% page_title @topic.name -%>
<div align="center">
<table width="948" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="/images/topic/201008/201008_01.jpg" width="948" height="76" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_02.jpg" width="948" height="75" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_03.jpg" width="948" height="76" alt=""></td>
	</tr>
	<tr>
		<td><img src="/images/topic/201008/201008_04.jpg" width="948" height="75" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_05.jpg" alt="" width="948" height="425" border="0" usemap="#Map"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_06.jpg" alt="" width="948" height="407" border="0" usemap="#Map2"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_07.jpg" width="948" height="126" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_08.jpg" alt="" width="948" height="355" border="0" usemap="#Map3"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_09.jpg" alt="" width="948" height="210" border="0" usemap="#Map4"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_10.jpg" alt="" width="948" height="223" border="0" usemap="#Map5"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_11.jpg" width="948" height="66" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_12.jpg" alt="" width="948" height="366" border="0" usemap="#Map6"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_13.jpg" alt="" width="948" height="198" border="0" usemap="#Map7"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_14.jpg" width="948" height="123" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_15.jpg" alt="" width="948" height="343" border="0" usemap="#Map8"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_16.jpg" alt="" width="948" height="287" border="0" usemap="#Map9"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_17.jpg" width="948" height="90" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_18.jpg" width="948" height="90" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_19.jpg" alt="" width="948" height="252" border="0" usemap="#Map10"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_20.jpg" width="948" height="126" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_21.jpg" alt="" width="948" height="196" border="0" usemap="#Map11"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_22.jpg" width="948" height="97" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_23.jpg" alt="" width="948" height="189" border="0" usemap="#Map12"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_24.jpg" alt="" width="948" height="187" border="0" usemap="#Map13"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_25.jpg" width="948" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_26.jpg" alt="" width="948" height="179" border="0" usemap="#Map14"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_27.jpg" width="948" height="112" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_28.jpg" alt="" width="948" height="99" border="0" usemap="#Map15"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_29.jpg" alt="" width="948" height="77" border="0" usemap="#Map16"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_30.jpg" alt="" width="948" height="54" border="0" usemap="#Map17"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_31.jpg" alt="" width="948" height="77" border="0" usemap="#Map18"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_32.jpg" width="948" height="76" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201008/201008_33.jpg" width="948" height="77" alt=""></td>
	</tr>
</table>
<!-- End ImageReady Slices -->

<map name="Map">
<area shape="poly" coords="27,81,220,59,244,280,230,294,54,315" href="http://www.tiexin.com/hot_spots/118595" target="_blank">
<area shape="poly" coords="254,91,447,117,431,241,239,217" href="http://www.tiexin.com/hot_spots/121987" target="_blank">
<area shape="poly" coords="239,287,432,287,432,413,235,413" href="http://www.tiexin.com/hot_spots/121375" target="_blank">
<area shape="rect" coords="441,398,606,421" href="http://www.tiexin.com/hot_spots/121375" target="_blank">
<area shape="rect" coords="94,315,197,334" href="http://www.tiexin.com/hot_spots/118595" target="_blank">
<area shape="rect" coords="254,67,375,90" href="http://www.tiexin.com/hot_spots/121987" target="_blank">
<area shape="rect" coords="457,23,629,243" href="http://www.tiexin.com/hot_spots/188329" target="_blank">
<area shape="rect" coords="489,246,598,268" href="http://www.tiexin.com/hot_spots/188329" target="_blank">
</map>
<map name="Map2"><area shape="rect" coords="39,141,193,260" href="http://www.tiexin.com/hot_spots/122118" target="_blank">
<area shape="rect" coords="194,243,324,259" href="http://www.tiexin.com/hot_spots/122118" target="_blank">
<area shape="poly" coords="181,99,294,99,296,84,447,83,446,199,296,200,294,117,177,116" href="http://www.tiexin.com/hot_spots/121979" target="_blank">
<area shape="poly" coords="85,272,235,274,236,347,367,346,367,367,236,366,237,391,84,391" href="http://www.tiexin.com/hot_spots/121609" target="_blank">
<area shape="rect" coords="507,21,669,142" href="http://www.tiexin.com/hot_spots/122027" target="_blank">
<area shape="rect" coords="670,41,931,62" href="http://www.tiexin.com/hot_spots/122027" target="_blank">
<area shape="rect" coords="723,115,888,292" href="http://www.tiexin.com/hot_spots/121543" target="_blank">
<area shape="rect" coords="466,264,723,288" href="http://www.tiexin.com/hot_spots/121543" target="_blank">
<area shape="rect" coords="482,321,763,342" href="http://www.tiexin.com/hot_spots/121613" target="_blank">
</map>
<map name="Map3"><area shape="rect" coords="191,68,343,199" href="http://www.tiexin.com/hot_spots/166552" target="_blank">
<area shape="rect" coords="276,203,346,226" href="http://www.tiexin.com/hot_spots/166552" target="_blank">
<area shape="rect" coords="394,36,547,166" href="http://www.tiexin.com/hot_spots/224811" target="_blank">
<area shape="rect" coords="412,172,577,192" href="http://www.tiexin.com/hot_spots/224811" target="_blank">
<area shape="rect" coords="597,35,824,159" href="http://www.tiexin.com/hot_spots/224810" target="_blank">
<area shape="rect" coords="743,162,875,184" href="http://www.tiexin.com/hot_spots/224810" target="_blank">
<area shape="rect" coords="534,197,715,318" href="http://www.tiexin.com/hot_spots/55394" target="_blank">
<area shape="rect" coords="718,296,893,317" href="http://www.tiexin.com/hot_spots/55394" target="_blank">
</map>
<map name="Map4"><area shape="rect" coords="34,40,196,163" href="http://www.tiexin.com/hot_spots/59418" target="_blank">
<area shape="rect" coords="33,169,147,188" href="http://www.tiexin.com/hot_spots/59418" target="_blank">
<area shape="rect" coords="234,41,399,164" href="http://www.tiexin.com/hot_spots/119090" target="_blank">
<area shape="rect" coords="231,168,334,188" href="http://www.tiexin.com/hot_spots/119090" target="_blank">
<area shape="rect" coords="436,42,600,162" href="http://www.tiexin.com/hot_spots/118726" target="_blank">
<area shape="rect" coords="435,168,538,189" href="http://www.tiexin.com/hot_spots/118726" target="_blank">
<area shape="rect" coords="645,41,864,162" href="http://www.tiexin.com/hot_spots/118986" target="_blank">
<area shape="rect" coords="649,168,811,188" href="http://www.tiexin.com/hot_spots/118986" target="_blank">
</map>
<map name="Map5"><area shape="rect" coords="40,51,191,182" href="http://www.tiexin.com/hot_spots/118459" target="_blank">
<area shape="rect" coords="9,27,265,47" href="http://www.tiexin.com/hot_spots/118459" target="_blank">
<area shape="rect" coords="290,27,454,152" href="http://www.tiexin.com/hot_spots/224972" target="_blank">
<area shape="rect" coords="223,159,461,178" href="http://www.tiexin.com/hot_spots/224972" target="_blank">
<area shape="rect" coords="502,10,624,170" href="http://www.tiexin.com/hot_spots/228634" target="_blank">
<area shape="rect" coords="501,175,617,194" href="http://www.tiexin.com/hot_spots/228634" target="_blank">
<area shape="rect" coords="738,43,900,165" href="http://www.tiexin.com/hot_spots/224976" target="_blank">
<area shape="rect" coords="669,169,908,191" href="http://www.tiexin.com/hot_spots/224976" target="_blank">
</map>
<map name="Map6">
<area shape="poly" coords="54,221,50,205,41,40,189,30,201,193,116,201,184,201,184,221" href="http://www.tiexin.com/hot_spots/227470" target="_blank">
<area shape="rect" coords="242,8,448,162" href="http://www.tiexin.com/hot_spots/117718" target="_blank">
<area shape="rect" coords="243,167,345,188" href="http://www.tiexin.com/hot_spots/117718" target="_blank">
<area shape="rect" coords="104,236,265,359" href="http://www.tiexin.com/hot_spots/165347" target="_blank">
<area shape="rect" coords="270,237,385,260" href="http://www.tiexin.com/hot_spots/165347" target="_blank">
<area shape="rect" coords="634,17,764,142" href="http://www.tiexin.com/hot_spots/227768" target="_blank">
<area shape="rect" coords="767,114,871,133" href="http://www.tiexin.com/hot_spots/227768" target="_blank">
<area shape="rect" coords="522,160,686,283" href="http://www.tiexin.com/hot_spots/168744" target="_blank">
<area shape="rect" coords="531,288,693,308" href="http://www.tiexin.com/hot_spots/168744" target="_blank">
<area shape="rect" coords="729,159,891,282" href="http://www.tiexin.com/hot_spots/119629" target="_blank">
<area shape="rect" coords="727,288,891,309" href="http://www.tiexin.com/hot_spots/119629" target="_blank">
</map>
<map name="Map7"><area shape="rect" coords="208,19,413,157" href="http://www.tiexin.com/hot_spots/117930" target="_blank">
<area shape="rect" coords="243,160,403,183" href="http://www.tiexin.com/hot_spots/117930" target="_blank">
<area shape="rect" coords="467,20,636,155" href="http://www.tiexin.com/hot_spots/117319" target="_blank">
<area shape="rect" coords="463,161,655,184" href="http://www.tiexin.com/hot_spots/117319" target="_blank">
<area shape="rect" coords="734,19,913,155" href="http://www.tiexin.com/hot_spots/117719" target="_blank">
<area shape="rect" coords="687,159,943,183" href="http://www.tiexin.com/hot_spots/117719" target="_blank">
</map>
<map name="Map8"><area shape="rect" coords="25,84,154,240" href="http://www.tiexin.com/hot_spots/158360" target="_blank">
<area shape="rect" coords="22,247,185,269" href="http://www.tiexin.com/hot_spots/158360" target="_blank">
<area shape="rect" coords="212,8,419,162" href="http://www.tiexin.com/hot_spots/116457" target="_blank">
<area shape="rect" coords="223,166,328,189" href="http://www.tiexin.com/hot_spots/116457" target="_blank">
<area shape="rect" coords="344,202,508,327" href="http://www.tiexin.com/hot_spots/136955" target="_blank">
<area shape="rect" coords="177,317,340,337" href="http://www.tiexin.com/hot_spots/136955" target="_blank">
<area shape="poly" coords="586,123,745,97,764,214,620,241,704,244,706,264,605,264,605,243" href="http://www.tiexin.com/hot_spots/145312" target="_blank">
</map>
<map name="Map9"><area shape="rect" coords="23,60,231,82" href="http://www.tiexin.com/hot_spots/116830" target="_blank">
<area shape="rect" coords="238,17,435,130" href="http://www.tiexin.com/hot_spots/116830" target="_blank">
<area shape="rect" coords="21,119,164,214" href="http://www.tiexin.com/hot_spots/119642" target="_blank">
<area shape="rect" coords="167,179,254,200" href="http://www.tiexin.com/hot_spots/119642" target="_blank">
<area shape="rect" coords="167,254,267,275" href="http://www.tiexin.com/hot_spots/167859" target="_blank">
<area shape="rect" coords="273,150,435,272" href="http://www.tiexin.com/hot_spots/167859" target="_blank">
<area shape="rect" coords="533,43,739,65" href="http://www.tiexin.com/hot_spots/202011" target="_blank">
<area shape="rect" coords="744,9,906,132" href="http://www.tiexin.com/hot_spots/202011" target="_blank">
<area shape="rect" coords="551,118,706,243" href="http://www.tiexin.com/hot_spots/116371" target="_blank">
<area shape="rect" coords="708,217,910,240" href="http://www.tiexin.com/hot_spots/116371" target="_blank">
</map>
<map name="Map10">
<area shape="poly" coords="81,79,302,46,320,164,116,196,297,196,297,217,109,216,107,198,100,198" href="http://www.tiexin.com/hot_spots/195312" target="_blank">
<area shape="rect" coords="364,6,524,129" href="http://www.tiexin.com/hot_spots/188587" target="_blank">
<area shape="rect" coords="358,135,552,153" href="http://www.tiexin.com/hot_spots/188587" target="_blank">
<area shape="rect" coords="611,98,774,221" href="http://www.tiexin.com/hot_spots/166291" target="_blank">
<area shape="rect" coords="611,226,742,247" href="http://www.tiexin.com/hot_spots/166291" target="_blank">
</map>
<map name="Map11"><area shape="rect" coords="44,1,159,148" href="http://www.tiexin.com/hot_spots/117121" target="_blank">
<area shape="rect" coords="2,156,194,173" href="http://www.tiexin.com/hot_spots/117121" target="_blank">
<area shape="rect" coords="215,8,364,119" href="http://www.tiexin.com/hot_spots/138413" target="_blank">
<area shape="rect" coords="202,128,378,144" href="http://www.tiexin.com/hot_spots/138413" target="_blank">
<area shape="rect" coords="402,26,553,139" href="http://www.tiexin.com/hot_spots/171650" target="_blank">
<area shape="rect" coords="376,154,573,174" href="http://www.tiexin.com/hot_spots/171650" target="_blank">
<area shape="rect" coords="595,9,737,113" href="http://www.tiexin.com/hot_spots/195265" target="_blank">
<area shape="rect" coords="560,119,775,138" href="http://www.tiexin.com/hot_spots/195265" target="_blank">
<area shape="rect" coords="781,8,928,149" href="http://www.tiexin.com/hot_spots/184776" target="_blank">
<area shape="rect" coords="770,154,944,190" href="http://www.tiexin.com/hot_spots/184776" target="_blank">
</map>
<map name="Map12"><area shape="rect" coords="36,18,283,148" href="http://www.tiexin.com/hot_spots/120095" target="_blank">
<area shape="rect" coords="34,153,164,173" href="http://www.tiexin.com/hot_spots/120095" target="_blank">
<area shape="rect" coords="345,19,495,150" href="http://www.tiexin.com/hot_spots/120179" target="_blank">
<area shape="rect" coords="341,154,491,173" href="http://www.tiexin.com/hot_spots/120179" target="_blank">
<area shape="rect" coords="571,19,760,149" href="http://www.tiexin.com/hot_spots/116035" target="_blank">
<area shape="rect" coords="572,151,689,173" href="http://www.tiexin.com/hot_spots/116035" target="_blank">
</map>
<map name="Map13"><area shape="rect" coords="226,24,378,156" href="http://www.tiexin.com/hot_spots/179439" target="_blank">
<area shape="rect" coords="220,160,323,182" href="http://www.tiexin.com/hot_spots/179439" target="_blank">
<area shape="rect" coords="438,26,602,148" href="http://www.tiexin.com/hot_spots/223151" target="_blank">
<area shape="rect" coords="434,151,581,172" href="http://www.tiexin.com/hot_spots/223151" target="_blank">
<area shape="rect" coords="710,25,873,146" href="http://www.tiexin.com/hot_spots/120099" target="_blank">
<area shape="rect" coords="709,153,824,172" href="http://www.tiexin.com/hot_spots/120099" target="_blank">
</map>
<map name="Map14"><area shape="rect" coords="72,7,241,143" href="http://www.tiexin.com/hot_spots/142907" target="_blank">
<area shape="rect" coords="68,148,256,170" href="http://www.tiexin.com/hot_spots/142907" target="_blank">
<area shape="rect" coords="309,8,489,142" href="http://www.tiexin.com/hot_spots/116171" target="_blank">
<area shape="rect" coords="306,147,480,168" href="http://www.tiexin.com/hot_spots/116171" target="_blank">
<area shape="rect" coords="568,7,731,130" href="http://www.tiexin.com/hot_spots/116180" target="_blank">
<area shape="rect" coords="565,135,743,155" href="http://www.tiexin.com/hot_spots/116180" target="_blank">
</map>
<map name="Map15"><area shape="rect" coords="147,58,451,80" href="http://aolifu.blog.tiexin.com/articles/1622" target="_blank">
<area shape="rect" coords="617,16,755,41" href="http://www.tiexin.com/forums/8/posts/6780" target="_blank">
<area shape="rect" coords="563,65,846,87" href="http://www.tiexin.com/forums/8/posts/5434" target="_blank">
</map>
<map name="Map16"><area shape="rect" coords="128,34,508,57" href="http://aolifu.blog.tiexin.com/articles/1623" target="_blank">
<area shape="rect" coords="603,37,825,63" href="http://www.tiexin.com/forums/8/posts/6684" target="_blank">
</map>
<map name="Map17"><area shape="rect" coords="217,24,377,42" href="http://aolifu.blog.tiexin.com/articles/1624" target="_blank">
</map>
<map name="Map18"><area shape="rect" coords="98,31,258,55" href="http://xiaobaobei.blog.tiexin.com/articles/1625" target="_blank">
</map>
</div>