<% page_title @topic.name -%>
<div align="center">
<table  width="950"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="/images/topic/200924/200924_01.jpg" width="951" height="91" alt="北京一月文化演出专题"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_02.jpg" width="951" height="92" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_03.jpg" width="951" height="91" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_04.jpg" alt="" width="951" height="254" border="0" usemap="#Map"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_05.jpg" alt="" width="951" height="72" border="0" usemap="#Map2"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_06.jpg" alt="" width="951" height="350" border="0" usemap="#Map3"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_07.jpg" width="951" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_08.jpg" alt="" width="951" height="166" border="0" usemap="#Map4"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_09.jpg" alt="" width="951" height="203" border="0" usemap="#Map5"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_10.jpg" alt="" width="951" height="347" border="0" usemap="#Map6"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_11.jpg" width="951" height="68" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_12.jpg" alt="" width="951" height="170" border="0" usemap="#Map7"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_13.jpg" alt="" width="951" height="211" border="0" usemap="#Map8"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_14.jpg" alt="" width="951" height="332" border="0" usemap="#Map9"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_15.jpg" width="951" height="99" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_16.jpg" width="951" height="99" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_17.jpg" width="951" height="100" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_18.jpg" width="951" height="99" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_19.jpg" width="951" height="99" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_20.jpg" width="951" height="99" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_21.jpg" width="951" height="100" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_22.jpg" width="951" height="99" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_23.jpg" width="951" height="99" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_24.jpg" alt="" width="951" height="173" border="0" usemap="#Map10"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_25.jpg" alt="" width="951" height="130" border="0" usemap="#Map11"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_26.jpg" alt="" width="951" height="158" border="0" usemap="#Map12"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/200924/200924_27.jpg" width="951" height="61" alt=""></td>
	</tr>
</table>
<!-- End ImageReady Slices -->

<map name="Map"><area shape="rect" coords="52,2,233,252" href="http://www.tiexin.com/vendor/hot_spot/9158/events/2909" target="_blank">
<area shape="rect" coords="276,1,458,251" href="http://www.tiexin.com/vendor/hot_spot/135727/events/2609" target="_blank">
<area shape="rect" coords="500,1,681,250" href="http://www.tiexin.com/vendor/hot_spot/135727/events/2924">
<area shape="rect" coords="724,1,905,251" href="http://www.tiexin.com/vendor/hot_spot/135727/events/2311" target="_blank">
</map>
<map name="Map2"><area shape="rect" coords="50,5,234,23" href="http://www.tiexin.com/vendor/hot_spot/9158/events/2909" target="_blank">
<area shape="rect" coords="121,48,182,68" href="http://www.tiexin.com/hot_spots/9158" target="_blank">
<area shape="rect" coords="296,3,441,26" href="http://www.tiexin.com/vendor/hot_spot/135727/events/2609" target="_blank">
<area shape="rect" coords="352,48,454,67" href="http://www.tiexin.com/hot_spots/135727" target="_blank">
<area shape="rect" coords="509,2,662,37" href="http://www.tiexin.com/vendor/hot_spot/135727/events/2924" target="_blank">
<area shape="rect" coords="574,54,674,69" href="http://www.tiexin.com/hot_spots/135727" target="_blank">
<area shape="rect" coords="730,2,886,19" href="http://www.tiexin.com/vendor/hot_spot/135727/events/2311" target="_blank">
<area shape="rect" coords="799,47,899,67" href="http://www.tiexin.com/hot_spots/135727" target="_blank">
</map>
<map name="Map3"><area shape="rect" coords="75,8,307,329" href="http://www.tiexin.com/vendor/hot_spot/9158/events/2543" target="_blank">
<area shape="rect" coords="317,21,604,48" href="http://www.tiexin.com/vendor/hot_spot/9158/events/2543" target="_blank">
<area shape="rect" coords="388,82,452,104" href="http://www.tiexin.com/hot_spots/9158" target="_blank">
<area shape="rect" coords="725,35,904,234" href="http://www.tiexin.com/vendor/hot_spot/199572/events/2920" target="_blank">
<area shape="rect" coords="739,241,880,276" href="http://www.tiexin.com/vendor/hot_spot/199572/events/2920" target="_blank">
<area shape="rect" coords="802,293,901,311" href="http://www.tiexin.com/hot_spots/199572" target="_blank">
</map>
<map name="Map4"><area shape="rect" coords="40,8,246,161" href="http://www.tiexin.com/vendor/hot_spot/17275/events/2906" target="_blank">
<area shape="rect" coords="266,8,470,162" href="http://www.tiexin.com/vendor/hot_spot/2081/events/2922" target="_blank">
<area shape="rect" coords="489,7,692,162" href="http://www.tiexin.com/vendor/hot_spot/133894/events/2891" target="_blank">
<area shape="rect" coords="711,7,916,160" href="http://www.tiexin.com/vendor/hot_spot/22192/events/2933" target="_blank">
</map>
<map name="Map5"><area shape="rect" coords="39,2,209,37" href="http://www.tiexin.com/vendor/hot_spot/17275/events/2906" target="_blank">
<area shape="rect" coords="107,56,169,75" href="http://www.tiexin.com/hot_spots/17275" target="_blank">
<area shape="rect" coords="270,2,470,36" href="http://www.tiexin.com/vendor/hot_spot/2081/events/2922" target="_blank">
<area shape="rect" coords="327,57,387,74" href="http://www.tiexin.com/hot_spots/2081" target="_blank">
<area shape="rect" coords="490,0,653,18" href="http://www.tiexin.com/vendor/hot_spot/133894/events/2891" target="_blank">
<area shape="rect" coords="556,42,681,60" href="http://www.tiexin.com/hot_spots/133894" target="_blank">
<area shape="rect" coords="711,2,919,19" href="http://www.tiexin.com/vendor/hot_spot/22192/events/2933" target="_blank">
<area shape="rect" coords="780,40,840,59" href="http://www.tiexin.com/hot_spots/22192" target="_blank">
</map>
<map name="Map6"><area shape="rect" coords="61,10,280,310" href="http://www.tiexin.com/vendor/hot_spot/198983/events/2928" target="_blank">
<area shape="rect" coords="296,6,555,50" href="http://www.tiexin.com/vendor/hot_spot/198983/events/2928" target="_blank">
<area shape="rect" coords="371,102,459,119" href="http://www.tiexin.com/hot_spots/198983" target="_blank">
<area shape="rect" coords="709,30,911,70" href="http://www.tiexin.com/vendor/hot_spot/22192/events/2932" target="_blank">
<area shape="rect" coords="729,101,887,139" href="http://www.tiexin.com/vendor/hot_spot/198983/events/2927" target="_blank">
<area shape="rect" coords="715,222,900,270" href="http://www.tiexin.com/vendor/hot_spot/133894/events/2886" target="_blank">
<area shape="rect" coords="728,160,883,198" href="http://www.tiexin.com/vendor/hot_spot/223633/events/2902" target="_blank">
<area shape="rect" coords="855,289,913,307" href="http://www.tiexin.com/cities/1/city_events" target="_blank">
</map>
<map name="Map7"><area shape="rect" coords="41,13,245,165" href="http://www.tiexin.com/vendor/hot_spot/9158/events/2304" target="_blank">
<area shape="rect" coords="265,13,469,166" href="http://www.tiexin.com/vendor/hot_spot/121884/events/2936" target="_blank">
<area shape="rect" coords="490,12,691,164" href="http://www.tiexin.com/vendor/hot_spot/9313/events/2937" target="_blank">
<area shape="rect" coords="712,12,915,167" href="http://www.tiexin.com/vendor/hot_spot/192585/events/2935" target="_blank">
</map>
<map name="Map8"><area shape="rect" coords="38,1,211,32" href="http://www.tiexin.com/vendor/hot_spot/9158/events/2304" target="_blank">
<area shape="rect" coords="106,55,172,77" href="http://www.tiexin.com/hot_spots/9158" target="_blank">
<area shape="rect" coords="265,0,439,32" href="http://www.tiexin.com/vendor/hot_spot/121884/events/2936" target="_blank">
<area shape="rect" coords="332,57,394,76" href="http://www.tiexin.com/hot_spots/121884" target="_blank">
<area shape="rect" coords="497,3,660,32" href="http://www.tiexin.com/vendor/hot_spot/9313/events/2937" target="_blank">
<area shape="rect" coords="556,57,613,75" href="http://www.tiexin.com/hot_spots/9313" target="_blank">
<area shape="rect" coords="710,1,865,32" href="http://www.tiexin.com/vendor/hot_spot/192585/events/2935" target="_blank">
<area shape="rect" coords="778,53,866,74" href="http://www.tiexin.com/hot_spots/192585" target="_blank">
</map>
<map name="Map9"><area shape="rect" coords="61,8,282,301" href="http://www.tiexin.com/vendor/hot_spot/17275/events/2500" target="_blank">
<area shape="rect" coords="299,7,622,32" href="http://www.tiexin.com/vendor/hot_spot/17275/events/2500" target="_blank">
<area shape="rect" coords="364,70,427,88" href="http://www.tiexin.com/hot_spots/17275" target="_blank">
<area shape="rect" coords="719,22,898,59" href="http://www.tiexin.com/vendor/hot_spot/199550/events/2925" target="_blank">
<area shape="rect" coords="767,93,845,133" href="http://www.tiexin.com/vendor/hot_spot/9313/events/2660" target="_blank">
<area shape="rect" coords="745,163,877,204" href="http://www.tiexin.com/vendor/hot_spot/192585/events/2393" target="_blank">
<area shape="rect" coords="767,237,846,259" href="http://www.tiexin.com/vendor/hot_spot/214376/events/2938" target="_blank">
<area shape="rect" coords="853,281,912,299" href="http://www.tiexin.com/cities/1/city_events" target="_blank">
</map>
<map name="Map10"><area shape="rect" coords="26,43,127,166" href="http://www.tiexin.com/hot_spots/110462" target="_blank">
<area shape="rect" coords="137,43,237,166" href="http://www.tiexin.com/hot_spots/11778" target="_blank">
<area shape="rect" coords="248,44,348,167" href="http://www.tiexin.com/hot_spots/9221" target="_blank">
<area shape="rect" coords="356,44,457,167" href="http://www.tiexin.com/hot_spots/133886" target="_blank">
<area shape="rect" coords="467,43,569,165" href="http://www.tiexin.com/hot_spots/121937" target="_blank">
<area shape="rect" coords="640,39,790,56" href="http://www.tiexin.com/cities/1/topics/5" target="_blank">
<area shape="rect" coords="640,59,734,75" href="http://www.tiexin.com/cities/1/topics/3" target="_blank">
<area shape="rect" coords="640,79,764,95" href="http://www.tiexin.com/cities/1/topics/8" target="_blank">
<area shape="rect" coords="640,98,733,115" href="http://www.tiexin.com/cities/1/topics/11" target="_blank">
<area shape="rect" coords="640,117,750,136" href="http://www.tiexin.com/cities/1/topics/16" target="_blank">
<area shape="rect" coords="642,140,768,155" href="http://www.tiexin.com/cities/1/topics/19" target="_blank">
</map>
<map name="Map11"><area shape="rect" coords="26,8,126,128" href="http://www.tiexin.com/hot_spots/9158" target="_blank">
<area shape="rect" coords="137,8,237,128" href="http://www.tiexin.com/hot_spots/22192" target="_blank">
<area shape="rect" coords="247,7,347,128" href="http://www.tiexin.com/hot_spots/79223" target="_blank">
<area shape="rect" coords="357,8,457,128" href="http://www.tiexin.com/hot_spots/121884" target="_blank">
<area shape="rect" coords="468,7,569,128" href="http://www.tiexin.com/hot_spots/192585" target="_blank">
<area shape="rect" coords="604,31,735,53" href="http://www.tiexin.com/forums/7/posts/2185" target="_blank">
</map>
<map name="Map12"><area shape="rect" coords="27,14,125,135" href="http://www.tiexin.com/hot_spots/9202" target="_blank">
<area shape="rect" coords="137,13,238,136" href="http://www.tiexin.com/hot_spots/200224" target="_blank">
<area shape="rect" coords="249,13,348,137" href="http://www.tiexin.com/hot_spots/214376" target="_blank">
<area shape="rect" coords="356,13,456,138" href="http://www.tiexin.com/hot_spots/69102" target="_blank">
<area shape="rect" coords="468,14,569,137" href="http://www.tiexin.com/hot_spots/133955" target="_blank">
<area shape="rect" coords="633,3,863,23" href="http://www.tiexin.com/forums/7/posts/2177" target="_blank">
<area shape="rect" coords="635,32,723,54" href="http://www.tiexin.com/forums/7/posts/2180" target="_blank">
<area shape="rect" coords="634,65,738,84" href="http://www.tiexin.com/forums/7/posts/2181" target="_blank">
<area shape="rect" coords="634,94,765,112" href="http://www.tiexin.com/forums/7/posts/2182" target="_blank">
<area shape="rect" coords="633,123,795,143" href="http://www.tiexin.com/forums/7/posts/2187" target="_blank">
</map>
</div>
