<% page_title @topic.name -%>
<div align="center">



<table  width="947" height="2946" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="/images/topic/201010/201010_01.jpg" width="947" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_02.jpg" width="947" height="58" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_03.jpg" width="947" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_04.jpg" width="947" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_05.jpg" width="947" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_06.jpg" width="947" height="58" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_07.jpg" width="947" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_08.jpg" width="947" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_09.jpg" width="947" height="83" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_10.jpg" width="947" height="84" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_11.jpg" width="947" height="83" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_12.jpg" width="947" height="84" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_13.jpg" width="947" height="83" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_14.jpg" width="947" height="61" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_15.jpg" width="947" height="61" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_16.jpg" width="947" height="61" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_17.jpg" width="947" height="62" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_18.jpg" width="947" height="61" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_19.jpg" width="947" height="61" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_20.jpg" width="947" height="61" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_21.jpg" width="947" height="76" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_22.jpg" width="947" height="77" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_23.jpg" width="947" height="76" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_24.jpg" width="947" height="77" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_25.jpg" width="947" height="76" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_26.jpg" width="947" height="77" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_27.jpg" width="947" height="76" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_28.jpg" alt="" width="947" height="59" border="0" usemap="#Map" href="http://www.tiexin.com/articles/1749" target="_blank"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_29.jpg" width="947" height="60" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_30.jpg" width="947" height="59" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_31.jpg" width="947" height="44" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_32.jpg" alt="" width="947" height="70" border="0" usemap="#Map2" href="http://www.tiexin.com/articles/1755" target="_blank"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_33.jpg" alt="" width="947" height="64" border="0" usemap="#Map3" href="http://www.tiexin.com/articles/1753" target="_blank"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_34.jpg" alt="" width="947" height="59" border="0" usemap="#Map4" target="_blank"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_35.jpg" alt="" width="947" height="60" border="0" usemap="#Map5" target="_blank"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_36.jpg" alt="" width="947" height="59" border="0" usemap="#Map6" target="_blank"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_37.jpg" width="947" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_38.jpg" width="947" height="58" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_39.jpg" width="947" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_40.jpg" width="947" height="58" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_41.jpg" width="947" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_42.jpg" alt="" width="947" height="184" border="0" usemap="#Map7" target="_blank" href="http://www.tiexin.com/cities/1/topics/3"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201010/201010_43.jpg" width="947" height="103" alt=""></td>
	</tr>
</table>
</div>
<map name="Map14" id="Map14"><area shape="rect" coords="50,9,362,43" href="http://www.earthhour.org.cn/" target="_blank" />
</map>
<map name="Map15" id="Map15"><area shape="rect" coords="51,2,361,41" href="http://www.earthhour.org.cn/" target="_blank" />
</map>
<map name="Map16" id="Map16"><area shape="rect" coords="52,1,361,40" href="http://www.earthhour.org.cn/" target="_blank" />
</map>
<map name="Map17" id="Map17"><area shape="rect" coords="52,3,362,43" href="http://www.earthhour.org.cn/" target="_blank" />
</map>
<map name="Map18" id="Map18"><area shape="rect" coords="51,2,361,32" href="http://www.earthhour.org.cn/" target="_blank" />
</map>
<map name="Map" id="Map"><area shape="rect" coords="38,12,189,45" href="http://www.tiexin.com/articles/1749" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="70,27,318,62" href="http://www.tiexin.com/articles/1755" target="_blank" />
<area shape="rect" coords="462,8,717,46" href="http://www.tiexin.com/forums/4/posts/6899?page=1" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="70,8,219,43" href="http://www.tiexin.com/articles/1753" target="_blank" />
<area shape="rect" coords="458,2,798,53" href="http://www.tiexin.com/forums/4/posts/6898" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="70,2,318,36" href="http://www.tiexin.com/articles/1757" target="_blank" />
<area shape="rect" coords="459,10,682,45" href="http://www.tiexin.com/articles/1750" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="69,3,403,40" href="http://www.tiexin.com/articles/1754" target="_blank" />
<area shape="rect" coords="460,14,592,46" href="http://www.tiexin.com/articles/1751" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="69,6,339,44" href="http://www.tiexin.com/articles/1756" target="_blank" />
<area shape="rect" coords="460,10,711,46" href="http://www.tiexin.com/articles/1752" target="_blank" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="112,21,295,162" href="http://www.tiexin.com/cities/1/topics/3" target="_blank" /><area shape="rect" coords="330,21,512,162" href="http://www.tiexin.com/cities/1/topics/5" target="_blank" /><area shape="rect" coords="546,20,732,166" href="http://www.tiexin.com/cities/1/topics/8" target="_blank" /><area shape="rect" coords="763,21,944,163" href="http://www.tiexin.com/cities/1/topics/31" target="_blank" />
</map>