<div align="center">

<table width="949" height="5638" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="/images/topic/201013/201013_01.png" width="949" height="81" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_02.png" width="949" height="82" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_03.png" width="949" height="81" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_04.png" width="949" height="81" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_05.png" width="949" height="81" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_06.png" width="949" height="82" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_07.png" width="949" height="81" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_08.png" width="949" height="81" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_09.png" width="949" height="81" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_10.png" alt="" width="949" height="331" border="0" usemap="#Map"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_11.png" width="949" height="80" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_12.png" width="949" height="80" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_13.png" alt="" width="949" height="160" border="0" usemap="#Map2"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_14.png" alt="" width="949" height="201" border="0" usemap="#Map3"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_15.png" alt="" width="949" height="231" border="0" usemap="#Map4"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_16.png" width="949" height="89" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_17.png" width="949" height="88" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_18.png" alt="" width="949" height="282" border="0" usemap="#Map5"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_19.png" width="949" height="85" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_20.png" width="949" height="84" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_21.png" width="949" height="85" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_22.png" alt="" width="949" height="70" border="0" usemap="#Map6"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_23.png" alt="" width="949" height="129" border="0" usemap="#Map7"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_24.png" width="949" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_25.png" width="949" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_26.png" width="949" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_27.png" alt="" width="949" height="110" border="0" usemap="#Map8"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_28.png" alt="" width="949" height="108" border="0" usemap="#Map9"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_29.png" width="949" height="95" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_30.png" alt="" width="949" height="95" border="0" usemap="#Map10"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_31.png" width="949" height="88" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_32.png" alt="" width="949" height="88" border="0" usemap="#Map11"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_33.png" width="949" height="74" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_34.png" width="949" height="73" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_35.png" width="949" height="74" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_36.png" width="949" height="73" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_37.png" width="949" height="74" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_38.png" width="949" height="73" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_39.png" alt="" width="949" height="175" border="0" usemap="#Map12"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_40.png" width="949" height="82" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_41.png" width="949" height="82" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_42.png" width="949" height="82" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_43.png" alt="" width="949" height="146" border="0" usemap="#Map13"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_44.png" width="949" height="81" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_45.png" alt="" width="949" height="117" border="0" usemap="#Map14"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_46.png" alt="" width="949" height="135" border="0" usemap="#Map15"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_47.png" alt="" width="949" height="126" border="0" usemap="#Map16"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_48.png" width="949" height="91" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_49.png" alt="" width="949" height="212" border="0" usemap="#Map17"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_50.png" alt="" width="949" height="211" border="0" usemap="#Map18"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201013/201013_51.png" width="949" height="53" alt=""></td>
	</tr>
</table>
<!-- End ImageReady Slices -->

<map name="Map" id="Map">
<area shape="poly" coords="165,197,202,110,232,121,196,206" href="http://www.tiexin.com/hot_spots/164684" target="_blank" />
<area shape="poly" coords="195,216,282,11,299,20,286,56,299,63,227,229" href="http://www.tiexin.com/articles/1831" target="_blank" />
<area shape="poly" coords="275,219,267,244,357,273,366,245" href="http://www.tiexin.com/hot_spots/223656" target="_blank" />
<area shape="poly" coords="259,248,249,276,350,305,356,292,478,320,482,308" href="http://www.tiexin.com/articles/1830" target="_blank" />
<area shape="poly" coords="535,258,630,235,637,261,546,287" href="http://www.tiexin.com/hot_spots/164688" target="_blank" />
<area shape="poly" coords="541,291,765,238,770,250,571,302,575,315,546,325" href="http://www.tiexin.com/articles/1829" target="_blank" />
<area shape="poly" coords="690,104,782,133,774,159,684,137" href="http://www.tiexin.com/hot_spots/164682" target="_blank" />
<area shape="poly" coords="679,144,891,207,886,217,676,157" href="http://www.tiexin.com/articles/1828" target="_blank" />
</map>
<map name="Map2" id="Map2">
<area shape="poly" coords="19,14,191,81,183,107,5,44" href=" http://www.tiexin.com/hot_spots/228880" target="_blank" />
<area shape="poly" coords="12,54,191,119,187,130,48,85,38,97,4,85" href="http://www.tiexin.com/articles/1838" target="_blank" />
<area shape="poly" coords="730,67,922,86,918,116,731,100" href="http://www.tiexin.com/hot_spots/164681" target="_blank" />
<area shape="poly" coords="744,109" href="#" /><area shape="poly" coords="747,106,915,121,914,131,849,130,845,145,759,139,759,129,746,123" href="http://www.tiexin.com/articles/1832" target="_blank" />
</map>
<map name="Map3" id="Map3">
<area shape="poly" coords="167,12,241,80,222,98,153,37" href=" http://www.tiexin.com/hot_spots/164678" target="_blank" />
<area shape="poly" coords="149,55,271,160,260,169,139,66" href="http://www.tiexin.com/articles/1839" target="_blank" />
<area shape="poly" coords="671,93,591,145,613,167,682,116" href="http://www.tiexin.com/hot_spots/223641" target="_blank" />
<area shape="poly" coords="613,174,774,57,784,71,677,153,680,164,628,199" href="http://www.tiexin.com/articles/1833" target="_blank" />
<area shape="poly" coords="168,178,199,188,193,198,163,198" href="http://www.tiexin.com/hot_spots/223662" target="_blank" />
</map>
<map name="Map4" id="Map4">
<area shape="poly" coords="161,3,136,95,159,104,192,3" href="http://www.tiexin.com/hot_spots/223662" target="_blank" />
<area shape="poly" coords="120,8,148,18,107,170,91,166,107,105,91,96" href="http://www.tiexin.com/articles/1840" target="_blank" />
<area shape="poly" coords="782,63,811,70,786,224,757,220" href="http://www.tiexin.com/hot_spots/228898" target="_blank" />
<area shape="poly" coords="840,3,849,4,812,227,798,226" href="http://www.tiexin.com/articles/1834" target="_blank" />
</map>
<map name="Map5" id="Map5">
<area shape="poly" coords="155,232,281,140,298,164,169,253" href=" http://www.tiexin.com/hot_spots/228894" target="_blank" />
<area shape="poly" coords="181,276,359,148,365,157,195,279" href="http://micky.blog.tiexin.com/articles/1835" target="_blank" />
<area shape="poly" coords="350,61,448,50,451,76,357,92" href=" http://www.tiexin.com/hot_spots/223656" target="_blank" />
<area shape="poly" coords="370,107,538,84,541,100,371,123" href="http://www.tiexin.com/articles/1836" target="_blank" />
<area shape="poly" coords="609,2,693,56,676,80,593,35" href="http://www.tiexin.com/hot_spots/223661" target="_blank" />
<area shape="poly" coords="603,49,759,147,753,158,596,64" href="http://www.tiexin.com/articles/1837" target="_blank" />
</map>
<map name="Map6" id="Map6">
<area shape="poly" coords="127,22,246,23,244,64,126,63" href="http://www.tiexin.com/hot_spots/164678" target="_blank" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="355,73,476,114" href="http://www.tiexin.com/hot_spots/223649" target="_blank" />
</map>
<map name="Map8" id="Map8"><area shape="rect" coords="492,4,608,45" href="http://www.tiexin.com/hot_spots/223661" target="_blank" />
</map>
<map name="Map9" id="Map9"><area shape="rect" coords="722,34,849,71" href="http://www.tiexin.com/hot_spots/164688" target="_blank" />
</map>
<map name="Map10" id="Map10"><area shape="rect" coords="73,46,231,87" href="http://www.tiexin.com/hot_spots/164692" target="_blank" />
</map>
<map name="Map11" id="Map11"><area shape="rect" coords="709,35,834,81" href="http://www.tiexin.com/hot_spots/223644" target="_blank" />
</map>
<map name="Map12" id="Map12"><area shape="rect" coords="22,104,149,137" href="http://www.tiexin.com/hot_spots/151928" target="_blank" />
<area shape="poly" coords="349,92,522,27,538,48,363,123" href="http://www.tiexin.com/hot_spots/118969" target="_blank" />
<area shape="poly" coords="593,8,827,107,813,137,584,37" href="http://www.tiexin.com/hot_spots/67907" target="_blank" />
</map>
<map name="Map13" id="Map13">
<area shape="poly" coords="120,90,279,5,301,20,133,113" href="http://www.tiexin.com/hot_spots/138947" target="_blank" />
<area shape="poly" coords="373,14,543,83,533,108,358,41" href="http://www.tiexin.com/hot_spots/154423" target="_blank" />
<area shape="poly" coords="670,115,831,89,831,113,676,139" href="http://www.tiexin.com/hot_spots/158077" target="_blank" />
</map>

<map name="Map14" id="Map14"><area shape="rect" coords="170,95,307,114" href="http://www.tiexin.com/articles/1841" target="_blank" />
<area shape="rect" coords="562,19,923,45" href="http://www.tiexin.com/forums/7/posts/6954" target="_blank" />
<area shape="rect" coords="557,67,917,92" href="http://www.tiexin.com/forums/7/posts/6955" target="_blank" />
</map>
<map name="Map15" id="Map15"><area shape="rect" coords="123,38,410,62" href="http://www.tiexin.com/articles/1842" target="_blank" />
<area shape="rect" coords="84,94,459,117" href="http://www.tiexin.com/articles/1843" target="_blank" />
<area shape="rect" coords="565,9,902,31" href="http://www.tiexin.com/forums/7/posts/6956" target="_blank" />
<area shape="rect" coords="572,60,866,84" href="http://www.tiexin.com/forums/7/posts/6957" target="_blank" />
</map>
<map name="Map16" id="Map16"><area shape="rect" coords="92,12,462,38" href="http://www.tiexin.com/articles/1844" target="_blank" />
<area shape="rect" coords="73,67,457,94" href="http://www.tiexin.com/articles/1845" target="_blank" />
<area shape="rect" coords="684,5,922,42" href="http://www.tiexin.com/forums/9/posts/6958" target="_blank" />
<area shape="rect" coords="556,94,933,118" href="http://www.tiexin.com/forums/9/posts/6959" target="_blank" />
</map>
<map name="Map17" id="Map17"><area shape="rect" coords="164,32,426,175" href="http://www.tiexin.com/cities/1/topics/29" target="_blank" />
<area shape="rect" coords="527,34,791,171" href="http://www.tiexin.com/cities/1/topics/34" target="_blank" />
</map>
<map name="Map18" id="Map18"><area shape="rect" coords="162,49,422,190" href="http://www.tiexin.com/cities/1/topics/38" target="_blank" />
</map>

</div>