<% page_title @topic.name -%>
<div align="center">

<table width="947" height="4510" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="/images/topic/201009/201009_01.jpg" width="947" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_02.jpg" width="947" height="72" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_03.jpg" width="947" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_04.jpg" alt="" width="947" height="538" border="0" usemap="#Map"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_05.jpg" alt="" width="947" height="256" border="0" usemap="#Map2"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_06.jpg" alt="" width="947" height="425" border="0" usemap="#Map3"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_07.jpg" alt="" width="947" height="367" border="0" usemap="#Map4"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_08.jpg" width="947" height="81" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_09.jpg" alt="" width="947" height="344" border="0" usemap="#Map5"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_10.jpg" alt="" width="947" height="366" border="0" usemap="#Map6"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_11.jpg" width="947" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_12.jpg" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_13.jpg" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_14.jpg" width="947" height="99" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_15.jpg" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_16.jpg" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_17.jpg" alt="" width="947" height="332" border="0" usemap="#Map7"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_18.jpg" width="947" height="74" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_19.jpg" alt="" width="947" height="381" border="0" usemap="#Map8"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_20.jpg" alt="" width="947" height="337" border="0" usemap="#Map9"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201009/201009_21.jpg" alt="" width="947" height="233" border="0" usemap="#Map10"></td>
	</tr>
</table>
<!-- End ImageReady Slices -->

<map name="Map" id="Map">
<area shape="poly" coords="421,460,368,214,412,214,412,56,650,3,735,391" href="http://www.tiexin.com/forums/7/posts/6869" target="_blank" />
<area shape="poly" coords="665,67,944,120,944,152,873,535,767,535,576,498,587,426,738,395" href="http://www.tiexin.com/forums/7/posts/6870" target="_blank" />
<area shape="poly" coords="1,396,405,397,418,463,582,428,573,498,726,531,725,535,2,535" href="http://www.tiexin.com/vendor/hot_spot/133895/events" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="14,18,181,255" href="http://www.tiexin.com/vendor/hot_spot/110467/events/3536" target="_blank" />
<area shape="rect" coords="197,2,362,234" href="http://www.tiexin.com/vendor/hot_spot/135701/events/3547" target="_blank" />
<area shape="rect" coords="362,3,526,234" href="http://www.tiexin.com/vendor/hot_spot/135701/events/3548" target="_blank" />
<area shape="rect" coords="526,2,691,234" href="http://www.tiexin.com/vendor/hot_spot/214214/events/3550" target="_blank" />
<area shape="rect" coords="713,39,883,144" href="http://www.tiexin.com/vendor/hot_spot/214377/events/3509" target="_blank" />
<area shape="rect" coords="713,144,883,254" href="http://www.tiexin.com/vendor/hot_spot/135727/events/3551" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="40,101,262,398" href="http://www.tiexin.com/vendor/hot_spot/17275/events/3578" target="_blank" />
<area shape="rect" coords="277,96,486,144" href="http://www.tiexin.com/vendor/hot_spot/17275/events/3578" target="_blank" />
<area shape="rect" coords="348,191,409,209" href="http://www.tiexin.com/hot_spots/17275" target="_blank" />
<area shape="rect" coords="715,130,928,168" href="http://www.tiexin.com/vendor/hot_spot/9174/events/3457" target="_blank" />
<area shape="rect" coords="757,217,885,253" href="http://www.tiexin.com/vendor/hot_spot/110467/events/3537" target="_blank" />
<area shape="rect" coords="727,295,914,330" href="http://www.tiexin.com/vendor/hot_spot/14641/events/3528" target="_blank" />
<area shape="rect" coords="710,382,927,416" href="http://www.tiexin.com/vendor/hot_spot/22192/events/3544" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="22,8,228,161" href="http://www.tiexin.com/vendor/hot_spot/133886/events/3588" target="_blank" />
<area shape="rect" coords="86,223,157,240" href="http://www.tiexin.com/hot_spots/133886" target="_blank" /><area shape="rect" coords="252,8,455,161" href="http://www.tiexin.com/vendor/hot_spot/133895/events/3487" target="_blank" /><area shape="rect" coords="252,168,457,201" href="http://www.tiexin.com/vendor/hot_spot/133895/events/3487" target="_blank" /><area shape="rect" coords="315,223,434,240" href="http://www.tiexin.com/hot_spots/133895" target="_blank" /><area shape="rect" coords="478,9,680,161" href="http://www.tiexin.com/vendor/hot_spot/133895/events/3484" target="_blank" /><area shape="rect" coords="480,166,680,201" href="http://www.tiexin.com/vendor/hot_spot/133895/events/3484" target="_blank" /><area shape="rect" coords="22,164,187,202" href="http://www.tiexin.com/vendor/hot_spot/133886/events/3588" target="_blank" />
<area shape="rect" coords="544,222,663,240" href="http://www.tiexin.com/hot_spots/133895" target="_blank" />
<area shape="rect" coords="724,42,921,82" href="http://www.tiexin.com/vendor/hot_spot/121937/events/3503" target="_blank" />
<area shape="rect" coords="710,162,928,182" href="http://www.tiexin.com/vendor/hot_spot/2081/events/3531" target="_blank" />
<area shape="rect" coords="727,246,909,282" href="http://www.tiexin.com/vendor/hot_spot/214377/events/3519" target="_blank" />
<area shape="rect" coords="822,320,924,340" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="49,19,261,302" href="http://www.tiexin.com/vendor/hot_spot/214377/events/3520" target="_blank" />
<area shape="rect" coords="279,19,496,64" href="http://www.tiexin.com/vendor/hot_spot/214377/events/3520" target="_blank" />
<area shape="rect" coords="348,111,498,128" href="http://www.tiexin.com/hot_spots/214377" target="_blank" />
<area shape="rect" coords="743,66,895,92" href="http://www.tiexin.com/vendor/hot_spot/14641/events/3527" target="_blank" />
<area shape="rect" coords="717,149,923,168" href="http://www.tiexin.com/vendor/hot_spot/9221/events/3533" target="_blank" />
<area shape="rect" coords="733,229,900,251" href="http://www.tiexin.com/vendor/hot_spot/22192/events/3545" target="_blank" />
<area shape="rect" coords="750,314,883,335" href="http://www.tiexin.com/vendor/hot_spot/214376/events/3554" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="22,8,229,161" href="http://www.tiexin.com/vendor/hot_spot/199550/events/3525" target="_blank" />
<area shape="rect" coords="19,177,233,196" href="http://www.tiexin.com/vendor/hot_spot/199550/events/3525" target="_blank" />
<area shape="rect" coords="84,223,136,241" href="http://www.tiexin.com/hot_spots/199550" target="_blank" />
<area shape="rect" coords="252,8,455,162" href="http://www.tiexin.com/vendor/hot_spot/9171/events/3553" target="_blank" />
<area shape="rect" coords="252,168,435,201" href="http://www.tiexin.com/vendor/hot_spot/9171/events/3553" target="_blank" />
<area shape="rect" coords="315,223,425,240" href="http://www.tiexin.com/hot_spots/9171" target="_blank" />
<area shape="rect" coords="479,8,682,161" href="http://www.tiexin.com/vendor/hot_spot/17275/events/3581" target="_blank" />
<area shape="rect" coords="482,167,637,199" href="http://www.tiexin.com/vendor/hot_spot/17275/events/3581" target="_blank" />
<area shape="rect" coords="539,223,603,240" href="http://www.tiexin.com/hot_spots/17275" target="_blank" />
<area shape="rect" coords="749,55,897,88" href="http://www.tiexin.com/vendor/hot_spot/17275/events/3579" target="_blank" />
<area shape="rect" coords="757,162,885,182" href="http://www.tiexin.com/vendor/hot_spot/9158/events/3506" target="_blank" />
<area shape="rect" coords="724,246,921,284" href="http://www.tiexin.com/vendor/hot_spot/223633/events/3502" target="_blank" />
<area shape="rect" coords="816,322,925,346" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="739,29,924,313" href="http://www.tiexin.com/forums/7/posts/6868" target="_blank" />
</map>
<map name="Map8" id="Map8"><area shape="rect" coords="22,7,229,159" href="http://www.tiexin.com/vendor/hot_spot/152384/events/3570" target="_blank" />
<area shape="rect" coords="20,166,162,201" href="http://www.tiexin.com/vendor/hot_spot/152384/events/3570" target="_blank" />
<area shape="rect" coords="85,222,210,237" href="http://www.tiexin.com/hot_spots/152384" target="_blank" />
<area shape="rect" coords="542,219,663,238" href="http://www.tiexin.com/hot_spots/152384" target="_blank" />
<area shape="rect" coords="252,7,456,161" href="http://www.tiexin.com/vendor/hot_spot/111412/events/3558" target="_blank" />
<area shape="rect" coords="252,174,417,193" href="http://www.tiexin.com/vendor/hot_spot/111412/events/3558" target="_blank" />
<area shape="rect" coords="314,222,386,238" href="http://www.tiexin.com/hot_spots/111412" target="_blank" />
<area shape="rect" coords="478,6,681,160" href="http://www.tiexin.com/vendor/hot_spot/152384/events/3569" target="_blank" />
<area shape="rect" coords="477,174,661,194" href="http://www.tiexin.com/vendor/hot_spot/152384/events/3569" target="_blank" />
<area shape="rect" coords="784,76,861,103" href="http://www.tiexin.com/vendor/hot_spot/111412/events/3556" target="_blank" />
<area shape="rect" coords="725,322,917,345" href="http://www.tiexin.com/vendor/hot_spot/123876/events/3567" target="_blank" />
<area shape="rect" coords="710,163,930,181" href="http://www.tiexin.com/vendor/hot_spot/111294/events/3396" target="_blank" />
<area shape="rect" coords="710,240,923,259" href="http://www.tiexin.com/vendor/hot_spot/111294/events/3399" target="_blank" />
</map>
<map name="Map9" id="Map9"><area shape="rect" coords="63,52,402,72" href="http://www.tiexin.com/vendor/hot_spot/1470/events/3566" target="_blank" />
<area shape="rect" coords="59,138,459,158" href="http://www.tiexin.com/vendor/hot_spot/111412/events/3562" target="_blank" />
<area shape="rect" coords="62,231,594,250" href="http://www.tiexin.com/vendor/hot_spot/104898/events/3573" target="_blank" />
<area shape="rect" coords="733,17,917,54" href="http://www.tiexin.com/vendor/hot_spot/111412/events/3560" target="_blank" />
<area shape="rect" coords="781,135,856,157" href="http://www.tiexin.com/vendor/hot_spot/111412/events/3561" target="_blank" />
<area shape="rect" coords="716,222,924,262" href="http://www.tiexin.com/vendor/hot_spot/152384/events/3571" target="_blank" />
<area shape="rect" coords="802,297,907,318" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map10" id="Map10"><area shape="rect" coords="114,33,294,176" href="http://www.tiexin.com/cities/1/topics/3" target="_blank" />
<area shape="rect" coords="331,34,512,176" href="http://www.tiexin.com/cities/1/topics/5" target="_blank" />
<area shape="rect" coords="548,33,732,176" href="http://www.tiexin.com/cities/1/topics/8" target="_blank" />
<area shape="rect" coords="764,33,945,177" href="http://www.tiexin.com/cities/1/topics/31" target="_blank" />
</map>