<% page_title @topic.name -%>

<div align="center">
  <table width="948" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/topic/200917/200917_04.jpg" width="948" height="210" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200917/200917_05.jpg" width="948" height="60" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200917/200917_06.jpg" width="948" height="329" border="0" usemap="#Map" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200917/200917_07.jpg" width="948" height="354" border="0" usemap="#Map2" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200917/200917_08.jpg" width="948" height="68" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200917/200917_09.jpg" width="948" height="357" border="0" usemap="#Map3" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200917/200917_10.jpg" width="948" height="356" border="0" usemap="#Map4" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200917/200917_11.jpg" width="948" height="77" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200917/200917_12.jpg" width="948" height="376" border="0" usemap="#Map5" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200917/200917_13.jpg" width="948" height="330" border="0" usemap="#Map6" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200917/200917_14.jpg" width="948" height="73" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200917/200917_15.jpg" width="948" height="474" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200917/200917_16.jpg" width="948" height="345" border="0" usemap="#Map7" /></td>
    </tr>
    <tr>
      <td><table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="/images/topic/200917/200917_17.jpg" alt="" width="589" height="524" border="0" usemap="#Map22" lowsrc="/images/topic/200917/200917_17.jpg" />
            <map name="Map22" id="Map22">
              <area shape="rect" coords="30,45,128,169" href="http://www.tiexin.com/hot_spots/110462" target="_blank" />
              <area shape="rect" coords="141,46,241,174" href="http://www.tiexin.com/hot_spots/11778" target="_blank" />
              <area shape="rect" coords="253,43,352,174" href="http://www.tiexin.com/hot_spots/9221" target="_blank" />
              <area shape="rect" coords="361,45,461,173" href="http://www.tiexin.com/hot_spots/133886" target="_blank" />
              <area shape="rect" coords="473,45,569,174" href="http://www.tiexin.com/hot_spots/121937" target="_blank" />
              <area shape="rect" coords="31,183,130,307" href="http://www.tiexin.com/hot_spots/9158" target="_blank" />
              <area shape="rect" coords="141,183,242,308" href="http://www.tiexin.com/hot_spots/22192" target="_blank" />
              <area shape="rect" coords="252,180,352,312" href="http://www.tiexin.com/hot_spots/79223" target="_blank" />
              <area shape="rect" coords="363,183,461,308" href="http://www.tiexin.com/hot_spots/121884" target="_blank" />
              <area shape="rect" coords="475,183,571,313" href="http://www.tiexin.com/hot_spots/192585" target="_blank" />
              <area shape="rect" coords="31,318,129,448" href="http://www.tiexin.com/hot_spots/9202" target="_blank" />
              <area shape="rect" coords="143,317,242,446" href="http://www.tiexin.com/hot_spots/200224" target="_blank" />
              <area shape="rect" coords="252,318,352,451" href="http://www.tiexin.com/hot_spots/214376" target="_blank" />
              <area shape="rect" coords="361,317,462,452" href="http://www.tiexin.com/hot_spots/69102" target="_blank" />
              <area shape="rect" coords="475,318,571,446" href="http://www.tiexin.com/hot_spots/133955" target="_blank" />
            </map></td>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/topic/200917/200917_18.jpg" width="359" height="146" border="0" usemap="#Map9" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200917/200917_19.jpg" width="359" height="378" border="0" usemap="#Map8" /></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
</div>

<map name="Map" id="Map"><area shape="rect" coords="43,258,244,292" href="http://www.tiexin.com/vendor/hot_spot/135727/events/2308" target="_blank" />
<area shape="rect" coords="107,309,209,325" href="http://www.tiexin.com/hot_spots/135727" target="_blank" />
<area shape="rect" coords="265,257,464,280" href="http://www.tiexin.com/vendor/hot_spot/135727/events/2309" target="_blank" />
<area shape="rect" coords="262,306,444,325" href="http://www.tiexin.com/hot_spots/135727" target="_blank" />
<area shape="rect" coords="473,258,697,294" href="http://www.tiexin.com/vendor/hot_spot/135701/events/2340" target="_blank" />
<area shape="rect" coords="486,308,641,329" href="http://www.tiexin.com/hot_spots/135701" target="_blank" />
<area shape="rect" coords="725,259,910,276" href="http://www.tiexin.com/vendor/hot_spot/9158/events/1728" target="_blank" />
<area shape="rect" coords="728,304,861,322" href="http://www.tiexin.com/hot_spots/9158" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="325,20,660,52" href="http://www.tiexin.com/vendor/hot_spot/135701/events/2339" target="_blank" />
<area shape="rect" coords="332,85,477,102" href="http://www.tiexin.com/hot_spots/135701" target="_blank" />
<area shape="rect" coords="779,29,908,75" href="http://www.tiexin.com/vendor/hot_spot/135727/events/2310" target="_blank" />
<area shape="rect" coords="788,101,924,121" href="http://www.tiexin.com/hot_spots/135727" target="_blank" />
<area shape="rect" coords="784,181,933,234" href="http://www.tiexin.com/vendor/hot_spot/133886/events/2250" target="_blank" />
<area shape="rect" coords="789,261,895,283" href="http://www.tiexin.com/hot_spots/133886" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="33,165,145,203" href="http://www.tiexin.com/vendor/hot_spot/133894/events/2235" target="_blank" />
<area shape="rect" coords="34,222,244,241" href="http://www.tiexin.com/hot_spots/133894" target="_blank" />
<area shape="rect" coords="253,166,479,188" href="http://www.tiexin.com/vendor/hot_spot/214377/events/2421" target="_blank" />
<area shape="rect" coords="254,206,477,226" href="http://www.tiexin.com/hot_spots/214377" target="_blank" />
<area shape="rect" coords="486,166,680,186" href="http://www.tiexin.com/vendor/hot_spot/110462/events/1897" target="_blank" />
<area shape="rect" coords="485,210,632,227" href="http://www.tiexin.com/hot_spots/110462" target="_blank" />
<area shape="rect" coords="707,167,877,191" href="http://www.tiexin.com/vendor/hot_spot/17275/events/2026" target="_blank" />
<area shape="rect" coords="707,205,839,227" href="http://www.tiexin.com/hot_spots/17275" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="298,25,482,62" href="http://www.tiexin.com/vendor/hot_spot/110462/events/1912" target="_blank" />
<area shape="rect" coords="297,112,451,134" href="http://www.tiexin.com/hot_spots/110462" target="_blank" />
<area shape="rect" coords="699,43,914,83" href="http://www.tiexin.com/vendor/hot_spot/9174/events/2267" target="_blank" />
<area shape="rect" coords="703,115,909,136" href="http://www.tiexin.com/vendor/hot_spot/17275/events/2278" target="_blank" />
<area shape="rect" coords="710,161,906,209" href="http://www.tiexin.com/vendor/hot_spot/110462/events/1906" target="_blank" />
<area shape="rect" coords="737,238,872,277" href="http://www.tiexin.com/vendor/hot_spot/133894/events/2239" target="_blank" />
<area shape="rect" coords="852,301,916,320" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="30,165,229,200" href="http://www.tiexin.com/vendor/hot_spot/9202/events/2409" target="_blank" />
<area shape="rect" coords="33,219,182,242" href="http://www.tiexin.com/hot_spots/9202" target="_blank" />
<area shape="rect" coords="262,165,450,202" href="http://www.tiexin.com/vendor/hot_spot/199550/events/2380" target="_blank" />
<area shape="rect" coords="260,221,477,242" href="http://www.tiexin.com/hot_spots/199550" target="_blank" />
<area shape="rect" coords="487,164,699,202" href="http://www.tiexin.com/vendor/hot_spot/25425/events/2399" target="_blank" />
<area shape="rect" coords="485,220,628,240" href="http://www.tiexin.com/hot_spots/25425" target="_blank" />
<area shape="rect" coords="707,164,845,201" href="http://www.tiexin.com/vendor/hot_spot/133894/events/2237" target="_blank" />
<area shape="rect" coords="708,217,911,237" href="http://www.tiexin.com/hot_spots/133894" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="298,6,438,36" href="http://www.tiexin.com/vendor/hot_spot/213679/events/2429" target="_blank" />
<area shape="rect" coords="305,51,493,71" href="http://www.tiexin.com/hot_spots/213679" target="_blank" />
<area shape="rect" coords="696,25,916,57" href="http://www.tiexin.com/vendor/hot_spot/199550/events/2378" target="_blank" />
<area shape="rect" coords="755,91,852,130" href="http://www.tiexin.com/vendor/hot_spot/198983/events/2386" target="_blank" />
<area shape="rect" coords="756,170,856,199" href="http://www.tiexin.com/vendor/hot_spot/17275/events/1701" target="_blank" />
<area shape="rect" coords="739,232,866,257" href="http://www.tiexin.com/vendor/hot_spot/9313/events/2382" target="_blank" />
<area shape="rect" coords="850,279,913,297" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="756,41,848,62" href="http://www.tiexin.com/articles/859" target="_blank" />
<area shape="rect" coords="754,106,860,133" href="http://www.tiexin.com/articles/860" target="_blank" />
<area shape="rect" coords="761,181,842,201" href="http://www.tiexin.com/articles/862" target="_blank" />
<area shape="rect" coords="764,253,834,273" href="http://www.tiexin.com/articles/863" target="_blank" />
<area shape="rect" coords="847,296,913,317" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map8" id="Map8"><area shape="rect" coords="12,33,149,52" href="http://www.tiexin.com/forums/7/posts/2185" target="_blank" />
<area shape="rect" coords="40,131,271,154" href="http://www.tiexin.com/forums/7/posts/2177" target="_blank" />
<area shape="rect" coords="41,163,336,186" href="http://www.tiexin.com/forums/7/posts/3801" target="_blank" />
<area shape="rect" coords="43,189,136,215" href="http://www.tiexin.com/forums/7/posts/2180" target="_blank" />
<area shape="rect" coords="39,222,151,250" href="http://www.tiexin.com/forums/7/posts/2181" target="_blank" />
<area shape="rect" coords="46,254,172,275" href="http://www.tiexin.com/forums/7/posts/2182" target="_blank" />
<area shape="rect" coords="46,283,207,305" href="http://www.tiexin.com/forums/7/posts/2187" target="_blank" />
</map>
<map name="Map9" id="Map9"><area shape="rect" coords="50,38,203,58" href="http://www.tiexin.com/cities/1/topics/5" target="_blank" />
<area shape="rect" coords="48,59,146,78" href="http://www.tiexin.com/cities/1/topics/3" target="_blank" />
<area shape="rect" coords="48,76,175,97" href="http://www.tiexin.com/cities/1/topics/8" target="_blank" />
<area shape="rect" coords="47,99,147,117" href="http://www.tiexin.com/cities/1/topics/11" target="_blank" />
<area shape="rect" coords="49,119,159,136" href="http://www.tiexin.com/cities/1/topics/16" target="_blank" />
</map>
