<% page_title @topic.name -%>

<div align="center">
  <table width="947" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/topic/200918/200918_03.jpg" width="947" height="269" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200918/200918_05.jpg" width="947" height="349" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200918/200918_06.jpg" width="947" height="341" border="0" usemap="#Map" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200918/200918_07.jpg" width="947" height="58" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200918/200918_08.jpg" width="947" height="297" border="0" usemap="#Map2" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200918/200918_09.jpg" width="947" height="207" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200918/200918_10.jpg" width="947" height="363" border="0" usemap="#Map3" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200918/200918_11.jpg" width="947" height="447" border="0" usemap="#Map4" /></td>
    </tr>
  </table>
</div>

<map name="Map" id="Map"><area shape="rect" coords="245,78,378,261" href="http://www.tiexin.com/channels/5/channel_daily_contents/312" target="_blank" />
<area shape="rect" coords="398,131,548,309" href="http://www.tiexin.com/channels/5/channel_daily_contents/313" target="_blank" />
<area shape="rect" coords="557,19,677,200" href="http://www.tiexin.com/channels/5/channel_daily_contents/314" target="_blank" />
<area shape="poly" coords="687,161,744,156,749,181,845,181,846,323,608,322,608,210,688,206,688,161" href="http://www.tiexin.com/channels/5/channel_daily_contents/315" target="_blank" />
<area shape="rect" coords="762,39,926,171" href="http://www.tiexin.com/channels/5/channel_daily_contents/316" target="_blank" />
<area shape="rect" coords="15,158,82,315" href="http://www.tiexin.com/forums/6/posts/4126" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="9,21,184,74" href="http://www.tiexin.com/hot_spots/130070" target="_blank" />
<area shape="rect" coords="196,13,364,65" href="http://www.tiexin.com/hot_spots/129908" target="_blank" />
<area shape="rect" coords="382,10,560,64" href="http://www.tiexin.com/brands/2301" target="_blank" />
<area shape="rect" coords="573,11,736,84" href="http://www.tiexin.com/brands/2307" target="_blank" />
<area shape="rect" coords="748,5,921,62" href="http://www.tiexin.com/hot_spots/129910" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="158,3,386,83" href="http://www.tiexin.com/forums/9/posts/4131" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="199,221,411,432" href=" http://www.tiexin.com/hot_spots/9359" target="_blank" />
<area shape="rect" coords="299,21,627,193" href="http://www.tiexin.com/hot_spots/198640" target="_blank" />
<area shape="rect" coords="444,211,661,426" href="http://www.tiexin.com/hot_spots/190546" target="_blank" />
<area shape="rect" coords="705,55,912,93" href="http://www.tiexin.com/forums/7/posts/4125" target="_blank" />
<area shape="rect" coords="701,99,911,130" href="http://www.tiexin.com/forums/6/posts/4126" target="_blank" />
<area shape="rect" coords="700,134,876,169" href="http://www.tiexin.com/forums/7/posts/4127" target="_blank" />
<area shape="rect" coords="699,176,898,209" href="http://www.tiexin.com/forums/7/posts/4128" target="_parent" />
<area shape="rect" coords="713,276,935,308" href="http://www.tiexin.com/cities/1/topics/5" target="_blank" />
<area shape="rect" coords="713,307,860,328" href="http://www.tiexin.com/cities/1/topics/3" target="_blank" />
<area shape="rect" coords="713,331,863,356" href="http://www.tiexin.com/cities/1/topics/8" target="_blank" />
<area shape="rect" coords="713,354,828,378" href="http://www.tiexin.com/cities/1/topics/11" target="_blank" />
<area shape="rect" coords="709,379,932,402" href="http://www.tiexin.com/cities/1/topics/14" target="_blank" />
<area shape="rect" coords="706,403,861,424" href="http://www.tiexin.com/cities/1/topics/16" target="_blank" />
</map>