<% page_title @topic.name -%>
<div align="center">
<table width="950" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="/images/topic/201002/201002_01.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_02.png" width="950" height="46" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_03.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_04.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_05.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_06.png" width="950" height="46" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_07.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_08.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_09.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_10.png" width="950" height="46" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_11.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_12.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_13.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_14.png" width="950" height="46" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_15.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_16.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_17.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_18.png" width="950" height="46" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_19.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_20.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_21.png" alt="" width="950" height="173" border="0" usemap="#Map"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_22.png" alt="" width="950" height="172" border="0" usemap="#Map2"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_23.png" width="950" height="36" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_24.png" alt="" width="950" height="43" border="0" usemap="#Map3"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_25.png" width="950" height="52" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_26.png" width="950" height="50" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_27.png" width="950" height="62" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_28.png" width="950" height="49" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_29.png" alt="" width="950" height="176" border="0" usemap="#Map4"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_30.png" alt="" width="950" height="176" border="0" usemap="#Map5"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_31.png" alt="" width="950" height="176" border="0" usemap="#Map6"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_32.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_33.png" width="950" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_34.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_35.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_36.png" width="950" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_37.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_38.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_39.png" width="950" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_40.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_41.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_42.png" width="950" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_43.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_44.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_45.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_46.png" width="950" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_47.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_48.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_49.png" width="950" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_50.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_51.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_52.png" width="950" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_53.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_54.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_55.png" width="950" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_56.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_57.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_58.png" width="950" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_59.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_60.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_61.png" width="950" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_62.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_63.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_64.png" width="950" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_65.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_66.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_67.png" width="950" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_68.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_69.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_70.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_71.png" width="950" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_72.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_73.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_74.png" width="950" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_75.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_76.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_77.png" width="950" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_78.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_79.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_80.png" width="950" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_81.png" width="950" height="56" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_82.png" alt="" width="950" height="156" border="0" usemap="#Map7"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_83.png" alt="" width="950" height="29" border="0" usemap="#Map8"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_84.png" width="950" height="44" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_85.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_86.png" width="950" height="36" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_87.png" alt="" width="950" height="42" border="0" usemap="#Map9"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_88.png" width="950" height="46" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_89.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_90.png" width="950" height="52" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_91.png" width="950" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_92.png" width="950" height="44" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_93.png" alt="" width="950" height="156" border="0" usemap="#Map10"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_94.png" alt="" width="950" height="44" border="0" usemap="#Map11"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_95.png" width="950" height="48" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_96.png" width="950" height="49" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_97.png" alt="" width="950" height="48" border="0" usemap="#Map12"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_98.png" width="950" height="49" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_99.png" width="950" height="48" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_100.png" width="950" height="48" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_101.png" width="950" height="49" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_102.png" width="950" height="48" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_103.png" alt="" width="950" height="157" border="0" usemap="#Map13"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_104.png" width="950" height="94" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_105.png" alt="" width="950" height="161" border="0" usemap="#Map14"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_106.png" width="950" height="50" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_107.png" width="950" height="51" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_108.png" width="950" height="50" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_109.png" alt="" width="950" height="51" border="0" usemap="#Map15"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_110.png" width="950" height="50" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_111.png" width="950" height="50" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_112.png" width="950" height="51" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_113.png" width="950" height="50" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_114.png" alt="" width="950" height="164" border="0" usemap="#Map16"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_115.png" alt="" width="950" height="45" border="0" usemap="#Map18"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_116.png" alt="" width="950" height="156" border="0" usemap="#Map17"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_117.png" width="950" height="47" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_118.png" width="950" height="46" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_119.png" width="950" height="47" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_120.png" width="950" height="46" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_121.png" alt="" width="950" height="36" border="0" usemap="#Map19"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_122.png" alt="" width="950" height="70" border="0" usemap="#Map20">
			<map name="Map20">
			  <area shape="rect" coords="122,2,296,28" href="http://www.tiexin.com/articles/1190" target="_blank">
              <area shape="rect" coords="125,41,392,63" href="http://www.tiexin.com/articles/1191" target="_blank">
              <area shape="rect" coords="611,5,726,28" href="http://www.tiexin.com/forums/7/posts/5517" target="_blank">
              <area shape="rect" coords="613,39,779,63" href="http://www.tiexin.com/forums/7/posts/5518" target="_blank">
            </map>
			<img src="/images/topic/201002/201002_123.png" alt="" width="950" height="42" border="0" usemap="#Map21"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_124.png" width="950" height="49" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201002/201002_125.png" width="950" height="49" alt=""></td>
	</tr>
</table>
<!-- End ImageReady Slices -->

<map name="Map"><area shape="rect" coords="42,11,242,150" href="http://www.tiexin.com/hot_spots/224821" target="_blank">
<area shape="rect" coords="261,9,448,34" href="http://www.tiexin.com/hot_spots/224821" target="_blank">
<area shape="rect" coords="551,9,693,34" href="http://www.tiexin.com/hot_spots/224905" target="_blank">
<area shape="rect" coords="703,11,904,149" href="http://www.tiexin.com/hot_spots/224905" target="_blank">
</map>
<map name="Map2"><area shape="rect" coords="56,8,241,32" href="http://www.tiexin.com/hot_spots/224919" target="_blank">
<area shape="rect" coords="254,13,455,150" href="http://www.tiexin.com/hot_spots/224919" target="_blank">
<area shape="rect" coords="502,12,702,151" href="http://www.tiexin.com/hot_spots/224929" target="_blank">
<area shape="rect" coords="717,11,863,33" href="http://www.tiexin.com/hot_spots/224929" target="_blank">
</map>
<map name="Map3"><area shape="rect" coords="153,3,286,25" href="http://www.tiexin.com/hot_spots/224815" target="_blank">
<area shape="rect" coords="385,1,553,24" href="http://www.tiexin.com/hot_spots/224912" target="_blank">
<area shape="rect" coords="636,3,748,24" href="http://www.tiexin.com/hot_spots/224930" target="_blank">
</map>
<map name="Map4"><area shape="rect" coords="34,3,281,161" href="http://www.tiexin.com/hot_spots/135776" target="_blank">
<area shape="rect" coords="289,4,368,29" href="http://www.tiexin.com/hot_spots/135776" target="_blank"><area shape="rect" coords="565,3,759,159" href="http://www.tiexin.com/hot_spots/221305" target="_blank"><area shape="rect" coords="766,8,832,33" href="http://www.tiexin.com/hot_spots/221305" target="_blank">
</map>
<map name="Map5"><area shape="rect" coords="173,7,244,32" href="http://www.tiexin.com/hot_spots/133129" target="_blank">
<area shape="rect" coords="262,6,456,163" href="http://www.tiexin.com/hot_spots/133129" target="_blank">
<area shape="rect" coords="558,7,711,30" href="http://www.tiexin.com/hot_spots/68075" target="_blank">
<area shape="rect" coords="717,6,915,163" href="http://www.tiexin.com/hot_spots/68075" target="_blank">
</map>
<map name="Map6"><area shape="rect" coords="35,15,273,172" href="http://www.tiexin.com/hot_spots/225173" target="_blank">
<area shape="rect" coords="283,30,380,52" href="http://www.tiexin.com/hot_spots/225173" target="_blank">
<area shape="rect" coords="565,15,758,170" href="http://www.tiexin.com/hot_spots/194815" target="_blank">
<area shape="rect" coords="768,11,867,37" href="http://www.tiexin.com/hot_spots/194815" target="_blank">
</map>
<map name="Map7"><area shape="rect" coords="34,8,229,148" href="http://www.tiexin.com/hot_spots/120834" target="_blank">
<area shape="rect" coords="269,7,463,148" href="http://www.tiexin.com/hot_spots/75968" target="_blank">
<area shape="rect" coords="499,7,693,148" href="http://www.tiexin.com/hot_spots/71431" target="_blank">
<area shape="rect" coords="723,8,917,148" href="http://www.tiexin.com/hot_spots/73137" target="_blank">
</map>
<map name="Map8"><area shape="rect" coords="66,4,176,24" href="http://www.tiexin.com/hot_spots/120834" target="_blank">
<area shape="rect" coords="330,3,400,25" href="http://www.tiexin.com/hot_spots/75968" target="_blank">
<area shape="rect" coords="564,4,637,26" href="http://www.tiexin.com/hot_spots/71431" target="_blank">
<area shape="rect" coords="788,4,869,25" href="http://www.tiexin.com/hot_spots/73137" target="_blank">
</map>
<map name="Map9"><area shape="rect" coords="148,5,220,26" href="http://www.tiexin.com/hot_spots/109317" target="_blank">
<area shape="rect" coords="350,4,428,24" href="http://www.tiexin.com/hot_spots/165138" target="_blank"><area shape="rect" coords="558,4,659,26" href="http://www.tiexin.com/hot_spots/109071" target="_blank">
</map>
<map name="Map10"><area shape="rect" coords="35,8,228,148" href="http://www.tiexin.com/brands/6051" target="_blank">
<area shape="rect" coords="267,8,461,149" href="http://www.tiexin.com/brands/6050" target="_blank">
<area shape="rect" coords="499,8,694,149" href="http://www.tiexin.com/brands/8130" target="_blank">
<area shape="rect" coords="723,8,917,150" href="http://www.tiexin.com/brands/7009" target="_blank">
</map>
<map name="Map11"><area shape="rect" coords="104,3,154,25" href="http://www.tiexin.com/brands/6051" target="_blank">
<area shape="rect" coords="317,4,410,25" href="http://www.tiexin.com/brands/6050" target="_blank">
<area shape="rect" coords="506,2,697,29" href="http://www.tiexin.com/brands/8130" target="_blank">
<area shape="rect" coords="794,4,858,25" href="http://www.tiexin.com/brands/7009" target="_blank">
</map>
<map name="Map12"><area shape="rect" coords="50,17,115,39" href="http://www.tiexin.com/brands/5550" target="_blank">
<area shape="rect" coords="160,18,278,39" href="http://www.tiexin.com/brands/4512" target="_blank">
<area shape="rect" coords="314,18,427,39" href="http://www.tiexin.com/brands/8156" target="_blank">
<area shape="rect" coords="547,16,662,39" href="http://www.tiexin.com/brands/8114" target="_blank">
<area shape="rect" coords="714,16,862,40" href="http://www.tiexin.com/hot_spots/107702" target="_blank">
</map>
<map name="Map13"><area shape="rect" coords="33,8,229,150" href="http://www.tiexin.com/brands/4118" target="_blank">
<area shape="rect" coords="250,5,331,28" href="http://www.tiexin.com/brands/4118" target="_blank">
<area shape="rect" coords="616,6,704,28" href="http://www.tiexin.com/brands/8346" target="_blank">
<area shape="rect" coords="723,9,918,150" href="http://www.tiexin.com/brands/8346" target="_blank">
</map>
<map name="Map14">
<area shape="rect" coords="166,5,249,29" href="http://www.tiexin.com/brands/7326" target="_blank">
<area shape="rect" coords="275,9,469,150" href="http://www.tiexin.com/brands/7326" target="_blank">
<area shape="rect" coords="491,8,685,151" href="http://www.tiexin.com/brands/2499" target="_blank"><area shape="rect" coords="701,6,779,27" href="http://www.tiexin.com/brands/2499" target="_blank">
</map>
<map name="Map15"><area shape="rect" coords="179,4,279,25" href="http://www.tiexin.com/hot_spots/72504" target="_blank">
<area shape="rect" coords="367,3,496,25" href="http://www.tiexin.com/brands/2757" target="_blank">
</map>
<map name="Map16"><area shape="rect" coords="52,5,271,33" href="http://www.tiexin.com/hot_spots/119472" target="_blank">
<area shape="rect" coords="322,4,560,32" href="http://www.tiexin.com/hot_spots/222136" target="_blank">
<area shape="rect" coords="637,18,903,158" href="http://www.tiexin.com/hot_spots/117700" target="_blank">
</map>
<map name="Map17"><area shape="rect" coords="64,3,259,145" href="http://www.tiexin.com/hot_spots/119472" target="_blank">
<area shape="rect" coords="334,2,529,143" href="http://www.tiexin.com/hot_spots/222136" target="_blank">
<area shape="rect" coords="612,122,768,150" href="http://www.tiexin.com/hot_spots/118088" target="_blank">
</map>
<map name="Map18"><area shape="rect" coords="692,8,852,29" href="http://www.tiexin.com/hot_spots/117700" target="_blank">
</map>
<map name="Map19"><area shape="rect" coords="122,6,370,31" href="http://www.tiexin.com/articles/1189" target="_blank">
<area shape="rect" coords="533,6,907,30" href="http://www.tiexin.com/forums/7/posts/4861" target="_blank">
</map>
<map name="Map21"><area shape="rect" coords="536,5,842,26" href="http://www.tiexin.com/forums/7/posts/5519" target="_blank">
</map>
