<div align="center">
<table width="947" height="4510" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="/images/topic/201018/201018_01.png" width="947" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_02.png" width="947" height="72" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_03.png" width="947" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_04.png" alt="" width="947" height="530" border="0" usemap="#Map"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_05.png" alt="" width="947" height="264" border="0" usemap="#Map2"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_06.png" alt="" width="947" height="425" border="0" usemap="#Map3"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_07.png" alt="" width="947" height="367" border="0" usemap="#Map4"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_08.png" width="947" height="81" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_09.png" alt="" width="947" height="344" border="0" usemap="#Map5"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_10.png" alt="" width="947" height="366" border="0" usemap="#Map6"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_11.png" width="947" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_12.png" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_13.png" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_14.png" width="947" height="99" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_15.png" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_16.png" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_17.png" width="947" height="332" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_18.png" width="947" height="74" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_19.png" alt="" width="947" height="381" border="0" usemap="#Map7"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_20.png" alt="" width="947" height="337" border="0" usemap="#Map8"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201018/201018_21.png" alt="" width="947" height="233" border="0" usemap="#Map9"></td>
	</tr>
</table>
<!-- End ImageReady Slices -->

<map name="Map" id="Map"><area shape="rect" coords="444,4,626,240" href="http://www.tiexin.com/vendor/hot_spot/9158/events" target="_blank" />
<area shape="rect" coords="24,225,392,526" href="http://www.tiexin.com/hot_spots/133896" target="_blank" />
<area shape="rect" coords="426,265,627,504" href="http://www.tiexin.com/vendor/hot_spot/133886/events" target="_blank" />
<area shape="rect" coords="664,4,925,387" href="http://www.tiexin.com/forums/7/posts/7161?page=1" target="_blank" />
<area shape="rect" coords="688,389,947,528" href="http://www.tiexin.com/vendor/hot_spot/135727/events/4782" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="689,1,945,262" href="http://www.tiexin.com/vendor/hot_spot/135727/events/4782" target="_blank" />
<area shape="rect" coords="386,2,684,262" href="http://www.tiexin.com/vendor/hot_spot/199572/events/4783" target="_blank" />
<area shape="rect" coords="2,1,381,263" href="http://www.tiexin.com/vendor/hot_spot/135701/events/4790" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="45,100,260,401" href="http://www.tiexin.com/vendor/hot_spot/198983/events/4775" target="_blank" />
<area shape="rect" coords="281,96,609,143" href="http://www.tiexin.com/vendor/hot_spot/198983/events/4775" target="_blank" />
<area shape="rect" coords="349,192,437,211" href="http://www.tiexin.com/hot_spots/198983" target="_blank" />
<area shape="rect" coords="713,136,929,172" href="http://www.tiexin.com/vendor/hot_spot/133896/events/4717" target="_blank" />
<area shape="rect" coords="737,228,903,250" href="http://www.tiexin.com/vendor/hot_spot/133896/events/4716" target="_blank" />
<area shape="rect" coords="735,294,901,332" href="http://www.tiexin.com/vendor/hot_spot/133895/events/4725" target="_blank" />
<area shape="rect" coords="745,394,892,414" href="http://www.tiexin.com/vendor/hot_spot/133896/events/4721" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="23,8,227,162" href="http://www.tiexin.com/vendor/hot_spot/17275/events/4754" target="_blank" />
<area shape="rect" coords="24,166,211,202" href="http://www.tiexin.com/vendor/hot_spot/17275/events/4754" target="_blank" />
<area shape="rect" coords="86,222,145,240" href="http://www.tiexin.com/hot_spots/17275" target="_blank" />
<area shape="rect" coords="251,9,454,161" href="http://www.tiexin.com/vendor/hot_spot/133894/events/4732" target="_blank" />
<area shape="rect" coords="247,168,441,199" href="http://www.tiexin.com/vendor/hot_spot/133894/events/4732" target="_blank" />
<area shape="rect" coords="314,223,433,240" href="http://www.tiexin.com/hot_spots/133894" target="_blank" />
<area shape="rect" coords="479,9,681,161" href="http://www.tiexin.com/vendor/hot_spot/214377/events/4768" target="_blank" />
<area shape="rect" coords="481,168,703,202" href="http://www.tiexin.com/vendor/hot_spot/214377/events/4768" target="_blank" />
<area shape="rect" coords="544,225,692,239" href="http://www.tiexin.com/hot_spots/214377" target="_blank" />
<area shape="rect" coords="744,45,899,83" href="http://www.tiexin.com/vendor/hot_spot/223633/events/4735" target="_blank" />
<area shape="rect" coords="749,161,888,179" href="http://www.tiexin.com/vendor/hot_spot/9174/events" target="_blank" />
<area shape="rect" coords="709,262,927,283" href="http://www.tiexin.com/vendor/hot_spot/133886/events/4737" target="_blank" />
<area shape="rect" coords="820,319,920,339" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="54,21,254,309" href="http://www.tiexin.com/vendor/hot_spot/198983/events/4773" target="_blank" />
<area shape="rect" coords="287,16,627,62" href="http://www.tiexin.com/vendor/hot_spot/198983/events/4773" target="_blank" />
<area shape="rect" coords="351,109,429,129" href="http://www.tiexin.com/hot_spots/198983" target="_blank" />
<area shape="rect" coords="743,56,889,94" href="http://www.tiexin.com/vendor/hot_spot/9313/events/4705" target="_blank" />
<area shape="rect" coords="798,146,844,171" href="http://www.tiexin.com/vendor/hot_spot/9313/events/4706" target="_blank" />
<area shape="rect" coords="753,230,882,251" href="http://www.tiexin.com/vendor/hot_spot/9313/events/4707" target="_blank" />
<area shape="rect" coords="755,313,876,335" href="http://www.tiexin.com/vendor/hot_spot/17275/events/4756" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="22,8,227,162" href="http://www.tiexin.com/vendor/hot_spot/213679/events/4791" target="_blank" />
<area shape="rect" coords="18,177,224,194" href="http://www.tiexin.com/vendor/hot_spot/213679/events/4791" target="_blank" />
<area shape="rect" coords="83,223,176,240" href="http://www.tiexin.com/hot_spots/213679" target="_blank" />
<area shape="rect" coords="253,8,454,162" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4752" target="_blank" />
<area shape="rect" coords="254,175,413,195" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4752" target="_blank" />
<area shape="rect" coords="316,222,370,240" href="http://www.tiexin.com/hot_spots/9158" target="_blank" />
<area shape="rect" coords="480,8,680,161" href="http://www.tiexin.com/vendor/hot_spot/17275/events/4755" target="_blank" />
<area shape="rect" coords="483,175,672,197" href="http://www.tiexin.com/vendor/hot_spot/17275/events/4755" target="_blank" />
<area shape="rect" coords="542,223,599,239" href="http://www.tiexin.com/hot_spots/17275" target="_blank" />
<area shape="rect" coords="733,61,907,82" href="http://www.tiexin.com/vendor/hot_spot/214377/events/4772" target="_blank" />
<area shape="rect" coords="726,161,912,182" href="http://www.tiexin.com/vendor/hot_spot/214377/events/4771" target="_blank" />
<area shape="rect" coords="724,247,923,283" href="http://www.tiexin.com/vendor/hot_spot/198983/events/4774" target="_blank" />
<area shape="rect" coords="819,321,924,345" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="22,7,229,162" href="http://www.tiexin.com/vendor/hot_spot/190716/events/4803" target="_blank" />
<area shape="rect" coords="20,175,225,195" href="http://www.tiexin.com/vendor/hot_spot/190716/events/4803" target="_blank" />
<area shape="rect" coords="86,223,144,241" href="http://www.tiexin.com/hot_spots/190716" target="_blank" />
<area shape="rect" coords="252,7,455,163" href="http://www.tiexin.com/vendor/hot_spot/12165/events/4801" target="_blank" />
<area shape="rect" coords="252,168,430,200" href="http://www.tiexin.com/vendor/hot_spot/12165/events/4801" target="_blank" />
<area shape="rect" coords="318,223,435,238" href="http://www.tiexin.com/hot_spots/12165" target="_blank" />
<area shape="rect" coords="479,7,682,162" href="http://www.tiexin.com/vendor/hot_spot/111412/events/4793" target="_blank" />
<area shape="rect" coords="480,176,661,198" href="http://www.tiexin.com/vendor/hot_spot/111412/events/4793" target="_blank" />
<area shape="rect" coords="545,224,688,241" href="http://www.tiexin.com/hot_spots/111412" target="_blank" />
<area shape="rect" coords="755,81,884,102" href="http://www.tiexin.com/vendor/hot_spot/111412/events/4795" target="_blank" />
<area shape="rect" coords="710,161,927,180" href="http://www.tiexin.com/vendor/hot_spot/152214/events/4802" target="_blank" />
<area shape="rect" coords="731,238,908,260" href="http://www.tiexin.com/vendor/hot_spot/152340/events/4804" target="_blank" />
<area shape="rect" coords="710,328,931,345" href="http://www.tiexin.com/vendor/hot_spot/152175/events/4805" target="_blank" />
</map>
<map name="Map8" id="Map8"><area shape="rect" coords="63,49,334,73" href="http://www.tiexin.com/vendor/hot_spot/104899/events/4806" target="_blank" />
<area shape="rect" coords="61,146,395,168" href="http://www.tiexin.com/vendor/hot_spot/228474/events/4807" target="_blank" />
<area shape="rect" coords="61,238,391,263" href="http://www.tiexin.com/vendor/hot_spot/152384/events/4808" target="_blank" />
<area shape="rect" coords="772,30,881,54" href="http://www.tiexin.com/vendor/hot_spot/152384/events/4797" target="_blank" />
<area shape="rect" coords="717,134,928,152" href="http://www.tiexin.com/vendor/hot_spot/152384/events/4809" target="_blank" />
<area shape="rect" coords="733,237,915,257" href="http://www.tiexin.com/vendor/hot_spot/152384/events/4810" target="_blank" />
<area shape="rect" coords="798,296,908,320" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map9" id="Map9"><area shape="rect" coords="115,33,294,179" href="http://www.tiexin.com/cities/1/topics/3" target="_blank" />
<area shape="rect" coords="332,36,510,179" href="http://www.tiexin.com/cities/1/topics/5" target="_blank" />
<area shape="rect" coords="548,33,731,180" href="http://www.tiexin.com/cities/1/topics/8" target="_blank" />
<area shape="rect" coords="765,34,945,175" href="http://www.tiexin.com/cities/1/topics/31" target="_blank" />
</map>
</div>