<% page_title @topic.title -%>

<div align="center">
  <table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/topic/200916/200916_01.jpg" width="950" height="358" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200916/200916_02.jpg" width="950" height="313" /></td>
    </tr>
    <tr>
      <td><table width="" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="/images/topic/200916/200916_03.jpg" width="564" height="324" border="0" usemap="#Map2" /></td>
          <td><img src="/images/topic/200916/200916_04.jpg" width="386" height="324" border="0" usemap="#Map" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="/images/topic/200916/200916_05.jpg" width="395" height="484" border="0" usemap="#Map3" /></td>
          <td><img src="/images/topic/200916/200916_06.jpg" width="555" height="484" border="0" usemap="#Map4" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200916/200916_07.jpg" width="950" height="253" border="0" usemap="#Map5" /></td>
    </tr>
    <tr>
      <td><table width="" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="/images/topic/200916/200916_08.jpg" width="264" height="693" border="0" usemap="#Map6" /></td>
          <td><img src="/images/topic/200916/200916_09.jpg" width="255" height="693" border="0" usemap="#Map7" /></td>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/topic/200916/200916_10.jpg" width="431" height="469" border="0" usemap="#Map8" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200916/200916_11.jpg" width="431" height="224" border="0" usemap="#Map9" /></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200916/200916_12.jpg" width="950" height="53" border="0" usemap="#Map10" /></td>
    </tr>
  </table>
</div>

<map name="Map" id="Map"><area shape="rect" coords="319,14,379,156" href="http://www.tiexin.com/hot_spots/221318" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="39,12,210,34" href="http://www.tiexin.com/hot_spots/221319" target="_blank" />
<area shape="rect" coords="36,66,224,84" href="http://www.tiexin.com/hot_spots/221320" target="_blank" />
<area shape="rect" coords="30,132,216,153" href="http://www.tiexin.com/hot_spots/221321" target="_blank" />
<area shape="rect" coords="36,201,218,222" href="http://www.tiexin.com/hot_spots/221322" target="_blank" />
<area shape="rect" coords="38,250,226,272" href="http://www.tiexin.com/hot_spots/221323" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="16,26,72,183" href="http://www.tiexin.com/hot_spots/221309" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="11,23,199,42" href="http://www.tiexin.com/hot_spots/221313" target="_blank" />
<area shape="rect" coords="13,91,177,110" href="http://www.tiexin.com/hot_spots/221312" target="_blank" />
<area shape="rect" coords="13,161,177,180" href="http://www.tiexin.com/hot_spots/221317" target="_blank" />
<area shape="rect" coords="14,225,179,243" href="http://www.tiexin.com/hot_spots/221310" target="_blank" />
<area shape="rect" coords="13,280,202,298" href="http://www.tiexin.com/hot_spots/221314" target="_blank" />
<area shape="rect" coords="11,346,193,366" href="http://www.tiexin.com/hot_spots/221315 " target="_blank" />
<area shape="rect" coords="14,411,189,435" href="http://www.tiexin.com/hot_spots/221311" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="30,19,106,92" href="http://www.tiexin.com/hot_spots/221374" target="_blank" />
<area shape="rect" coords="41,197,166,241" href="http://www.tiexin.com/hot_spots/221378" target="_blank" />
<area shape="rect" coords="189,198,310,241" href="http://www.tiexin.com/hot_spots/221389" target="_blank" />
<area shape="rect" coords="335,197,456,242" href="http://www.tiexin.com/hot_spots/221386" target="_blank" />
<area shape="rect" coords="483,197,599,243" href="http://www.tiexin.com/hot_spots/221381" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="92,106,184,151" href="http://www.tiexin.com/hot_spots/221362" target="_blank" />
<area shape="rect" coords="50,347,219,367" href="http://www.tiexin.com/hot_spots/221369" target="_blank" />
<area shape="rect" coords="50,496,216,515" href="http://www.tiexin.com/hot_spots/221368" target="_blank" />
<area shape="rect" coords="37,643,233,667" href="http://www.tiexin.com/hot_spots/221366" target="_blank" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="81,110,172,148" href="http://www.tiexin.com/hot_spots/221354" target="_blank" />
<area shape="rect" coords="29,345,229,367" href="http://www.tiexin.com/hot_spots/221361" target="_blank" />
<area shape="rect" coords="36,498,220,515" href="http://www.tiexin.com/hot_spots/221360" target="_blank" />
<area shape="rect" coords="32,645,229,667" href="http://www.tiexin.com/hot_spots/221356" target="_blank" />
</map>
<map name="Map8" id="Map8"><area shape="rect" coords="275,106,392,148" href="http://www.tiexin.com/hot_spots/221325" target="_blank" />
<area shape="rect" coords="24,314,216,334" href="http://www.tiexin.com/hot_spots/221326" target="_blank" />
<area shape="rect" coords="219,314,398,335" href="http://www.tiexin.com/hot_spots/221328" target="_blank" />
<area shape="rect" coords="33,432,199,455" href="http://www.tiexin.com/hot_spots/221331" target="_blank" />
<area shape="rect" coords="231,435,392,458" href="http://www.tiexin.com/hot_spots/221330" target="_blank" />
</map>
<map name="Map9" id="Map9"><area shape="rect" coords="350,90,399,189" href="http://www.tiexin.com/hot_spots/221306" target="_blank" />
<area shape="rect" coords="192,193,193,194" href="#" /><area shape="rect" coords="180,170,306,211" href="http://www.tiexin.com/hot_spots/221308" target="_blank" />
<area shape="rect" coords="27,168,156,213" href="http://www.tiexin.com/hot_spots/221307" target="_blank" />
</map>
<map name="Map10" id="Map10"><area shape="rect" coords="187,7,325,43" href="http://www.tiexin.com/cities/2/topics/4" target="_blank" />
<area shape="rect" coords="337,10,455,43" href="http://www.tiexin.com/cities/2/topics/6" target="_blank" />
<area shape="rect" coords="464,9,543,40" href="http://www.tiexin.com/cities/2/topics/9" target="_blank" />
<area shape="rect" coords="550,9,711,39" href="http://www.tiexin.com/cities/2/topics/12" target="_blank" />
<area shape="rect" coords="719,11,920,39" href="http://www.tiexin.com/cities/2/topics/15" target="_blank" />
</map>
