<div align="center">
<table width="947" height="4510" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="/images/topic/201019/201019_01.png" width="947" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_02.png" width="947" height="72" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_03.png" width="947" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_04.png" alt="" width="947" height="538" border="0" usemap="#Map"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_05.png" alt="" width="947" height="256" border="0" usemap="#Map2"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_06.png" alt="" width="947" height="425" border="0" usemap="#Map3"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_07.png" alt="" width="947" height="367" border="0" usemap="#Map4"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_08.png" width="947" height="81" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_10.png" alt="" width="947" height="366" border="0" usemap="#Map6" />
			<map name="Map6" id="Map6">
			  <area shape="rect" coords="86,221,168,238" href="http://www.tiexin.com/hot_spots/198983" target="_blank" />
              <area shape="rect" coords="23,9,228,162" href="http://www.tiexin.com/vendor/hot_spot/198983/events/4900" target="_blank" />
              <area shape="rect" coords="25,171,110,197" href="http://www.tiexin.com/vendor/hot_spot/198983/events/4900" target="_blank" />
              <area shape="rect" coords="253,9,454,160" href="http://www.tiexin.com/vendor/hot_spot/17275/events/4753" target="_blank" />
              <area shape="rect" coords="257,161,434,201" href="http://www.tiexin.com/vendor/hot_spot/17275/events/4753" target="_blank" />
              <area shape="rect" coords="317,222,379,240" href="http://www.tiexin.com/hot_spots/17275" target="_blank" />
              <area shape="rect" coords="481,8,679,161" href="http://www.tiexin.com/vendor/hot_spot/17275/events/4879" target="_blank" />
              <area shape="rect" coords="483,166,655,201" href="http://www.tiexin.com/vendor/hot_spot/17275/events/4879" target="_blank" />
              <area shape="rect" coords="539,222,611,239" href="http://www.tiexin.com/hot_spots/17275" target="_blank" />
              <area shape="rect" coords="777,62,867,80" href="http://www.tiexin.com/vendor/hot_spot/14641/events/4898" target="_blank" />
              <area shape="rect" coords="778,159,854,183" href="http://www.tiexin.com/vendor/hot_spot/199550/events/4910" target="_blank" />
              <area shape="rect" coords="777,265,863,285" href="http://www.tiexin.com/vendor/hot_spot/199550/events/4912" target="_blank" />
              <area shape="rect" coords="814,319,925,344" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
            </map>
			<img src="/images/topic/201019/201019_09.png" alt="" width="947" height="344" border="0" usemap="#Map5"></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_11.png" width="947" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_12.png" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_13.png" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_14.png" width="947" height="99" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_15.png" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_16.png" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_17.png" width="947" height="1" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_18.png" width="947" height="92" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_19.png" width="947" height="115" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_20.png" width="947" height="124" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_21.png" alt="" width="947" height="74" border="0" usemap="#Map8"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_22.png" alt="" width="947" height="381" border="0" usemap="#Map7"></td>
	</tr>
	<tr>
		<td><img src="/images/topic/201019/201019_23.png" alt="" width="947" height="337" border="0" usemap="#Map9"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201019/201019_24.png" alt="" width="947" height="233" border="0" usemap="#Map10"></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map" id="Map">
<area shape="poly" coords="464,4,942,2,945,379,664,381,660,443,485,445,487,220,463,220" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4883" target="_blank" />
<area shape="poly" coords="33,223,484,226,483,437,30,434" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4882" target="_blank" />
<area shape="poly" coords="21,440,238,439" href="#" />
<area shape="rect" coords="23,439,239,539" href="http://www.tiexin.com/vendor/hot_spot/199572/events/4903" target="_blank" />
<area shape="rect" coords="262,466,656,545" href="http://www.tiexin.com/vendor/hot_spot/135701/events/4914" target="_blank" />
<area shape="rect" coords="665,385,946,535" href="http://www.tiexin.com/vendor/hot_spot/135727/events/4915" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="poly" coords="237,247" href="#" /><area shape="rect" coords="23,1,239,249" href="http://www.tiexin.com/vendor/hot_spot/199572/events/4903" target="_blank" />
<area shape="rect" coords="262,1,655,173" href="http://www.tiexin.com/vendor/hot_spot/135701/events/4914" target="_blank" />
<area shape="rect" coords="665,2,944,255" href="http://www.tiexin.com/vendor/hot_spot/135727/events/4915" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="55,101,253,398" href="http://www.tiexin.com/vendor/hot_spot/223633/events/4866" target="_blank" />
<area shape="rect" coords="285,96,598,144" href="http://www.tiexin.com/vendor/hot_spot/223633/events/4866" target="_blank" />
<area shape="rect" coords="349,192,470,209" href="http://www.tiexin.com/hot_spots/223633" target="_blank" />
<area shape="rect" coords="740,136,904,170" href="http://www.tiexin.com/vendor/hot_spot/9174/events/4839" target="_blank" />
<area shape="rect" coords="738,228,908,251" href="http://www.tiexin.com/vendor/hot_spot/133886/events/4872" target="_blank" />
<area shape="rect" coords="753,294,882,333" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4886" target="_blank" />
<area shape="rect" coords="716,386,925,417" href="ttp://www.tiexin.com/vendor/hot_spot/9158/events/4884" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="21,7,229,163" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4887" target="_blank" />
<area shape="rect" coords="27,167,234,202" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4887" target="_blank" />
<area shape="rect" coords="88,223,144,240" href="http://www.tiexin.com/hot_spots/9158" target="_blank" />
<area shape="rect" coords="251,9,454,160" href="http://www.tiexin.com/vendor/hot_spot/22192/events/4907" target="_blank" />
<area shape="rect" coords="252,166,441,199" href="http://www.tiexin.com/vendor/hot_spot/22192/events/4907" target="_blank" />
<area shape="rect" coords="316,223,373,239" href="http://www.tiexin.com/hot_spots/22192" target="_blank" />
<area shape="rect" coords="479,9,680,160" href="http://www.tiexin.com/vendor/hot_spot/110467/events/4821" target="_blank" />
<area shape="rect" coords="480,163,667,211" href="http://www.tiexin.com/vendor/hot_spot/110467/events/4821" target="_blank" />
<area shape="rect" coords="820,317,924,342" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
<area shape="rect" coords="544,221,663,244" href="http://www.tiexin.com/hot_spots/110467" target="_blank" />
<area shape="rect" coords="743,43,906,81" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4888" target="_blank" />
<area shape="rect" coords="727,144,911,185" href="http://www.tiexin.com/vendor/hot_spot/198983/events/4901" target="_blank" />
<area shape="rect" coords="748,262,887,284" href="http://www.tiexin.com/vendor/hot_spot/199550/events/4911" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="49,17,257,310" href="http://www.tiexin.com/vendor/hot_spot/198983/events/4899" target="_blank" />
<area shape="rect" coords="284,15,585,62" href="http://www.tiexin.com/vendor/hot_spot/198983/events/4899" target="_blank" />
<area shape="rect" coords="346,109,437,127" href="http://www.tiexin.com/hot_spots/198983" target="_blank" />
<area shape="rect" coords="736,56,905,94" href="http://www.tiexin.com/vendor/hot_spot/17275/events/4877" target="_blank" />
<area shape="rect" coords="774,148,872,173" href="http://www.tiexin.com/vendor/hot_spot/17275/events/4881" target="_blank" />
<area shape="rect" coords="779,229,856,251" href="http://www.tiexin.com/vendor/hot_spot/214377/events/4896" target="_blank" />
<area shape="rect" coords="706,315,929,333" href="http://www.tiexin.com/vendor/hot_spot/214377/events/4897" target="_blank" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="22,8,231,159" href="http://www.tiexin.com/vendor/hot_spot/152444/events/4917" target="_blank" />
<area shape="rect" coords="22,165,215,199" href="http://www.tiexin.com/vendor/hot_spot/152444/events/4917" target="_blank" />
<area shape="rect" coords="87,219,195,238" href="http://www.tiexin.com/hot_spots/152444" target="_blank" />
<area shape="rect" coords="251,7,456,159" href="http://www.tiexin.com/vendor/hot_spot/111292/events/4918" target="_blank" />
<area shape="rect" coords="250,175,409,198" href="http://www.tiexin.com/vendor/hot_spot/111292/events/4918" target="_blank" />
<area shape="rect" coords="315,223,406,238" href="http://www.tiexin.com/hot_spots/111292" target="_blank" />
<area shape="rect" coords="479,8,681,161" href="http://www.tiexin.com/vendor/hot_spot/152340/events/4920" target="_blank" />
<area shape="rect" coords="480,167,637,204" href="http://www.tiexin.com/vendor/hot_spot/152340/events/4920" target="_blank" />
<area shape="rect" coords="546,225,590,242" href="http://www.tiexin.com/hot_spots/152340" target="_blank" />
<area shape="rect" coords="713,66,937,104" href="http://www.tiexin.com/vendor/hot_spot/152361/events/4921" target="_blank" />
<area shape="rect" coords="728,150,920,186" href="http://www.tiexin.com/vendor/hot_spot/152210/events/4922" target="_blank" />
<area shape="rect" coords="781,236,853,259" href="http://www.tiexin.com/vendor/hot_spot/152177/events/4923" target="_blank" />
<area shape="rect" coords="748,325,893,348" href="http://www.tiexin.com/vendor/hot_spot/104291/events/4924" target="_blank" />
</map>
<map name="Map8" id="Map8"><area shape="rect" coords="648,72,649,74" href="#" /></map>
<map name="Map9" id="Map9"><area shape="rect" coords="64,50,371,74" href="http://www.tiexin.com/vendor/hot_spot/229121/events/4929" target="_blank" />
<area shape="rect" coords="60,145,450,167" href="http://www.tiexin.com/vendor/hot_spot/152384/events/4926" target="_blank" />
<area shape="rect" coords="64,238,397,263" href="http://www.tiexin.com/vendor/hot_spot/152384/events/4927" target="_blank" />
<area shape="rect" coords="729,33,914,52" href="http://www.tiexin.com/vendor/hot_spot/152185/events/4925" target="_blank" />
<area shape="rect" coords="716,133,932,152" href="http://www.tiexin.com/vendor/hot_spot/152384/events/4928" target="_blank" />
<area shape="rect" coords="728,221,914,261" href="http://www.tiexin.com/vendor/hot_spot/228474/events/4930" target="_blank" />
<area shape="rect" coords="801,298,917,315" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map10" id="Map10"><area shape="rect" coords="113,32,294,177" href="http://www.tiexin.com/cities/1/topics/3" target="_blank" />
<area shape="rect" coords="330,34,512,176" href="http://www.tiexin.com/cities/1/topics/5" target="_blank" />
<area shape="rect" coords="548,34,730,174" href="http://www.tiexin.com/cities/1/topics/8" target="_blank" />
<area shape="rect" coords="764,34,945,176" href="http://www.tiexin.com/cities/1/topics/31" target="_blank" />
</map>

</div>