<% page_title @topic.name -%>
<div align="center">
  <table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/topic/200922/200922_01.jpg" width="950" height="303" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200922/200922_02.jpg" width="950" height="623" border="0" usemap="#Map" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200922/200922_03.jpg" width="950" height="597" border="0" usemap="#Map2" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200922/200922_04.jpg" width="950" height="491" border="0" usemap="#Map3" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200922/200922_05.jpg" width="950" height="411" border="0" usemap="#Map4" /></td>
    </tr>
  </table>
</div>

<map name="Map" id="Map"><area shape="rect" coords="167,27,297,67" href="http://www.tiexin.com/hot_spots/223727" target="_blank" />
<area shape="rect" coords="223,202,358,245" href="http://www.tiexin.com/hot_spots/223741" target="_blank" />
<area shape="rect" coords="175,405,312,447" href="http://www.tiexin.com/hot_spots/139034" target="_blank" />
<area shape="rect" coords="659,187,792,231" href="http://www.tiexin.com/hot_spots/223739" target="_blank" />
<area shape="rect" coords="556,352,761,383" href="http://www.tiexin.com/hot_spots/195243" target="_blank" />
<area shape="rect" coords="589,493,807,527" href="http://www.tiexin.com/hot_spots/137665" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="59,87,319,130" href="http://www.tiexin.com/hot_spots/148783" target="_blank" />
<area shape="rect" coords="54,184,187,223" href="http://www.tiexin.com/hot_spots/92269" target="_blank" />
<area shape="rect" coords="53,279,210,324" href="http://www.tiexin.com/hot_spots/138942" target="_blank" />
<area shape="rect" coords="57,379,238,420" href="http://www.tiexin.com/hot_spots/115269" target="_blank" />
<area shape="rect" coords="52,472,404,516" href="http://www.tiexin.com/hot_spots/222778" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="387,64,653,97" href="http://www.tiexin.com/hot_spots/148525" target="_blank" />
<area shape="rect" coords="383,123,606,161" href="http://www.tiexin.com/hot_spots/191700" target="_blank" />
<area shape="rect" coords="380,189,540,225" href="http://www.tiexin.com/hot_spots/73765" target="_blank" />
<area shape="rect" coords="378,251,495,287" href="http://www.tiexin.com/hot_spots/75959" target="_blank" />
<area shape="rect" coords="381,314,748,349" href="http://www.tiexin.com/hot_spots/206056" target="_blank" />
<area shape="rect" coords="380,380,633,413" href="http://www.tiexin.com/hot_spots/89694" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="93,111,358,128" href="http://www.tiexin.com/articles/1073" target="_blank" />
<area shape="rect" coords="92,133,268,153" href="http://www.tiexin.com/articles/1074" target="_blank" />
<area shape="rect" coords="95,160,394,179" href="http://www.tiexin.com/articles/1075" target="_blank" />
<area shape="rect" coords="99,185,252,202" href="http://www.tiexin.com/articles/1076" target="_blank" />
<area shape="rect" coords="96,208,294,227" href="http://www.tiexin.com/articles/1080" target="_blank" />
<area shape="rect" coords="94,232,306,252" href="http://www.tiexin.com/articles/1081" target="_blank" />
<area shape="rect" coords="96,257,283,277" href="http://www.tiexin.com/articles/1082" target="_blank" />
<area shape="rect" coords="96,283,283,300" href="http://aolifu.blog.tiexin.com/articles/1151" target="_blank" />
<area shape="rect" coords="95,305,308,325" href="http://aolifu.blog.tiexin.com/articles/1152" target="_blank" />
<area shape="rect" coords="95,329,308,348" href="http://moon.blog.tiexin.com/articles/1153" target="_blank" />
<area shape="rect" coords="570,52,672,71" href="http://www.tiexin.com/forums/7/posts/4718" target="_blank" />
<area shape="rect" coords="569,76,714,96" href="http://www.tiexin.com/forums/5/posts/4888" target="_blank" />
<area shape="rect" coords="569,101,744,120" href="http://www.tiexin.com/forums/5/posts/4889" target="_blank" />
<area shape="rect" coords="569,124,715,144" href="http://www.tiexin.com/forums/5/posts/4890" target="_blank" />
<area shape="rect" coords="572,148,688,168" href="http://www.tiexin.com/forums/5/posts/4891" target="_blank" />
<area shape="rect" coords="538,321,643,344" href="http://www.tiexin.com/cities/2/topics/4" target="_blank" />
<area shape="rect" coords="652,321,738,345" href="http://www.tiexin.com/cities/2/topics/6" target="_blank" />
<area shape="rect" coords="749,321,812,344" href="http://www.tiexin.com/cities/2/topics/9" target="_blank" />
<area shape="rect" coords="819,321,940,343" href="http://www.tiexin.com/cities/2/topics/12" target="_blank" />
<area shape="rect" coords="514,347,656,369" href="http://www.tiexin.com/cities/2/topics/15" target="_blank" />
<area shape="rect" coords="663,347,750,367" href="http://www.tiexin.com/cities/2/topics/17" target="_blank" />
<area shape="rect" coords="760,347,850,368" href="http://www.tiexin.com/cities/2/topics/20" target="_blank" />
<area shape="rect" coords="860,348,937,369" href="http://www.tiexin.com/cities/2/topics/21" target="_blank" />
</map>
