<% page_title @topic.name %>
<div align="center">
  <table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/topic/200919/200919_01.jpg" width="950" height="450" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200919/200919_02.jpg" width="950" height="85" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200919/200919_03.jpg" width="950" height="148" border="0" usemap="#Map" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200919/200919_04.jpg" width="950" height="151" border="0" usemap="#Map2" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200919/200919_05.jpg" width="950" height="156" border="0" usemap="#Map3" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200919/200919_06.jpg" width="950" height="116" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200919/200919_07.jpg" width="950" height="366" border="0" usemap="#Map4" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200919/200919_08.jpg" width="950" height="91" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200919/200919_09.jpg" width="950" height="260" border="0" usemap="#Map5" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200919/200919_10.jpg" width="950" height="381" border="0" usemap="#Map6" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200919/200919_11.jpg" width="950" height="290" border="0" usemap="#Map7" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200919/200919_12.jpg" width="950" height="201" border="0" usemap="#Map8" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200919/200919_13.jpg" width="950" height="85" border="0" usemap="#Map9" /></td>
    </tr>
  </table>
</div>

<map name="Map" id="Map"><area shape="rect" coords="231,15,336,52" href="http://www.tiexin.com/hot_spots/141666" target="_blank" />
<area shape="rect" coords="663,25,768,51" href="http://www.tiexin.com/hot_spots/141686" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="234,22,341,54" href="http://www.tiexin.com/hot_spots/52727" target="_blank" />
<area shape="rect" coords="658,24,767,52" href="http://www.tiexin.com/hot_spots/141647" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="231,19,378,51" href="http://www.tiexin.com/hot_spots/141716" target="_blank" />
<area shape="rect" coords="670,16,832,51" href="http://www.tiexin.com/hot_spots/155339" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="197,14,307,52" href="http://www.tiexin.com/hot_spots/115962" target="_blank" />
<area shape="rect" coords="66,174,180,201" href="http://www.tiexin.com/hot_spots/116380" target="_blank" />
<area shape="rect" coords="437,18,548,46" href="http://www.tiexin.com/hot_spots/155434" target="_blank" />
<area shape="rect" coords="349,281,457,309" href="http://www.tiexin.com/hot_spots/155290" target="_blank" />
<area shape="rect" coords="631,149,782,180" href="http://www.tiexin.com/hot_spots/201899" target="_blank" />
<area shape="rect" coords="745,198,877,231" href="http://www.tiexin.com/hot_spots/57475" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="163,12,282,40" href="http://www.tiexin.com/hot_spots/155557" target="_blank" />
<area shape="rect" coords="405,13,589,40" href="http://www.tiexin.com/hot_spots/146017" target="_blank" />
<area shape="rect" coords="707,13,819,39" href="http://www.tiexin.com/hot_spots/142554" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="512,85,837,124" href="http://www.tiexin.com/hot_spots/117713" target="_blank" />
<area shape="rect" coords="509,132,844,169" href="http://www.tiexin.com/hot_spots/223599" target="_blank" />
<area shape="rect" coords="508,175,891,212" href="http://www.tiexin.com/hot_spots/223600" target="_blank" />
<area shape="rect" coords="508,222,838,260" href="http://www.tiexin.com/hot_spots/223601" target="_blank" />
<area shape="rect" coords="506,269,838,306" href="http://www.tiexin.com/hot_spots/223602" target="_blank" />
<area shape="rect" coords="503,313,724,353" href="http://www.tiexin.com/brands/8220" target="_blank" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="69,152,345,176" href="http://www.tiexin.com/articles/990" target="_blank" />
<area shape="rect" coords="71,183,385,210" href="http://www.tiexin.com/articles/991" target="_blank" />
<area shape="rect" coords="70,216,319,240" href="http://www.tiexin.com/articles/994" target="_blank" />
<area shape="rect" coords="72,247,348,273" href="http://an.blog.tiexin.com/articles/993" target="_blank" />
</map>
<map name="Map8" id="Map8"><area shape="rect" coords="565,17,751,45" href="http://iris.blog.tiexin.com/articles/986" target="_blank" />
<area shape="rect" coords="565,52,753,78" href="http://iris.blog.tiexin.com/articles/987" target="_blank" />
<area shape="rect" coords="561,90,877,118" href="http://iris.blog.tiexin.com/articles/988" target="_blank" />
<area shape="rect" coords="562,128,812,159" href="http://iris.blog.tiexin.com/articles/989" target="_blank" />
<area shape="rect" coords="71,159,242,185" href="http://www.tiexin.com/forums/9/posts/4156" target="_blank" />
<area shape="rect" coords="269,162,432,187" href="http://www.tiexin.com/forums/9/posts/4157" target="_blank" />
</map>
<map name="Map9" id="Map9"><area shape="rect" coords="150,27,282,49" href="http://www.tiexin.com/cities/2/topics/4" target="_blank" />
<area shape="rect" coords="286,29,389,49" href="http://www.tiexin.com/cities/2/topics/6" target="_blank" />
<area shape="rect" coords="394,24,468,51" href="http://www.tiexin.com/cities/2/topics/9" target="_blank" />
<area shape="rect" coords="472,25,616,49" href="http://www.tiexin.com/cities/2/topics/12" target="_blank" />
<area shape="rect" coords="618,24,786,51" href="http://www.tiexin.com/cities/2/topics/15" target="_blank" />
<area shape="rect" coords="792,29,899,49" href="http://www.tiexin.com/cities/2/topics/17" target="_blank" />
</map>
