<% page_title @topic.name  %>

<div align="center">
  <table width="953" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/topic/200909/200909_03.jpg" width="953" height="215" alt="" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200909/200909_05.jpg" width="953" height="54" alt="" /></td>
    </tr>
    <tr>
      <td><table width="953" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="255"><img src="/images/topic/200909/200909_06.jpg" alt="" width="255" height="329" border="0" usemap="#Map"></td>
          <td width="224"><img src="/images/topic/200909/200909_07.jpg" alt="" width="224" height="329" border="0" usemap="#Map2"></td>
          <td width="224"><img src="/images/topic/200909/200909_08.jpg" alt="" width="224" height="329" border="0" usemap="#Map3"></td>
          <td width="250"><img src="/images/topic/200909/200909_09.jpg" alt="" width="250" height="329" border="0" usemap="#Map4"></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="953" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="686"><img src="/images/topic/200909/200909_10.jpg" alt="" width="686" height="362" border="0" usemap="#Map5"></td>
          <td width="267"><img src="/images/topic/200909/200909_11.jpg" alt="" width="267" height="362" border="0" usemap="#Map6"></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200909/200909_12.jpg" width="953" height="60" alt=""></td>
    </tr>
    <tr>
      <td><table width="953" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="255"><img src="/images/topic/200909/200909_13.jpg" alt="" width="255" height="371" border="0" usemap="#Map7"></td>
          <td width="224"><img src="/images/topic/200909/200909_14.jpg" alt="" width="224" height="371" border="0" usemap="#Map8"></td>
          <td width="224"><img src="/images/topic/200909/200909_15.jpg" alt="" width="224" height="371" border="0" usemap="#Map9"></td>
          <td width="250"><img src="/images/topic/200909/200909_16.jpg" alt="" width="250" height="371" border="0" usemap="#Map10"></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="953" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="686"><img src="/images/topic/200909/200909_17.jpg" alt="" width="686" height="352" border="0" usemap="#Map11"></td>
          <td width="267"><img src="/images/topic/200909/200909_18.jpg" alt="" width="267" height="352" border="0" usemap="#Map12"></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200909/200909_19.jpg" width="953" height="62" alt=""></td>
    </tr>
    <tr>
      <td><table width="953" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="255"><img src="/images/topic/200909/200909_20.jpg" alt="" width="255" height="381" border="0" usemap="#Map13"></td>
          <td width="224"><img src="/images/topic/200909/200909_21.jpg" alt="" width="224" height="381" border="0" usemap="#Map14"></td>
          <td width="224"><img src="/images/topic/200909/200909_22.jpg" alt="" width="224" height="381" border="0" usemap="#Map15"></td>
          <td width="250"><img src="/images/topic/200909/200909_23.jpg" alt="" width="250" height="381" border="0" usemap="#Map16"></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="953" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="686"><img src="/images/topic/200909/200909_24.jpg" alt="" width="686" height="339" border="0" usemap="#Map17"></td>
          <td width="267"><img src="/images/topic/200909/200909_25.jpg" alt="" width="267" height="339" border="0" usemap="#Map18"></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="953" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="255"><img src="/images/topic/200909/200909_26.jpg" width="255" height="543" alt=""></td>
          <td width="224"><img src="/images/topic/200909/200909_27.jpg" width="224" height="543" alt=""></td>
          <td width="224"><img src="/images/topic/200909/200909_28.jpg" width="224" height="543" alt=""></td>
          <td width="250"><img src="/images/topic/200909/200909_29.jpg" width="250" height="543" alt=""></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="953" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="686"><img src="/images/topic/200909/200909_30.jpg" width="686" height="342" alt=""></td>
          <td width="267"><img src="/images/topic/200909/200909_31.jpg" alt="" width="267" height="342" border="0" usemap="#Map19"></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="953" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="592"><img src="/images/topic/200909/200909_32.jpg" alt="" width="592" height="472" border="0" usemap="#Map22"></td>
          <td width="*"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="361"><img src="/images/topic/200909/200909_33.jpg" alt="" width="361" height="146" border="0" usemap="#Map20"></td>
  </tr>
  <tr>
    <td><img src="/images/topic/200909/200909_34.jpg" width="361" height="326" border="0" usemap="#Map21"></td>
  </tr>
</table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200909/200909_35.jpg" width="953" height="50" alt="" /></td>
    </tr>
  </table>
</div>
<map name="Map"><area shape="rect" coords="41,6,246,189" href="http://www.tiexin.com/vendor/hot_spot/110462/events/1858" target="_blank">
<area shape="rect" coords="114,216,182,231" href="http://www.tiexin.com/hot_spots/110462" target="_blank">
</map>
<map name="Map2"><area shape="rect" coords="9,6,214,189" href="http://www.tiexin.com/vendor/hot_spot/11778/events/1788" target="_blank">
<area shape="rect" coords="81,214,164,230" href="http://www.tiexin.com/hot_spots/11778" target="_blank">
</map>
<map name="Map3">
<area shape="rect" coords="10,6,215,177" href="http://www.tiexin.com/vendor/hot_spot/9221/events/1797" target="_blank">
<area shape="rect" coords="82,196,211,229" href="http://www.tiexin.com/hot_spots/9221" target="_blank">
</map>
<map name="Map4"><area shape="rect" coords="9,5,217,190" href="http://www.tiexin.com/vendor/hot_spot/133886/events/1561" target="_blank">
<area shape="rect" coords="81,216,153,230" href="http://www.tiexin.com/hot_spots/133886" target="_blank">
</map>
<map name="Map5"><area shape="rect" coords="299,29,625,61" href="http://www.tiexin.com/vendor/hot_spot/133886/events/1517" target="_blank">
<area shape="rect" coords="376,109,444,127" href="http://www.tiexin.com/hot_spots/133886" target="_blank">
</map>
<map name="Map6"><area shape="rect" coords="64,46,188,67" href="http://www.tiexin.com/vendor/hot_spot/17275/events/1686" target="_blank">
<area shape="rect" coords="38,98,205,141" href="http://www.tiexin.com/vendor/hot_spot/9174/events/1672" target="_blank">
<area shape="rect" coords="58,171,186,210" href="http://www.tiexin.com/vendor/hot_spot/133886/events/1565" target="_blank">
<area shape="rect" coords="26,239,212,281" href="http://www.tiexin.com/vendor/hot_spot/133886/events/1569" target="_blank">
<area shape="rect" coords="171,302,232,327" href="http://www.tiexin.com/cities/1/city_events" target="_blank">
</map>
<map name="Map7">
  <area shape="rect" coords="39,9,246,199" href="http://www.tiexin.com/vendor/hot_spot/133895/events/1708" target="_blank">
<area shape="rect" coords="95,217,96,218" href="#"><area shape="rect" coords="111,222,234,243" href="http://www.tiexin.com/hot_spots/133895" target="_blank">
</map>
<map name="Map8"><area shape="rect" coords="9,7,215,198" href="http://www.tiexin.com/vendor/hot_spot/121937/events/1649" target="_blank">
<area shape="rect" coords="76,224,165,238" href="http://www.tiexin.com/hot_spots/121937" target="_blank">
</map>
<map name="Map9">
<area shape="rect" coords="12,10,217,201" href="http://www.tiexin.com/vendor/hot_spot/9158/events/1725" target="_blank">
<area shape="rect" coords="80,223,142,241" href="http://www.tiexin.com/hot_spots/9158" target="_blank">
</map>
<map name="Map10"><area shape="rect" coords="10,10,217,199" href="http://www.tiexin.com/vendor/hot_spot/22192/events/1735" target="_blank">
<area shape="rect" coords="77,225,140,238" href="http://www.tiexin.com/hot_spots/22192" target="_blank">
</map>
<map name="Map11"><area shape="rect" coords="300,13,554,58" href="http://www.tiexin.com/vendor/hot_spot/79223/events/1841" target="_blank">
<area shape="rect" coords="371,103,513,119" href="http://www.tiexin.com/hot_spots/79223" target="_blank">
</map>
<map name="Map12">
  <area shape="rect" coords="171,286,232,311" href="http://www.tiexin.com/cities/1/city_events" target="_blank"><area shape="rect" coords="26,32,220,49" href="http://www.tiexin.com/vendor/hot_spot/9158/events/1724" target="_blank">
<area shape="rect" coords="31,98,201,124" href="http://www.tiexin.com/vendor/hot_spot/22192/events/1734" target="_blank">
<area shape="rect" coords="44,155,197,195" href="http://www.tiexin.com/vendor/hot_spot/135727/events/1791" target="_blank">
<area shape="rect" coords="59,221,188,265" href="http://www.tiexin.com/vendor/hot_spot/214214/events/1804" target="_blank">
</map>
<map name="Map13"><area shape="rect" coords="38,11,249,200" href="http://www.tiexin.com/vendor/hot_spot/121884/events/1811" target="_blank">
<area shape="rect" coords="108,227,169,242" href="http://www.tiexin.com/hot_spots/121884" target="_blank">
</map>
<map name="Map14"><area shape="rect" coords="13,12,224,199" href="http://www.tiexin.com/vendor/hot_spot/192585/events/1807" target="_blank">
<area shape="rect" coords="78,223,164,246" href="http://www.tiexin.com/hot_spots/192585" target="_blank">
</map>
<map name="Map15"><area shape="rect" coords="9,8,216,202" href="http://www.tiexin.com/vendor/hot_spot/9202/events/1832" target="_blank">
<area shape="rect" coords="77,225,138,244" href="http://www.tiexin.com/hot_spots/9202" target="_blank">
</map>
<map name="Map16"><area shape="rect" coords="6,10,218,200" href="http://www.tiexin.com/vendor/hot_spot/200224/events/1840" target="_blank">
<area shape="rect" coords="77,226,134,245" href="http://www.tiexin.com/hot_spots/200224" target="_blank">
</map>
<map name="Map17"><area shape="rect" coords="297,4,545,51" href="http://www.tiexin.com/vendor/hot_spot/214376/events/1843" target="_blank">
<area shape="rect" coords="372,94,492,116" href="http://www.tiexin.com/hot_spots/214376" target="_blank">
</map>
<map name="Map18">
  <area shape="rect" coords="171,279,232,304" href="http://www.tiexin.com/cities/1/city_events" target="_blank"><area shape="rect" coords="45,20,199,42" href="http://www.tiexin.com/vendor/hot_spot/200886/events/1814" target="_blank">
<area shape="rect" coords="59,76,180,119" href="http://www.tiexin.com/vendor/hot_spot/2081/events/1817" target="_blank">
<area shape="rect" coords="65,160,177,187" href="http://www.tiexin.com/vendor/hot_spot/17275/events/1688" target="_blank">
<area shape="rect" coords="71,234,167,260" href="http://www.tiexin.com/vendor/hot_spot/133894/events/1780" target="_blank">
</map>
<map name="Map19">
  <area shape="rect" coords="170,290,231,315" href="http://www.tiexin.com/cities/1/city_events" target="_blank"><area shape="rect" coords="55,35,185,60" href="http://www.tiexin.com/articles/485" target="_blank">
<area shape="rect" coords="65,90,172,128" href="http://www.tiexin.com/articles/486" target="_blank">
<area shape="rect" coords="83,176,157,201" href="http://www.tiexin.com/articles/487" target="_blank">
<area shape="rect" coords="92,250,142,269" href="http://www.tiexin.com/articles/488" target="_blank">
</map>
<map name="Map20"><area shape="rect" coords="52,64,142,82" href="http://www.tiexin.com/cities/1/topics/3" target="_blank">
<area shape="rect" coords="47,43,201,65" href="http://www.tiexin.com/cities/1/topics/5" target="_blank">
<area shape="rect" coords="46,85,157,102" href="http://www.tiexin.com/cities/1/topics/5" target="_blank">
<area shape="rect" coords="48,102,172,127" href="http://www.tiexin.com/cities/1/topics/8" target="_blank">
</map>
<map name="Map21"><area shape="rect" coords="8,7,150,24" href="http://www.tiexin.com/forums/7/posts/2185" target="_blank"><area shape="rect" coords="38,129,278,152" href="http://www.tiexin.com/forums/7/posts/2177" target="_blank">
<area shape="rect" coords="40,161,202,182" href="http://www.tiexin.com/forums/7/posts/2178" target="_blank">
<area shape="rect" coords="43,189,140,212" href="http://www.tiexin.com/forums/7/posts/2180" target="_blank">
<area shape="rect" coords="44,221,148,243" href="http://www.tiexin.com/forums/7/posts/2181" target="_blank">
<area shape="rect" coords="43,247,180,274" href="http://www.tiexin.com/forums/7/posts/2182" target="_blank">
<area shape="rect" coords="45,276,205,305" href="http://www.tiexin.com/forums/7/posts/2187" target="_blank">
</map>
<map name="Map22"><area shape="rect" coords="30,45,128,169" href="http://www.tiexin.com/hot_spots/110462" target="_blank">
<area shape="rect" coords="141,46,241,174" href="http://www.tiexin.com/hot_spots/11778" target="_blank">
<area shape="rect" coords="253,43,352,174" href="http://www.tiexin.com/hot_spots/9221" target="_blank">
<area shape="rect" coords="361,45,461,173" href="http://www.tiexin.com/hot_spots/133886" target="_blank">
<area shape="rect" coords="473,45,569,174" href="http://www.tiexin.com/hot_spots/121937" target="_blank">
<area shape="rect" coords="31,183,130,307" href="http://www.tiexin.com/hot_spots/9158" target="_blank">
<area shape="rect" coords="141,183,242,308" href="http://www.tiexin.com/hot_spots/22192" target="_blank">
<area shape="rect" coords="252,180,352,312" href="http://www.tiexin.com/hot_spots/79223" target="_blank">
<area shape="rect" coords="363,183,461,308" href="http://www.tiexin.com/hot_spots/121884" target="_blank">
<area shape="rect" coords="475,183,571,313" href="http://www.tiexin.com/hot_spots/192585" target="_blank">
<area shape="rect" coords="31,318,129,448" href="http://www.tiexin.com/hot_spots/9202" target="_blank">
<area shape="rect" coords="143,317,242,446" href="http://www.tiexin.com/hot_spots/200224" target="_blank">
<area shape="rect" coords="252,318,352,451" href="http://www.tiexin.com/hot_spots/214376" target="_blank">
<area shape="rect" coords="361,317,462,452" href="http://www.tiexin.com/hot_spots/69102" target="_blank">
<area shape="rect" coords="475,318,571,446" href="http://www.tiexin.com/hot_spots/133955" target="_blank">
</map>
