<% page_title '什刹海'
   include_css_file 'topics/bj_200907' -%>

<table width="948" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="495" align="left" valign="top" background="/images/topic/200907/ssh_03.jpg"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="6%" height="410">&nbsp;</td>
        <td width="68%">&nbsp;</td>
        <td width="26%">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>以日落为界，在黄昏来临之前，有水而能观山，垂柳拂岸，一如从前的记忆一般，街坊邻里无话不谈，人与野鸭都享受<br />
          在这一隅水域中的欢乐，依然能看见老北京四合院建筑群的缩影，依然能咀嚼那似乎早已远去的皇家遗韵；夜幕降临，<br />
          华灯初上，如变脸一般，散发着与白日截然不同的光幻迷离、无形魅力，吸引着城市里内心孤独的年轻人...<br />
          这里，便是什刹海。</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="459" height="276" align="left" valign="top" background="/images/topic/200907/ssh_05.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="50%" height="60">&nbsp;</td>
            <td width="49%">&nbsp;</td>
            <td width="1%">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="center" class="title01"><a href="http://xnavistar.blog.tiexin.com/articles/395" target="_blank">700年前的古老水域</a>  </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td> 元朝至元九年元世祖忽必烈定都北京，为解
              决皇城及民间的用水和漕运物资之需要，指
              派元朝的水利学家郭守敬主持兴修水利，引
              西山玉泉等诸山泉之水.....<a href="http://xnavistar.blog.tiexin.com/articles/395" target="_blank">详细</a>  </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td class="title01"><a href="http://xnavistar.blog.tiexin.com/articles/394" target="_blank">掩映于什刹海中的人物志</a>  </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td class="title01"><a href="http://www.tiexin.com/articles/407" target="_blank">四度鼎盛700年后海是“江湖”</a>  </td>
            <td>&nbsp;</td>
          </tr>
          
        </table></td>
        <td align="left" valign="top" background="/images/topic/200907/ssh_06.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="47%" height="60">&nbsp;</td>
            <td width="48%">&nbsp;</td>
            <td width="5%">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="center" class="title01"><a href="http://xnavistar.blog.tiexin.com/articles/397" target="_blank">“一座恭王府，半部清朝史”</a></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td> 恭王府占地约六万平方米，是北京王、公府邸中保存最完整的清代王府之一。恭亲王府的前身原为清代乾隆朝权臣和珅的第宅和嘉庆皇帝的弟弟永璘...<a href="http://xnavistar.blog.tiexin.com/articles/397" target="_blank">详细</a>  </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td class="title01"><a href="http://www.tiexin.com/articles/400" target="_blank">醇亲王府宅邸之传奇</a>  </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td class="title01"><a href="http://www.tiexin.com/articles/401" target="_blank">北京城最古老的商业街烟袋斜街</a>  </td>
            <td>&nbsp;</td>
          </tr>
          
        </table></td>
      </tr>
      <tr>
        <td width="459" height="274" align="left" valign="top" background="/images/topic/200907/ssh_07.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="50%" height="60">&nbsp;</td>
            <td width="49%">&nbsp;</td>
            <td width="1%">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="center" class="title01"><a href="http://www.tiexin.com/articles/403" target="_blank">赏花 赏月 赏秋香</a></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td> 京城盛夏赏荷地绝不能错过什刹海，而什刹
海赏荷独特景致则最好是晚上去，夜晚霓虹
灯闪烁之下，整片荷塘更加清洁高雅，更显
得莲之出淤泥而不染，处闹市仍静默..<a href="http://www.tiexin.com/articles/403" target="_blank">详细</a>  </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td class="title01"><a href="http://www.tiexin.com/articles/404" target="_blank">什刹海：自由穿梭随风吟唱</a>  </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td class="title01"><a href="http://www.tiexin.com/articles/405" target="_blank">最爱什刹海：老北京的缩影</a>  </td>
            <td>&nbsp;</td>
          </tr>
          
        </table></td>
        <td align="left" valign="top" background="/images/topic/200907/ssh_08.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="47%" height="60">&nbsp;</td>
            <td width="48%">&nbsp;</td>
            <td width="5%">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="center" class="title01"><a href="http://www.tiexin.com/articles/406" target="_blank">最具京味的平民乐园</a></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td> 北京城有六片海子，前三海自古就被纳入皇家神秘难窥，什刹海则归属于了平民.不知这里曾给几代人留下美好的时光，冰车上滑过的童年，水面上摇荡的双浆，垂柳下的相拥片段，林荫道上漫步的日子。轻垂的竹帘、镂空的雕花....<a href="http://www.tiexin.com/articles/406" target="_blank">详细</a>  </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td class="title01"><a href="http://www.tiexin.com/articles/414" target="_blank">什刹海一场红楼雪梦</a>  </td>
            <td>&nbsp;</td>
          </tr>
          
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="229" align="left" valign="top" background="/images/topic/200907/ssh_09.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="35%">&nbsp;</td>
        <td width="60%">&nbsp;</td>
        <td width="5%">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="83%">&nbsp;</td>
            <td width="17%"><a href="http://www.tiexin.com/forums/5/posts" target="_blank">进入旅游论坛</a></td>
          </tr>
        </table></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="5" colspan="3"></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="title01"><a href="http://xnavistar.blog.tiexin.com/articles/411" target="_blank">什刹海的六种诱惑</a>  </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>钟鼓楼脚下，是那条洗不尽铅华的烟袋斜街。兜兜转转之间，最爱的后海就在眼前。那无数个灿烂的午后与迷乱
          的夜晚，我们在这里度过....<a href="http://xnavistar.blog.tiexin.com/articles/411" target="_blank">详细</a></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="5" colspan="3"></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="title01">
          <tr>
            <td width="50%" align="left"> <a href="http://xnavistar.blog.tiexin.com/articles/409" target="_blank">&nbsp;·畅游什刹海之后海酒吧街经典线路</a>  </td>
            <td align="left"> <a href="http://xnavistar.blog.tiexin.com/articles/412" target="_blank">·什刹海传说</a>  </td>
          </tr>
          <tr>
            <td align="left"><a href="http://xnavistar.blog.tiexin.com/articles/413" target="_blank">·
              什刹海午后生活写照</a></td>
            <td align="left"><a href="http://www.tiexin.com/articles/415" target="_blank">·
              休闲浪漫骑行 细品什刹海</a></td>
          </tr>
          <tr>
            <td align="left"><a href="http://xnavistar.blog.tiexin.com/articles/408" target="_blank">·
              什刹海的深度</a></td>
            <td align="left"> <a href="http://www.tiexin.com/articles/416" target="_blank">·游玩什刹海攻略（含一日游路线）</a>  </td>
          </tr>
        </table></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="237" background="/images/topic/200907/ssh_10.jpg">&nbsp;</td>
  </tr>
  <tr>
    <td height="272" align="left" valign="top" background="/images/topic/200907/ssh_11.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="53" align="left" valign="top">&nbsp;</td>
        <td width="160" align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table1">
          <tr>
            <td height="33">&nbsp;</td>
          </tr>
          <tr>
            <td class="title02"><a href="http://www.tiexin.com/hot_spots/130901" target="_blank">烤肉季</a></td>
          </tr>
          <tr>
            <td> 创建于清道光二十八年(1848年)
              至今有140余年的历史，驰名中外
              的老字号饭庄  </td>
          </tr>
          <tr>
            <td height="5"></td>
          </tr>
          <tr>
            <td align="center"><a href="http://www.tiexin.com/hot_spots/130901" target="_blank"><img src="/images/topic/200907/p01.jpg" width="159" height="158" border="0" /></a></td>
          </tr>
        </table></td>
        <td width="10" align="left" valign="top">&nbsp;</td>
        <td width="160" align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table1">
          <tr>
            <td height="33">&nbsp;</td>
          </tr>
          <tr>
            <td class="title02"><a href="http://www.tiexin.com/hot_spots/131922" target="_blank">爆肚张</a>  </td>
          </tr>
          <tr>
            <td> 老字号，店面小，几张小桌，能 容纳者不过数十人，但一经尝过， 便一发不可收拾  </td>
          </tr>
          <tr>
            <td height="5"></td>
          </tr>
          <tr>
            <td align="center"><a href="http://www.tiexin.com/hot_spots/131922" target="_blank"><img src="/images/topic/200907/p02.jpg" width="159" height="158" border="0" /></a></td>
          </tr>
        </table></td>
        <td width="10" align="left" valign="top">&nbsp;</td>
        <td width="160" align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table1">
          <tr>
            <td height="33">&nbsp;</td>
          </tr>
          <tr>
            <td class="title02"><a href="http://www.tiexin.com/hot_spots/169956" target="_blank">厉家菜(羊房胡同十一号)</a>  </td>
          </tr>
          <tr>
            <td> 这是在隐匿在小胡同里的一家小 餐馆，却几乎是北京名气最大的 餐馆！  </td>
          </tr>
          <tr>
            <td height="5"></td>
          </tr>
          <tr>
            <td align="center"><a href="http://www.tiexin.com/hot_spots/169956" target="_blank"><img src="/images/topic/200907/p03.jpg" width="159" height="158" border="0" /></a></td>
          </tr>
        </table></td>
        <td width="10" align="left" valign="top">&nbsp;</td>
        <td width="160" align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table1">
          <tr>
            <td height="33">&nbsp;</td>
          </tr>
          <tr>
            <td class="title02"><a href="http://www.tiexin.com/hot_spots/145483" target="_blank">藕</a>  </td>
          </tr>
          <tr>
            <td> “爱无永恒，偶有例外”。仅这 一句话，就足以让人心旌摇曳。   </td>
          </tr>
          <tr>
            <td height="5"></td>
          </tr>
          <tr>
            <td align="center"><a href="http://www.tiexin.com/hot_spots/145483" target="_blank"><img src="/images/topic/200907/p04.jpg" width="159" height="158" border="0" /></a></td>
          </tr>
        </table></td>
        <td align="left" valign="top"><img src="/images/topic/200907/p05.jpg" width="225" height="272" border="0" usemap="#Map" /></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="683" height="462" align="left" valign="top" background="/images/topic/200907/ssh_12.jpg"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table1">
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="/images/topic/200907/ssh_bar_01.jpg" width="539" height="74" /></td>
                <td><img src="/images/topic/200907/ssh_bar_02.jpg" width="144" height="74" border="0" usemap="#Map2" /></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="67">&nbsp;</td>
                <td width="122" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><a href="http://www.tiexin.com/hot_spots/203063" target="_blank"><img src="/images/topic/200907/ssh_bar_04.jpg" width="122" height="139" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td height="50"><span class="title02"><a href="http://www.tiexin.com/hot_spots/203063" target="_blank">佛吧</a></span>--佛吧突出一个“静” 字，是个适合聊天的静吧</td>
                  </tr>
                  <tr>
                    <td><a href="http://www.tiexin.com/hot_spots/135825" target="_blank"><img src="/images/topic/200907/ssh_bar_16.jpg" width="122" height="129" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td height="40"><span class="title02"><a href="http://www.tiexin.com/hot_spots/135825" target="_blank">后海天堂</a></span>--什刹海地区 最大,也是唯一一家“慢摇吧”</td>
                  </tr>
                </table></td>
                <td width="36" align="left" valign="top">&nbsp;</td>
                <td width="121" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><a href="http://www.tiexin.com/hot_spots/169965" target="_blank"><img src="/images/topic/200907/ssh_bar_06.jpg" width="121" height="139" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td height="50"><span class="title02"><a href="http://www.tiexin.com/hot_spots/169965" target="_blank">无名吧</a></span>--最早安家什刹海 的酒吧之一，有近水观景座位</td>
                  </tr>
                  <tr>
                    <td><a href="http://www.tiexin.com/hot_spots/149238" target="_blank"><img src="/images/topic/200907/ssh_bar_17.jpg" width="121" height="129" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td height="40"><span class="title02"><a href="http://www.tiexin.com/hot_spots/149238" target="_blank">后海五号</a></span>--特色典雅的 四合院，可登高观景乘凉</td>
                  </tr>
                </table></td>
                <td width="38" align="left" valign="top">&nbsp;</td>
                <td width="120" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><a href="http://www.tiexin.com/hot_spots/146793" target="_blank"><img src="/images/topic/200907/ssh_bar_08.jpg" width="120" height="139" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td height="50"><span class="title02"><a href="http://www.tiexin.com/hot_spots/146793" target="_blank">七月七日晴</a></span>--婉转缠绵
                      与热烈奔放融合得天衣无缝。</td>
                  </tr>
                  <tr>
                    <td><a href="http://www.tiexin.com/hot_spots/129520" target="_blank"><img src="/images/topic/200907/ssh_bar_18.jpg" width="120" height="129" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td height="40"><span class="title02"><a href="http://www.tiexin.com/hot_spots/129520" target="_blank">蓝莲花</a></span>--东方元素，西方 排置方法，相得益彰暧昧奢华</td>
                  </tr>
                </table></td>
                <td width="35" align="left" valign="top">&nbsp;</td>
                <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><a href="http://www.tiexin.com/hot_spots/80634" target="_blank"><img src="/images/topic/200907/ssh_bar_10.jpg" width="122" height="139" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td height="50"><span class="title02"><a href="http://www.tiexin.com/hot_spots/80643" target="_blank">胡同写意</a></span>--通体的木质 雕刻，温馨的迷你四合院。</td>
                  </tr>
                  <tr>
                    <td><a href="http://www.tiexin.com/hot_spots/169884" target="_blank"><img src="/images/topic/200907/ssh_bar_19.jpg" width="122" height="129" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td height="40"><span class="title02"><a href="http://www.tiexin.com/hot_spots/169884" target="_blank">叁拾壹</a></span>--西班牙弗拉明戈，表演非常具有传统范儿</td>
                  </tr>
                </table></td>
                <td width="22">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table></td>
        <td align="left" valign="top" background="/images/topic/200907/ssh_13.jpg"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="table2">
          <tr>
            <td height="200" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="15" height="35">&nbsp;</td>
                <td>&nbsp;</td>
                <td width="30">&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td> <span class="title03"><a href="http://www.tiexin.com/articles/417" target="_blank">什刹海——在清风和暧昧中沉醉</a></span><br />
这片让人心动的什刹海，市井的喜气与飘香的红
酒相安无事，古老的院落与时尚的潮流各得其所，
站在连接什刹海和后海的银锭桥上往西看西山，
可以欣赏到“后燕京八景”之一的“银锭观山”，
再听听船上的二胡悠悠，最是销魂滋味，更有水
上蜡灯，伊人倩影，令人心醉……  </td>
                <td>&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="157" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="15" height="14">&nbsp;</td>
                <td>&nbsp;</td>
                <td width="30">&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td> <span class="title03"><a href="http://www.tiexin.com/articles/418" target="_blank">什刹海的灯红酒绿</a></span><br />
                  喜欢什刹海的盛夏，那些牵着狗穿着拖鞋和大裤
衩散步的当地居民与川流不息的中外游人混为一
体，看上去像一幅北京风情画卷。成群结伙衣着
前卫的“艺术粉子”总能让人眼前一亮。美女美
酒天生一对，少了哪一美，酒吧的味道就不鲜美
了……  </td>
                <td>&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td><img src="/images/topic/200907/ssh_Recalli.jpg" width="265" height="105" border="0" usemap="#Map3" /></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="311" align="left" valign="top" background="/images/topic/200907/ssh_14.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      
      <tr>
        <td width="55">&nbsp;</td>
        <td><span class="STYLE2">现在的水，依旧是过去的水 ，现在的什刹海，依旧是过去的什刹海，景致依旧可同“西湖春、秦淮夏、洞庭秋”相媲美，只是在深深夜色下，<br />
          平静的水面上，映照着的是彩色的霓虹，恣意嬉笑的人群与躁动的心....<br />
          而这却也是现在的什刹海，一半自古传承的古朴清纯，一半浓妆艳抹的妖娆魅惑...</span></td>
        <td width="55">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>

<map name="Map" id="Map"><area shape="rect" coords="16,92,178,111" href="http://www.tiexin.com/hot_spots/23150" target="_blank" />
<area shape="rect" coords="15,122,179,138" href="http://www.tiexin.com/hot_spots/153731" target="_blank" />
<area shape="rect" coords="15,149,178,168" href="http://www.tiexin.com/hot_spots/89638" target="_blank" />
<area shape="rect" coords="14,174,179,197" href="http://www.tiexin.com/hot_spots/131198" target="_blank" />
<area shape="rect" coords="15,206,181,226" href="http://www.tiexin.com/hot_spots/204570" target="_blank" />
<area shape="rect" coords="13,230,181,257" href="http://www.tiexin.com/hot_spots/129889" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="72,52,147,82" href="#" /></map>
<map name="Map3" id="Map3"><area shape="rect" coords="35,59,200,83" href="http://www.tiexin.com/cities/1/topics/5" target="_blank" />
<area shape="rect" coords="61,36,159,57" href="http://www.tiexin.com/cities/1/topics/3" target="_blank" />
</map>
