<% page_title @topic.name -%>
<div align="center">
<table  width="945"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="/images/topic/201003/201003_01.png" width="945" height="59" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_02.png" width="945" height="60" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_03.png" width="945" height="59" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_04.png" width="945" height="59" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_05.png" width="945" height="59" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_06.png" width="945" height="60" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_07.png" width="945" height="59" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_08.png" width="945" height="59" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_09.png" width="945" height="59" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_10.png" width="945" height="60" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_11.png" width="945" height="59" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_12.png" width="945" height="59" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_13.png" width="945" height="59" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_14.png" width="945" height="60" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_15.png" alt="" width="945" height="59" border="0" usemap="#Map"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_16.png" alt="" width="945" height="59" border="0" usemap="#Map2"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_17.png" alt="" width="945" height="59" border="0" usemap="#Map3"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_18.png" alt="" width="945" height="60" border="0" usemap="#Map4"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_19.png" alt="" width="945" height="59" border="0" usemap="#Map5"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_20.png" width="945" height="59" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_21.png" alt="" width="945" height="234" border="0" usemap="#Map6"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_22.png" alt="" width="945" height="258" border="0" usemap="#Map7"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_23.png" alt="" width="945" height="357" border="0" usemap="#Map8"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_24.png" width="945" height="79" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_25.png" width="945" height="80" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_26.png" width="945" height="79" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_27.png" width="945" height="79" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_28.png" width="945" height="80" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_29.png" width="945" height="79" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_30.png" width="945" height="79" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_31.png" width="945" height="79" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_32.png" width="945" height="80" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_33.png" width="945" height="79" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_34.png" alt="" width="945" height="380" border="0" usemap="#Map9"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_35.png" width="945" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_36.png" width="945" height="70" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_37.png" width="945" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_38.png" alt="" width="945" height="279" border="0" usemap="#Map10"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_39.png" alt="" width="945" height="218" border="0" usemap="#Map11"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_40.png" alt="" width="945" height="163" border="0" usemap="#Map12"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_41.png" width="945" height="44" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_42.png" width="945" height="43" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_43.png" width="945" height="40" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_44.png" alt="" width="945" height="33" border="0" usemap="#Map17"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_45.png" alt="" width="945" height="43" border="0" usemap="#Map13"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_46.png" alt="" width="945" height="42" border="0" usemap="#Map14"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_47.png" alt="" width="945" height="38" border="0" usemap="#Map15"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_48.png" alt="" width="945" height="49" border="0" usemap="#Map16"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201003/201003_49.png" width="945" height="60" alt=""></td>
	</tr>
</table>
<!-- End ImageReady Slices -->

<map name="Map"><area shape="rect" coords="82,4,193,72" href="http://www.tiexin.com/forums/7/posts/6108" target="_blank">
<area shape="rect" coords="220,4,332,87" href="http://www.tiexin.com/forums/7/posts/6111" target="_blank">
<area shape="rect" coords="353,19,482,78" href="http://www.tiexin.com/forums/7/posts/6112" target="_blank">
</map>
<map name="Map2"><area shape="rect" coords="82,1,193,67" href="http://www.tiexin.com/forums/7/posts/6108" target="_blank">
<area shape="rect" coords="222,1,330,64" href="http://www.tiexin.com/forums/7/posts/6111" target="_blank">
<area shape="rect" coords="353,1,482,72" href="http://www.tiexin.com/forums/7/posts/6112" target="_blank">
</map>
<map name="Map3">
<area shape="rect" coords="81,1,194,48" href="http://www.tiexin.com/forums/7/posts/6108" target="_blank">
<area shape="rect" coords="222,2,331,46" href="http://www.tiexin.com/forums/7/posts/6111" target="_blank">
<area shape="rect" coords="352,1,481,13" href="http://www.tiexin.com/forums/7/posts/6112" target="_blank">
<area shape="rect" coords="376,18,546,73" href="http://www.tiexin.com/forums/7/posts/6103" target="_blank">
</map>
<map name="Map4"><area shape="rect" coords="377,1,546,68" href="http://www.tiexin.com/forums/7/posts/6103" target="_blank">
</map>
<map name="Map5"><area shape="rect" coords="376,-5,546,15" href="http://www.tiexin.com/forums/7/posts/6103" target="_blank">
</map>
<map name="Map6"><area shape="rect" coords="590,99,591,100" href="#"><area shape="rect" coords="451,9,861,132" href="http://www.tiexin.com/vendor/hot_spot/105111/events/3033" target="_blank">
<area shape="rect" coords="655,139,860,157" href="http://www.tiexin.com/vendor/hot_spot/105111/events/3033" target="_blank">
<area shape="rect" coords="134,164,321,182" href="http://www.tiexin.com/vendor/hot_spot/105154/events/3034" target="_blank">
<area shape="rect" coords="332,162,515,183" href="http://www.tiexin.com/vendor/hot_spot/80585/events/3035" target="_blank">
</map>
<map name="Map7"><area shape="rect" coords="110,27,303,249" href="http://www.tiexin.com/vendor/hot_spot/105154/events/3034" target="_blank">
<area shape="rect" coords="338,27,562,209" href="http://www.tiexin.com/vendor/hot_spot/80585/events/3035" target="_blank">
<area shape="rect" coords="601,44,806,67" href="http://www.tiexin.com/vendor/hot_spot/22457/events/3036" target="_blank">
</map>
<map name="Map8"><area shape="rect" coords="63,12,150,36" href="http://www.tiexin.com/vendor/hot_spot/80583/events/3037" target="_blank">
<area shape="rect" coords="71,125,289,305" href="http://www.tiexin.com/vendor/hot_spot/80583/events/3037" target="_blank">
<area shape="rect" coords="343,38,523,60" href="http://www.tiexin.com/vendor/hot_spot/105147/events/3038" target="_blank">
<area shape="rect" coords="335,123,571,269" href="http://www.tiexin.com/vendor/hot_spot/105147/events/3038" target="_blank">
<area shape="rect" coords="608,48,774,75" href="http://www.tiexin.com/vendor/hot_spot/105147/events/3038" target="_blank">
<area shape="rect" coords="603,161,860,360" href="http://www.tiexin.com/vendor/hot_spot/105147/events/3038" target="_blank">
</map>
<map name="Map9"><area shape="rect" coords="71,16,206,197" href="http://www.tiexin.com/vendor/hot_spot/9158/events/2912" target="_blank">
<area shape="rect" coords="212,18,518,35" href="http://www.tiexin.com/vendor/hot_spot/9158/events/2912" target="_blank">
<area shape="rect" coords="286,117,345,141" href="http://www.tiexin.com/hot_spots/9158" target="_blank">
<area shape="rect" coords="258,175,393,340" href="http://www.tiexin.com/vendor/hot_spot/17275/events/2990" target="_blank">
<area shape="rect" coords="398,178,777,197" href="http://www.tiexin.com/vendor/hot_spot/17275/events/2990" target="_blank">
<area shape="rect" coords="468,338,529,359" href="http://www.tiexin.com/hot_spots/17275" target="_blank">
</map>
<map name="Map10"><area shape="rect" coords="71,-16,206,181" href="http://www.tiexin.com/vendor/hot_spot/9171/events/3017" target="_blank">
<area shape="rect" coords="284,85,405,111" href="http://www.tiexin.com/hot_spots/9171" target="_blank">
<area shape="rect" coords="216,-8,509,16" href="http://www.tiexin.com/vendor/hot_spot/9171/events/3017" target="_blank">
<area shape="rect" coords="392,133,713,154" href="http://www.tiexin.com/vendor/hot_spot/133886/events/2986" target="_blank">
<area shape="rect" coords="717,86,854,278" href="http://www.tiexin.com/vendor/hot_spot/133886/events/2986" target="_blank">
<area shape="rect" coords="639,258,710,279" href="http://www.tiexin.com/hot_spots/133886" target="_blank">
</map>
<map name="Map11"><area shape="rect" coords="131,39,488,61" href="http://www.tiexin.com/vendor/hot_spot/133886/events/2988" target="_blank">
<area shape="rect" coords="413,179,488,203" href="http://www.tiexin.com/hot_spots/133886" target="_blank">
<area shape="rect" coords="493,40,663,199" href="http://www.tiexin.com/vendor/hot_spot/133886/events/2988" target="_blank">
</map>
<map name="Map12"><area shape="rect" coords="251,10,576,34" href="http://www.tiexin.com/vendor/hot_spot/9174/events/2965" target="_blank">
<area shape="rect" coords="68,10,245,124" href="http://www.tiexin.com/vendor/hot_spot/9174/events/2965" target="_blank">
<area shape="rect" coords="322,134,397,159" href="http://www.tiexin.com/hot_spots/9174" target="_blank">
</map>
<map name="Map13"><area shape="rect" coords="152,-2,365,25" href="http://www.tiexin.com/forums/5/posts/6113" target="_blank">
<area shape="rect" coords="561,13,644,34" href="http://www.tiexin.com/cities/1/topics/8" target="_blank">
</map>
<map name="Map14"><area shape="rect" coords="151,1,318,25" href="http://www.tiexin.com/forums/6/posts/6106" target="_blank">
<area shape="rect" coords="560,10,724,34" href="http://www.tiexin.com/cities/1/topics/5" target="_blank">
</map>
<map name="Map15"><area shape="rect" coords="152,3,363,26" href="http://www.tiexin.com/forums/6/posts/6078" target="_blank">
<area shape="rect" coords="560,12,711,35" href="http://www.tiexin.com/cities/1/topics/26" target="_blank">
</map>
<map name="Map16"><area shape="rect" coords="150,5,381,32" href="http://www.tiexin.com/forums/6/posts/6101" target="_blank">
</map>
<map name="Map17"><area shape="rect" coords="558,4,661,24" href="http://www.tiexin.com/cities/1/topics/3" target="_blank">
</map>
</div>
