<% page_title @topic.name -%>

<div align="center">
  <table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/topic/200915/200915_03.jpg" width="950" height="238" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200915/200915_05.jpg" width="950" height="332" /></td>
    </tr>
    <tr>
      <td><table width="950" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="676"><img src="/images/topic/200915/200915_06.jpg" width="676" height="304" border="0" usemap="#Map" /></td>
          <td width="274"><img src="/images/topic/200915/200915_07.jpg" width="274" height="304" border="0" usemap="#Map2" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><table width="950" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="676"><img src="/images/topic/200915/200915_08.jpg" width="676" height="266" border="0" usemap="#Map3" /></td>
          <td width="274"><img src="/images/topic/200915/200915_09.jpg" width="274" height="266" border="0" usemap="#Map4" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200915/200915_10.jpg" width="950" height="122" /></td>
    </tr>
    <tr>
      <td><table width="950" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="547"><img src="/images/topic/200915/200915_11.jpg" width="547" height="576" /></td>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="403"><img src="/images/topic/200915/200915_12.jpg" width="403" height="248" border="0" usemap="#Map5" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200915/200915_13.jpg" width="403" height="328" border="0" usemap="#Map6" /></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
</div>

<map name="Map" id="Map"><area shape="rect" coords="341,226,385,248" href="http://www.tiexin.com/articles/787" target="_blank" />
<area shape="rect" coords="104,260,254,294" href="http://www.tiexin.com/articles/790" target="_blank" />
<area shape="rect" coords="335,259,560,296" href="http://www.tiexin.com/articles/789" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="25,148,178,170" href="http://www.tiexin.com/articles/788" target="_blank" />
<area shape="rect" coords="24,174,191,194" href="http://www.tiexin.com/hot_spots/20275" target="_blank" />
<area shape="rect" coords="24,201,210,224" href="http://xnavistar.blog.tiexin.com/articles/271" target="_blank" />
<area shape="rect" coords="24,230,236,255" href="http://xnavistar.blog.tiexin.com/articles/274" target="_blank" />
<area shape="rect" coords="24,269,213,292" href="http://www.tiexin.com/articles/791" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="138,221,196,244" href="http://www.tiexin.com/articles/794" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="25,112,252,132" href="http://www.tiexin.com/vendor/hot_spot/9285/events/2192" target="_blank" />
<area shape="rect" coords="27,136,196,159" href="http://www.tiexin.com/vendor/hot_spot/104525/events/2193" target="_blank" />
<area shape="rect" coords="25,164,144,185" href="http://www.tiexin.com/vendor/hot_spot/105147/events/2194" target="_blank" />
<area shape="rect" coords="25,192,254,212" href="http://www.tiexin.com/vendor/hot_spot/79177/events/2195" target="_blank" />
<area shape="rect" coords="21,219,164,239" href="http://www.tiexin.com/vendor/hot_spot/22457/events/2196" target="_blank" />
<area shape="rect" coords="21,242,223,264" href="http://www.tiexin.com/vendor/hot_spot/80582/events/2197" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="26,51,231,85" href="http://www.tiexin.com/forums/5/posts/3503" target="_blank" />
<area shape="rect" coords="29,94,240,127" href="http://www.tiexin.com/forums/7/posts/3504" target="_blank" />
<area shape="rect" coords="23,132,239,166" href="http://www.tiexin.com/forums/7/posts/3505" target="_blank" />
<area shape="rect" coords="29,170,259,218" href="http://www.tiexin.com/forums/9/posts/3506" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="24,40,239,79" href="http://www.tiexin.com/cities/1/topics/3" target="_blank" />
<area shape="rect" coords="21,86,318,123" href="http://www.tiexin.com/cities/1/topics/5" />
<area shape="rect" coords="24,133,246,169" href="http://www.tiexin.com/cities/1/topics/8" target="_blank" />
<area shape="rect" coords="26,170,203,212" href="http://www.tiexin.com/cities/1/topics/11" target="_blank" />
<area shape="rect" coords="27,219,347,255" href="http://www.tiexin.com/cities/1/topics/14" target="_blank" />
</map>
