<div align="center">
<table width="947" height="4510" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="/images/topic/201017/201017_01.png" width="947" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_02.png" width="947" height="72" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_03.png" width="947" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_04.png" alt="" width="947" height="538" border="0" usemap="#Map"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_05.png" alt="" width="947" height="256" border="0" usemap="#Map2"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_06.png" alt="" width="947" height="425" border="0" usemap="#Map3"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_07.png" alt="" width="947" height="367" border="0" usemap="#Map4"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_08.png" width="947" height="81" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_09.png" alt="" width="947" height="344" border="0" usemap="#Map7"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_10.png" alt="" width="947" height="366" border="0" usemap="#Map5"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_11.png" width="947" height="71" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_12.png" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_13.png" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_14.png" width="947" height="99" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_15.png" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_16.png" width="947" height="98" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_17.png" width="947" height="332" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_18.png" width="947" height="74" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_19.png" alt="" width="947" height="381" border="0" usemap="#Map8"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_20.png" alt="" width="947" height="337" border="0" usemap="#Map6"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201017/201017_21.png" alt="" width="947" height="233" border="0" usemap="#Map9"></td>
	</tr>
</table>
<!-- End ImageReady Slices -->

<map name="Map" id="Map">
<area shape="poly" coords="650,415,940,418,938,533,646,536" href="http://www.tiexin.com/vendor/hot_spot/135701/events/4290" target="_blank" />
<area shape="poly" coords="608,190,940,190,939,414,682,411,682,228,608,224" href="http://www.tiexin.com/vendor/hot_spot/199572/events/4273" target="_blank" />
<area shape="poly" coords="7,305,8,535,219,536,219,414,263,411,263,306" href="http://www.tiexin.com/vendor/hot_spot/199572/events/4271" target="_blank" />
<area shape="poly" coords="218,215,429,215,427,410,267,412,268,300,218,300" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4242" target="_blank" />
<area shape="rect" coords="225,417,492,536" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4238" target="_blank" />
<area shape="rect" coords="491,5,894,187" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4239" target="_blank" />
<area shape="poly" coords="442,229,674,232,676,410,641,411,641,534,496,533,495,410,440,412" href="http://www.tiexin.com/vendor/hot_spot/199572/events/4274" target="_blank" />
</map>
<map name="Map2" id="Map2">
<area shape="poly" coords="703,1,704,252,937,252,940,2" href="http://www.tiexin.com/vendor/hot_spot/135701/events/4290" target="_blank" />
<area shape="poly" coords="7,1,8,225,219,225,218,2" href="http://www.tiexin.com/vendor/hot_spot/199572/events/4271" target="_blank" />
<area shape="rect" coords="505,2,702,253" href="http://www.tiexin.com/vendor/hot_spot/135727/events/4270" target="_blank" />
<area shape="rect" coords="225,2,490,237" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4238" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="284,96,651,145" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4241" target="_blank" />
<area shape="rect" coords="39,100,267,401" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4241" target="_blank" />
<area shape="rect" coords="346,191,406,210" href="http://www.tiexin.com/hot_spots/9158" target="_blank" />
<area shape="rect" coords="724,131,921,172" href="http://www.tiexin.com/vendor/hot_spot/214377/events/4254" target="_blank" />
<area shape="rect" coords="755,226,888,246" href="http://www.tiexin.com/vendor/hot_spot/9158/events/4243" target="_blank" />
<area shape="rect" coords="728,295,909,331" href="http://www.tiexin.com/vendor/hot_spot/17275/events/4226" target="_blank" />
<area shape="rect" coords="731,384,909,416" href="http://www.tiexin.com/vendor/hot_spot/17275/events/4225" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="23,9,228,161" href="http://www.tiexin.com/vendor/hot_spot/214377/events/4255" target="_blank" />
<area shape="rect" coords="28,166,227,202" href="http://www.tiexin.com/vendor/hot_spot/214377/events/4255" target="_blank" />
<area shape="rect" coords="86,222,234,241" href="http://www.tiexin.com/hot_spots/214377" target="_blank" />
<area shape="rect" coords="252,9,454,160" href="http://www.tiexin.com/vendor/hot_spot/133896/events/4183" target="_blank" />
<area shape="rect" coords="251,167,433,201" href="http://www.tiexin.com/vendor/hot_spot/133896/events/4183" target="_blank" />
<area shape="rect" coords="314,222,433,239" href="http://www.tiexin.com/hot_spots/133896" target="_blank" />
<area shape="rect" coords="479,9,681,161" href="http://www.tiexin.com/vendor/hot_spot/133895/events/4206" target="_blank" />
<area shape="rect" coords="479,166,652,202" href="http://www.tiexin.com/vendor/hot_spot/133895/events/4206" target="_blank" />
<area shape="rect" coords="543,223,662,241" href="http://www.tiexin.com/hot_spots/133895" target="_blank" />
<area shape="rect" coords="759,45,891,82" href="http://www.tiexin.com/vendor/hot_spot/133895/events/4203" target="_blank" />
<area shape="rect" coords="739,146,898,184" href="http://www.tiexin.com/vendor/hot_spot/133895/events/4202" target="_blank" />
<area shape="rect" coords="725,263,911,283" href="http://www.tiexin.com/vendor/hot_spot/133896/events/4196" target="_blank" />
<area shape="rect" coords="820,321,921,341" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="818,322,925,343" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
<area shape="rect" coords="24,8,229,160" href="http://www.tiexin.com/vendor/hot_spot/213679/events/4305" target="_blank" />
<area shape="rect" coords="19,173,140,196" href="http://www.tiexin.com/vendor/hot_spot/213679/events/4305" target="_blank" />
<area shape="rect" coords="84,222,176,240" href="http://www.tiexin.com/hot_spots/213679" target="_blank" />
<area shape="rect" coords="252,8,455,160" href="http://www.tiexin.com/vendor/hot_spot/192585/events/4282" target="_blank" />
<area shape="rect" coords="254,175,402,193" href="http://www.tiexin.com/vendor/hot_spot/192585/events/4282" target="_blank" />
<area shape="rect" coords="315,223,398,240" href="http://www.tiexin.com/hot_spots/192585" target="_blank" />
<area shape="rect" coords="479,9,681,161" href="http://www.tiexin.com/vendor/hot_spot/121884/events/4303" target="_blank" />
<area shape="rect" coords="480,175,663,197" href="http://www.tiexin.com/vendor/hot_spot/121884/events/4303" target="_blank" />
<area shape="rect" coords="541,222,597,239" href="http://www.tiexin.com/hot_spots/121884" target="_blank" />
<area shape="rect" coords="776,59,869,83" href="http://www.tiexin.com/vendor/hot_spot/214376/events/4283" target="_blank" />
<area shape="rect" coords="764,160,873,183" href="http://www.tiexin.com/vendor/hot_spot/192585/events/4281" target="_blank" />
<area shape="rect" coords="781,259,858,281" href="http://www.tiexin.com/vendor/hot_spot/192585/events/4278" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="795,295,907,318" href="http://www.tiexin.com/cities/1/city_events" target="_blank" />
<area shape="rect" coords="719,135,926,155" href="http://www.tiexin.com/vendor/hot_spot/143981/events/4411" target="_blank" />
<area shape="rect" coords="61,47,397,74" href="http://www.tiexin.com/vendor/hot_spot/111412/events/4404" target="_blank" />
<area shape="rect" coords="66,146,325,168" href="http://www.tiexin.com/vendor/hot_spot/228474/events/4412" target="_blank" />
<area shape="rect" coords="61,238,395,259" href="http://www.tiexin.com/vendor/hot_spot/229121/events/4413" target="_blank" />
<area shape="rect" coords="766,33,885,56" href="http://www.tiexin.com/vendor/hot_spot/152384/events/4170" target="_blank" />
<area shape="rect" coords="751,221,880,261" href="http://www.tiexin.com/vendor/hot_spot/111412/events/4405" target="_blank" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="49,21,261,302" href="http://www.tiexin.com/vendor/hot_spot/223719/events/4307" target="_blank" />
<area shape="rect" coords="279,17,560,61" href="http://www.tiexin.com/vendor/hot_spot/223719/events/4307" target="_blank" />
<area shape="rect" coords="347,113,409,125" href="http://www.tiexin.com/hot_spots/223719" target="_blank" />
<area shape="rect" coords="764,65,875,90" href="http://www.tiexin.com/vendor/hot_spot/223719/events/4310" target="_blank" />
<area shape="rect" coords="760,145,882,170" href="http://www.tiexin.com/vendor/hot_spot/121884/events/4301" target="_blank" />
<area shape="rect" coords="760,228,879,248" href="http://www.tiexin.com/vendor/hot_spot/121884/events/4299" target="_blank" />
<area shape="rect" coords="742,314,895,333" href="http://www.tiexin.com/vendor/hot_spot/198981/events/4288" target="_blank" />
</map>
<map name="Map8" id="Map8"><area shape="rect" coords="22,6,230,161" href="http://www.tiexin.com/vendor/hot_spot/192740/events/4406" target="_blank" />
<area shape="rect" coords="22,174,148,195" href="http://www.tiexin.com/vendor/hot_spot/192740/events/4406" target="_blank" />
<area shape="rect" coords="87,222,132,237" href="http://www.tiexin.com/hot_spots/192740" target="_blank" />
<area shape="rect" coords="252,8,454,160" href="http://www.tiexin.com/vendor/hot_spot/152271/events" target="_blank" />
<area shape="rect" coords="250,175,458,196" href="http://www.tiexin.com/vendor/hot_spot/152271/events" target="_blank" />
<area shape="rect" coords="315,222,450,238" href="http://www.tiexin.com/hot_spots/152271" target="_blank" />
<area shape="rect" coords="480,8,681,158" href="http://www.tiexin.com/vendor/hot_spot/111294/events/4408" target="_blank" />
<area shape="rect" coords="480,169,677,203" href="http://www.tiexin.com/vendor/hot_spot/111294/events/4408" target="_blank" />
<area shape="rect" coords="542,224,667,242" href="http://www.tiexin.com/hot_spots/111294" target="_blank" />
<area shape="rect" coords="723,161,914,180" href="http://www.tiexin.com/vendor/hot_spot/152444/events/4409" target="_blank" />
<area shape="rect" coords="718,77,925,101" href="http://www.tiexin.com/vendor/hot_spot/152361/events/4172" target="_blank" />
<area shape="rect" coords="766,236,870,257" href="http://www.tiexin.com/vendor/hot_spot/152384/events/4169" target="_blank" />
<area shape="rect" coords="755,325,890,346" href="http://www.tiexin.com/vendor/hot_spot/152384/events/4171" target="_blank" />
</map>
<map name="Map9" id="Map9"><area shape="rect" coords="114,32,294,178" href="http://www.tiexin.com/cities/1/topics/3" target="_blank" />
<area shape="rect" coords="331,35,512,176" href="http://www.tiexin.com/cities/1/topics/5" target="_blank" />
<area shape="rect" coords="549,34,732,175" href="http://www.tiexin.com/cities/1/topics/8" target="_blank" />
<area shape="rect" coords="766,34,947,175" href="http://www.tiexin.com/cities/1/topics/31" target="_blank" />
</map>
</div>