<% page_title @topic.name -%>
<div align="center">
  <table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/topic/200923/200923_03.jpg" width="950" height="303" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200923/200923_05.jpg" width="950" height="153" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200923/200923_06.jpg" width="950" height="473" border="0" usemap="#Map" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200923/200923_07.jpg" width="950" height="94" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200923/200923_08.jpg" width="950" height="350" border="0" usemap="#Map2" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200923/200923_09.jpg" width="950" height="416" border="0" usemap="#Map3" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200923/200923_10.jpg" width="950" height="236" border="0" usemap="#Map4" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200923/200923_11.jpg" width="950" height="284" border="0" usemap="#Map5" /></td>
    </tr>
  </table>
</div>

<map name="Map" id="Map"><area shape="rect" coords="147,347,221,372" href="http://www.tiexin.com/hot_spots/8489" target="_blank" />
<area shape="rect" coords="272,345,379,371" href="http://www.tiexin.com/hot_spots/200902" target="_blank" />
<area shape="rect" coords="142,374,243,400" href="http://www.tiexin.com/hot_spots/173724" target="_blank" />
<area shape="rect" coords="272,375,385,400" href="http://www.tiexin.com/hot_spots/21453" target="_blank" />
<area shape="rect" coords="156,406,222,427" href="http://www.tiexin.com/hot_spots/225046" target="_blank" />
<area shape="rect" coords="289,408,361,429" href="http://www.tiexin.com/hot_spots/21846" target="_blank" />
<area shape="rect" coords="147,438,218,458" href="http://www.tiexin.com/hot_spots/109974" target="_blank" />
<area shape="rect" coords="276,437,338,459" href="http://www.tiexin.com/hot_spots/225047" target="_blank" />
<area shape="rect" coords="583,446,757,464" href="http://www.tiexin.com/vendor/hot_spot/110467/events/2563" target="_blank" />
<area shape="rect" coords="584,420,775,440" href="http://www.tiexin.com/vendor/hot_spot/121937/events/2597" target="_blank" />
<area shape="rect" coords="644,362,785,406" href="http://www.tiexin.com/vendor/hot_spot/110467/events/2326" target="_blank" />
<area shape="rect" coords="712,303,787,325" href="http://www.tiexin.com/vendor/hot_spot/135701/events/2347" target="_blank" />
<area shape="rect" coords="455,334,598,359" href="http://www.tiexin.com/vendor/hot_spot/110467/events/2327" target="_blank" />
<area shape="rect" coords="455,294,609,331" href="http://www.tiexin.com/vendor/hot_spot/17275/events/2497" target="_blank" />
<area shape="rect" coords="498,272,741,293" href="http://www.tiexin.com/vendor/hot_spot/133886/events/2570" target="_blank" />
<area shape="rect" coords="463,209,607,248" href="http://www.tiexin.com/vendor/hot_spot/133895/events/2510" target="_blank" />
<area shape="rect" coords="688,194,783,230" href="http://www.tiexin.com/vendor/hot_spot/2081/events/2390" target="_blank" />
<area shape="rect" coords="668,239,771,264" href="http://www.tiexin.com/vendor/hot_spot/133894/events/2532" target="_blank" />
<area shape="rect" coords="480,167,739,193" href="http://www.tiexin.com/vendor/hot_spot/121937/events/2600" target="_blank" />
<area shape="rect" coords="465,141,627,158" href="http://www.tiexin.com/vendor/hot_spot/9158/events/2543" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="179,266,454,294" href="http://www.tiexin.com/vendor/hot_spot/9158/events/2539" target="_blank" />
<area shape="rect" coords="133,291,359,316" href="http://www.tiexin.com/vendor/hot_spot/79012/events/2714" target="_blank" />
<area shape="rect" coords="222,317,536,339" href="http://www.tiexin.com/vendor/hot_spot/133886/events/2566" target="_blank" />
<area shape="rect" coords="235,179,529,200" href="http://www.tiexin.com/vendor/hot_spot/135727/events/2607" target="_blank" />
<area shape="rect" coords="188,205,527,229" href="http://www.tiexin.com/vendor/hot_spot/121937/events/2594" target="_blank" />
<area shape="rect" coords="140,236,403,257" href="http://www.tiexin.com/vendor/hot_spot/133886/events/2567" target="_blank" />
<area shape="rect" coords="64,88,170,133" href="http://www.tiexin.com/vendor/hot_spot/214377/events/2639" target="_blank" />
<area shape="rect" coords="216,124,480,148" href="http://www.tiexin.com/vendor/hot_spot/135701/events/2343" target="_blank" />
<area shape="rect" coords="200,145,437,174" href="http://www.tiexin.com/vendor/hot_spot/17275/events/2496" target="_blank" />
<area shape="rect" coords="329,70,514,117" href="http://www.tiexin.com/vendor/hot_spot/110467/events/2325" target="_blank" />
<area shape="rect" coords="186,4,278,59" href="http://www.tiexin.com/vendor/hot_spot/121937/events/2596" target="_blank" />
<area shape="rect" coords="680,133,771,160" href="http://www.tiexin.com/hot_spots/79012" target="_blank" />
<area shape="rect" coords="635,187,716,213" href="http://www.tiexin.com/hot_spots/9359" target="_blank" />
<area shape="rect" coords="580,214,658,236" href="http://www.tiexin.com/hot_spots/68966" target="_blank" />
<area shape="rect" coords="603,253,738,290" href="http://www.tiexin.com/hot_spots/104391" target="_blank" />
<area shape="rect" coords="766,307,898,345" href="http://www.tiexin.com/hot_spots/68971" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="763,4,852,29" href="http://www.tiexin.com/hot_spots/68974" target="_blank" />
<area shape="rect" coords="779,28,888,53" href="http://www.tiexin.com/hot_spots/75632" target="_blank" />
<area shape="rect" coords="772,66,886,95" href="http://www.tiexin.com/hot_spots/78264" target="_blank" />
<area shape="rect" coords="607,225,727,257" href="http://www.tiexin.com/hot_spots/125717" target="_blank" />
<area shape="rect" coords="731,236,840,269" href="http://www.tiexin.com/hot_spots/68964" target="_blank" />
<area shape="rect" coords="549,255,629,273" href="http://www.tiexin.com/hot_spots/17656" target="_blank" />
<area shape="rect" coords="697,282,698,283" href="#" /><area shape="rect" coords="684,276,783,303" href="http://www.tiexin.com/hot_spots/75709" target="_blank" />
<area shape="rect" coords="569,292,684,330" href="http://www.tiexin.com/hot_spots/76608" target="_blank" />
<area shape="rect" coords="673,347,867,387" href="http://www.tiexin.com/hot_spots/104315" target="_blank" />
<area shape="rect" coords="755,392,841,417" href="http://www.tiexin.com/hot_spots/9383" target="_blank" />
<area shape="rect" coords="46,102,99,123" href="http://www.tiexin.com/vendor/hot_spot/210556/events/2817" target="_blank" />
<area shape="rect" coords="111,101,187,124" href="http://www.tiexin.com/hot_spots/210556" target="_blank" />
<area shape="rect" coords="44,190,139,213" href="http://www.tiexin.com/vendor/hot_spot/80209/events/2769" target="_blank" />
<area shape="rect" coords="148,193,302,213" href="http://www.tiexin.com/hot_spots/80209" target="_blank" />
<area shape="rect" coords="42,247,156,271" href="http://www.tiexin.com/vendor/hot_spot/224991/events/2770" target="_blank" />
<area shape="rect" coords="171,250,247,274" href="http://www.tiexin.com/hot_spots/224991" target="_blank" />
<area shape="rect" coords="44,160,174,182" href="http://www.tiexin.com/vendor/hot_spot/135562/events/2772" target="_blank" />
<area shape="rect" coords="186,161,320,185" href="http://www.tiexin.com/ hot_spot/135562" target="_blank" />
<area shape="rect" coords="45,128,111,155" href="http://www.tiexin.com/vendor/hot_spot/201995/events/2773" target="_blank" />
<area shape="rect" coords="125,132,282,154" href="http://www.tiexin.com/hot_spots/201995" target="_blank" />
<area shape="rect" coords="46,339,124,361" href="http://www.tiexin.com/vendor/hot_spot/224993/events/2774" target="_blank" />
<area shape="rect" coords="140,342,166,359" href="http://www.tiexin.com/hot_spots/224993" target="_blank" />
<area shape="rect" coords="49,304,175,332" href="http://www.tiexin.com/vendor/hot_spot/225037/events/2786" target="_blank" />
<area shape="rect" coords="185,304,247,331" href="http://www.tiexin.com/hot_spots/225037" target="_blank" />
<area shape="rect" coords="275,304,333,324" href="http://www.tiexin.com/vendor/hot_spot/224992/events/2771" target="_blank" />
<area shape="rect" coords="344,301,527,327" href="http://www.tiexin.com/hot_spots/224992" target="_blank" />
<area shape="rect" coords="41,277,163,299" href="http://www.tiexin.com/vendor/hot_spot/224994/events/2775" target="_blank" />
<area shape="rect" coords="175,277,245,300" href="http://www.tiexin.com/hot_spots/224994" target="_blank" />
<area shape="rect" coords="341,218,342,219" href="#" /><area shape="rect" coords="325,219,459,244" href="http://www.tiexin.com/vendor/hot_spot/135894/events/2809" target="_blank" />
<area shape="rect" coords="474,218,530,242" href="http://www.tiexin.com/hot_spots/135894" target="_blank" />
<area shape="rect" coords="240,91,389,119" href="http://www.tiexin.com/vendor/hot_spot/225065/events/2810" target="_blank" />
<area shape="rect" coords="405,93,534,121" href="HLG CLUB 베있아걸" target="_blank" />
<area shape="rect" coords="187,344,421,366" href="http://www.tiexin.com/vendor/hot_spot/174251/events/2811" target="_blank" />
<area shape="rect" coords="429,347,526,368" href="http://www.tiexin.com/hot_spots/174251" target="_blank" />
<area shape="rect" coords="44,217,45,218" href="#" /><area shape="rect" coords="45,217,100,240" href="http://www.tiexin.com/vendor/hot_spot/225066/events/2812" target="_blank" />
<area shape="rect" coords="115,221,301,243" href="http://www.tiexin.com/hot_spots/225066" target="_blank" />
<area shape="rect" coords="352,177,525,202" href="http://www.tiexin.com/vendor/hot_spot/123876/events/2813" target="_blank" />
<area shape="rect" coords="289,262,436,286" href="http://www.tiexin.com/vendor/hot_spot/179469/events/2815" target="_blank" />
<area shape="rect" coords="447,262,530,284" href="http://www.tiexin.com/hot_spots/179469" target="_blank" />
<area shape="rect" coords="323,140,444,162" href="http://www.tiexin.com/vendor/hot_spot/210556/events/2816" target="_blank" />
<area shape="rect" coords="455,138,529,163" href="http://www.tiexin.com/hot_spots/210556" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="664,11,834,58" href="http://www.tiexin.com/hot_spots/174251" target="_blank" />
<area shape="rect" coords="562,55,659,78" href="http://www.tiexin.com/hot_spots/111325" target="_blank" />
<area shape="rect" coords="630,87,762,121" href="http://www.tiexin.com/hot_spots/68969" target="_blank" />
<area shape="rect" coords="544,150,767,177" href="http://www.tiexin.com/hot_spots/152384" target="_blank" />
<area shape="rect" coords="637,195,800,224" href="http://www.tiexin.com/hot_spots/223547" target="_blank" />
<area shape="rect" coords="102,95,280,121" href="http://www.tiexin.com/forums/4/posts/5018" target="_blank" />
<area shape="rect" coords="101,196,284,226" href="http://www.tiexin.com/forums/7/posts/5019" target="_blank" />
<area shape="rect" coords="104,165,283,191" href="http://www.tiexin.com/forums/3/posts/5020" target="_blank" />
<area shape="rect" coords="105,130,430,154" href="http://www.tiexin.com/forums/5/posts/5022" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="138,75,290,109" href="http://www.tiexin.com/cities/1/topics/5" target="_blank" />
<area shape="rect" coords="137,118,253,150" href="http://www.tiexin.com/cities/1/topics/3" target="_blank" />
<area shape="rect" coords="136,158,272,186" href="http://www.tiexin.com/cities/1/topics/8" target="_blank" />
<area shape="rect" coords="330,59,429,83" href="http://www.tiexin.com/cities/1/topics/11" target="_blank" />
<area shape="rect" coords="330,92,537,124" href="http://www.tiexin.com/cities/1/topics/14" target="_parent" />
<area shape="rect" coords="329,137,449,162" href="http://www.tiexin.com/cities/1/topics/16" target="_blank" />
<area shape="rect" coords="328,176,386,197" href="http://www.tiexin.com/cities/1/topics/19" target="_blank" />
</map>
