<% page_title @topic.name -%>

<div align="center">
  <table width="951" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/topic/200910/200910_03.jpg" width="951" height="225" /></td>
    </tr>
    <tr>
      <td><table width="951" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="643"><table width="643" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/topic/200910/200910_05.jpg" width="643" height="211" border="0" usemap="#Map" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200910/200910_07.jpg" width="643" height="188" border="0" usemap="#Map2" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200910/200910_09.jpg" width="643" height="193" border="0" usemap="#Map3" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200910/200910_10.jpg" width="643" height="198" border="0" usemap="#Map4" /></td>
            </tr>
          </table></td>
          <td width="308"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/topic/200910/200910_06.jpg" width="308" height="289" /></td>
            </tr>
            <tr>
              <td><img src="/images/topic/200910/200910_08.jpg" width="308" height="501" border="0" usemap="#Map5" /></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200910/200910_11.jpg" width="951" height="485" border="0" usemap="#Map6" /></td>
    </tr>
    <tr>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="/images/topic/200910/200910_12.jpg" width="475" height="398" border="0" usemap="#Map7" /></td>
          <td><img src="/images/topic/200910/200910_13.jpg" width="476" height="398" border="0" usemap="#Map8" /></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200910/200910_14.jpg" width="951" height="490" border="0" usemap="#Map9" /></td>
    </tr>
    <tr>
      <td><img src="/images/topic/200910/200910_15.jpg" width="951" height="221" border="0" usemap="#Map10" /></td>
    </tr>

    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>

<map name="Map" id="Map"><area shape="rect" coords="4,36,154,193" href="http://www.tiexin.com/hot_spots/85177" target="_blank" />
<area shape="rect" coords="164,35,313,193" href="http://www.tiexin.com/hot_spots/113310" target="_blank" />
<area shape="rect" coords="320,37,471,194" href="http://www.tiexin.com/hot_spots/142929" target="_blank" />
<area shape="rect" coords="481,36,629,193" href="http://www.tiexin.com/hot_spots/113450" target="_blank" />
</map>
<map name="Map2" id="Map2"><area shape="rect" coords="1,4,154,173" href="http://www.tiexin.com/hot_spots/121884" target="_blank" />
<area shape="rect" coords="160,6,313,174" href="http://www.tiexin.com/hot_spots/133920" target="_blank" />
<area shape="rect" coords="320,8,470,172" href="http://www.tiexin.com/hot_spots/69102" target="_blank" />
<area shape="rect" coords="479,8,630,172" href="http://www.tiexin.com/hot_spots/76483" target="_blank" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="3,10,155,179" href="http://www.tiexin.com/hot_spots/129537" target="_blank" />
<area shape="rect" coords="162,11,313,177" href="http://www.tiexin.com/hot_spots/192585" target="_blank" />
<area shape="rect" coords="322,12,472,174" href="http://www.tiexin.com/hot_spots/113304" target="_blank" />
<area shape="rect" coords="478,12,630,175" href="http://www.tiexin.com/hot_spots/129248" target="_blank" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="3,16,154,179" href="http://www.tiexin.com/hot_spots/125717" target="_blank" />
<area shape="rect" coords="163,15,312,175" href="http://www.tiexin.com/hot_spots/17656" target="_blank" />
<area shape="rect" coords="322,15,471,176" href="http://www.tiexin.com/hot_spots/173724" target="_blank" />
<area shape="rect" coords="479,14,630,176" href="http://www.tiexin.com/hot_spots/214376" target="_blank" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="32,38,179,65" href="http://www.tiexin.com/forums/7/posts/2350" target="_blank" />
<area shape="rect" coords="29,72,122,99" href="http://www.tiexin.com/forums/7/posts/2351" target="_blank" />
<area shape="rect" coords="35,107,242,136" href="http://www.tiexin.com/forums/7/posts/2353?page=1" target="_blank" />
<area shape="rect" coords="28,143,230,171" href="http://www.tiexin.com/forums/6/posts/2354?page=1" target="_blank" />
<area shape="rect" coords="33,181,248,209" href="http://www.tiexin.com/forums/6/posts/2355" target="_blank" />
<area shape="rect" coords="35,214,179,243" href="http://www.tiexin.com/forums/7/posts/2357" target="_blank" />
<area shape="rect" coords="34,249,186,276" href="http://www.tiexin.com/forums/7/posts/2358" target="_blank" />
<area shape="rect" coords="31,279,265,306" href="http://www.tiexin.com/forums/7/posts/2356" target="_blank" />
<area shape="rect" coords="28,375,189,402" href="http://www.tiexin.com/forums/7/posts/2352" target="_blank" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="455,85,593,236" href="http://www.tiexin.com/hot_spots/111600" target="_blank" />
<area shape="rect" coords="615,86,756,236" href="http://www.tiexin.com/hot_spots/130140" target="_blank" />
<area shape="rect" coords="781,84,923,237" href="http://www.tiexin.com/hot_spots/146793" target="_blank" />
<area shape="rect" coords="24,242,184,465" href="http://www.tiexin.com/hot_spots/129280" target="_blank" />
<area shape="rect" coords="208,248,384,464" href="http://www.tiexin.com/hot_spots/219799" target="_blank" />
<area shape="rect" coords="397,242,554,466" href="http://www.tiexin.com/hot_spots/113365" target="_blank" />
<area shape="rect" coords="576,244,737,464" href="http://www.tiexin.com/hot_spots/151699" target="_blank" />
<area shape="rect" coords="764,241,921,472" href="http://www.tiexin.com/hot_spots/113476" target="_blank" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="25,81,247,244" href="http://www.tiexin.com/hot_spots/198640" target="_blank" />
<area shape="rect" coords="24,264,106,386" href="http://xnavistar.blog.tiexin.com/articles/560" target="_blank" />
<area shape="rect" coords="106,268,190,385" href="http://xnavistar.blog.tiexin.com/articles/561" target="_blank" />
<area shape="rect" coords="191,267,280,382" href="http://xnavistar.blog.tiexin.com/articles/562" target="_blank" />
<area shape="rect" coords="280,265,372,383" href="http://www.tiexin.com/hot_spots/214930" target="_blank" />
<area shape="rect" coords="377,267,465,381" href="http://www.tiexin.com/hot_spots/220321" target="_blank" />
</map>
<map name="Map8" id="Map8"><area shape="rect" coords="255,230,448,377" href="http://www.tiexin.com/hot_spots/125730" target="_blank" />
<area shape="rect" coords="35,229,224,377" href="http://www.tiexin.com/hot_spots/125144" target="_blank" />
<area shape="rect" coords="252,80,447,227" href="http://www.tiexin.com/hot_spots/124621" target="_blank" />
</map>
<map name="Map9" id="Map9"><area shape="rect" coords="456,73,601,225" href="http://www.tiexin.com/hot_spots/79012" target="_blank" />
<area shape="rect" coords="616,69,768,229" href="http://www.tiexin.com/hot_spots/200902" target="_blank" />
<area shape="rect" coords="780,71,933,226" href="http://www.tiexin.com/hot_spots/79352" target="_blank" />
<area shape="rect" coords="26,228,191,472" href="http://www.tiexin.com/hot_spots/83407" target="_blank" />
<area shape="rect" coords="202,220,377,465" href="http://www.tiexin.com/hot_spots/143211" target="_blank" />
<area shape="rect" coords="400,234,564,460" href="http://www.tiexin.com/cities/1/topics/8" target="_blank" />
<area shape="rect" coords="575,238,755,461" href="http://www.tiexin.com/cities/1/hot_spot_categories/414" target="_blank" />
<area shape="rect" coords="762,227,936,468" href="http://www.tiexin.com/cities/1/search.?tag=五星级影院" target="_blank" />
</map>
<map name="Map10" id="Map10"><area shape="rect" coords="15,38,234,213" href="http://www.tiexin.com/cities/1/topics/3" target="_blank" />
<area shape="rect" coords="253,39,467,208" href="http://www.tiexin.com/cities/1/topics/5" target="_blank" />
<area shape="rect" coords="486,43,703,208" href="http://www.tiexin.com/cities/1/topics/8" target="_blank" />
<area shape="rect" coords="716,43,936,216" href="http://www.tiexin.com/cities/1/topics/10" target="_blank" />
</map>