<% page_title @topic.name -%>
<div align="center">


<table width="948" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="/images/topic/201006/201006_01.png" width="948" height="42" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_02.png" width="948" height="41" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_03.png" width="948" height="42" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_04.png" width="948" height="41" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_05.png" width="948" height="42" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_06.png" width="948" height="41" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_07.png" width="948" height="42" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_08.png" width="948" height="41" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_09.png" width="948" height="42" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_10.png" width="948" height="41" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_11.png" width="948" height="42" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_12.png" alt="" width="948" height="41" border="0" usemap="#Map14" href="http://www.earthhour.org.cn/" target="_blank"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_13.png" alt="" width="948" height="42" border="0" usemap="#Map15" target="_blank"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_14.png" alt="" width="948" height="41" border="0" usemap="#Map16" href="http://www.earthhour.org.cn/" target="_blank"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_15.png" alt="" width="948" height="42" border="0" usemap="#Map17" href="http://www.earthhour.org.cn/" target="_blank"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_16.png" alt="" width="948" height="41" border="0" usemap="#Map18" href="http://www.earthhour.org.cn/" target="_blank"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_17.png" width="948" height="42" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_18.png" width="948" height="41" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_19.png" width="948" height="42" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_20.png" width="948" height="41" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_21.png" alt="" width="948" height="35" border="0" usemap="#Map"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_22.png" width="948" height="36" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_23.png" alt="" width="948" height="35" border="0" usemap="#Map2"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_24.png" width="948" height="36" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_25.png" alt="" width="948" height="35" border="0" usemap="#Map3"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_26.png" width="948" height="35" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_27.png" width="948" height="36" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_28.png" alt="" width="948" height="35" border="0" usemap="#Map4"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_29.png" width="948" height="36" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_30.png" alt="" width="948" height="36" border="0" usemap="#Map5"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_31.png" width="948" height="36" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_32.png" width="948" height="36" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_33.png" alt="" width="948" height="36" border="0" usemap="#Map6"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_34.png" width="948" height="36" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_35.png" alt="" width="948" height="41" border="0" usemap="#Map7"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_36.png" width="948" height="31" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_37.png" width="948" height="36" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_38.png" alt="" width="948" height="36" border="0" usemap="#Map8"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_39.png" width="948" height="40" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_40.png" alt="" width="948" height="39" border="0" usemap="#Map9"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_41.png" width="948" height="40" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_42.png" width="948" height="39" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_43.png" alt="" width="948" height="40" border="0" usemap="#Map10"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_44.png" width="948" height="39" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_45.png" width="948" height="23" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_46.png" alt="" width="948" height="56" border="0" usemap="#Map11"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_47.png" alt="" width="948" height="40" border="0" usemap="#Map12"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_48.png" width="948" height="35" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_49.png" width="948" height="36" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_50.png" width="948" height="35" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_51.png" width="948" height="35" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_52.png" width="948" height="36" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_53.png" alt="" width="948" height="35" border="0" usemap="#Map13"></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_54.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_55.png" width="948" height="39" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_56.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_57.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_58.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_59.png" width="948" height="39" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_60.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_61.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_62.png" width="948" height="39" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_63.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_64.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_65.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_66.png" width="948" height="39" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_67.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_68.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_69.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_70.png" width="948" height="39" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_71.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_72.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_73.png" width="948" height="39" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_74.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_75.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_76.png" width="948" height="38" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_77.png" width="948" height="39" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/topic/201006/201006_78.png" width="948" height="38" alt=""></td>
	</tr>
</table>
<!-- End ImageReady Slices -->

<map name="Map"><area shape="rect" coords="710,7,886,33" href="http://www.tiexin.com/articles/1551" target="_blank">
</map>
<map name="Map2"><area shape="rect" coords="852,13,920,33" href="http://www.tiexin.com/articles/1551" target="_blank">
</map>
<map name="Map3"><area shape="rect" coords="713,4,937,31" href="http://www.tiexin.com/articles/1565" target="_blank">
</map>
<map name="Map4"><area shape="rect" coords="853,5,922,28" href="http://www.tiexin.com/articles/1565" target="_blank">
</map>
<map name="Map5"><area shape="rect" coords="709,6,883,33" href="http://www.tiexin.com/articles/1556" target="_blank">
</map>
<map name="Map6"><area shape="rect" coords="851,15,921,34" href="http://www.tiexin.com/articles/1556" target="_blank">
</map>
<map name="Map7"><area shape="rect" coords="713,2,937,36" href="http://www.tiexin.com/articles/1558" target="_blank">
</map>
<map name="Map8"><area shape="rect" coords="851,6,922,28" href="http://www.tiexin.com/articles/1558" target="_blank">
</map>
<map name="Map9"><area shape="rect" coords="713,4,927,26" href="http://www.tiexin.com/articles/1554" target="_blank">
</map>
<map name="Map10"><area shape="rect" coords="852,16,922,38" href="http://www.tiexin.com/articles/1554" target="_blank">
</map>
<map name="Map11"><area shape="rect" coords="697,3,945,45" href="http://www.tiexin.com/articles/1555" target="_blank">
</map>
<map name="Map12"><area shape="rect" coords="852,11,921,33" href="http://www.tiexin.com/articles/1555" target="_blank">
</map>
<map name="Map13"><area shape="rect" coords="122,1,357,24" href="http://www.tiexin.com/articles/1552" target="_blank">
</map>
</div>