<%=_('score')%>:<%=format('%.1f',hot_spot.score)%>&nbsp;|&nbsp;
<%=_('quality')%>:<%=format('%.1f',hot_spot.quality_score)%>&nbsp;|&nbsp;
<%=_('service')%>:<%=format('%.1f',hot_spot.service_score)%>&nbsp;|&nbsp;
<%=_('environment')%>:<%=format('%.1f',hot_spot.environment_score)%>&nbsp;|&nbsp;
<%=_('price')%>:<%=format('%.1f',hot_spot.price_score)%>&nbsp;|&nbsp;
<%=_('persons')%>:<%=hot_spot.score_count%>