<div class="category_node" id="<%= node_id(category)%>"><%= safe_icon category %><span  ><%= link_to_function h(localized_description(category, :name)), "hot_spot_category_clicked(#{category.id})" %></span><% if @current_user.is_admin? -%><span class="buttons"><%= link_to_function image_tag('edit.gif'), "edit_category(#{category.id})"%><%= link_to_function  image_tag('delete.gif'), "delete_category(#{category.id})"%><%= link_to_function image_tag('add.gif'), "to_create_category(#{category.id})" %></span><% end -%></div>