<p>亲爱的<%= @receiver%>:</p>
<p>你的朋友<%= @inviter%>邀请你加入贴心网。</p>
<p>“贴心网”（原纳米星）是精彩的城市生活图谱，是您身边最忠实地提供旅行、娱乐、餐饮、购物等各类信息的“启明星”，让您能够通过手机、便携式电脑随时随地迅速搜索到您需要的及时讯息！快点来试试吧？</p>
<p><%= @inviter%>还想对你说:</p>
<p><%= @note %></p>
<p>请点击以下URL注册成为贴心网的用户。你成功注册以后，你的朋友“<%= @inviter%>”将能获得50分经验分。</p>
<p><a href="<%=@url %>"><%= @url %></a></p>
	
<p>贴心网</p>