h3 {
	 clear: left;
}

div.button_bar {
	clear: left;
}
.xnavi-mobile-models {
    width:100%;
    padding-top: 15px
}
.xnavi-mobile-models li {
    float:left;
    margin:0 0 5px;
    text-align:center;
    width:100px;
    height: 150px;
    list-style-type:none;
}
.xnavi-mobile-models .model_pic {
    height: 75px;
}
.xnavi-mobile-brands {
    padding-top: 15px
}
.xnavi-mobile-brands li {
    float:left;
    margin:0 0 5px;
    text-align:center;
    width:150px;
	height: 100px;
    list-style-type:none;
}

.xnavi-mobile-navi-star {
    margin:5px;    
}
.xnavi-mobile-navi-star li {
    list-style-type:none;
}

#dl_main {
    float:left;
    width: 630px;
}

#dl_side {
    float:right;
    width: 300px
}

.clearfix {
    clear:left;
}

.download_bg_1{
    background: url('../images/download_bg_1.jpg') top left no-repeat;
    height: 11px;
    width: 950px;
    margin-top:5px;
}
.download_bg_2{
    background: url('../images/download_bg_2.jpg') bottom;
    width: 950px;   
    overflow: hidden;
}
.main{
    padding:0px 20px 10px 28px;
}
#introduction {
    padding-bottom:10px;
}
.hr{
     height:1px;
     margin-top:3px;
     margin-bottom:3px;
     color:333;
     size:1px;
}

.left {
    float:left;
}
.main .os{
    width: 250px;
    padding-left:30px;
}
.main h4{
    margin:0px 0px 5px 0px;
}
.main .os .list {
    width:95%;
}
.main .os .list li {
    list-style-type:none;
    margin:0 0 10px;
    width:200px;
}
.middle_menu{
    background: url('../images/download_middle_menu_bg.jpg') no-repeat;
    height: 52px;
    width: 873px;
    margin-top:10px;
}
.middle_menu .title1{
    width:160px;
    font-size:14px;
    color:#fff;
    padding:13px 0px 5px 15px;
    font-weight: bold;
}
.middle_menu .title2{
    width:150px;
    margin-left:15px;
    font-size:14px;
    color:#fff;
    padding:13px 0px 5px 15px;
    font-weight: bold;
}
.middle_menu .title3{
    width:200px;
    margin-left:150px;
    font-size:14px;
    color:#fff;
    padding:15px 0px 5px 15px;
    font-weight: bold;
}
.middle_cont{
    height: 800px;
    width: 873px;

}
.middle_cont .cont1{
    width:180px;
    height: 800px;
    overflow-y : scroll;
}
.middle_cont .cont2{
    width: 680px;
    height: 800px;
    padding:5px;
    overflow: auto;
}
.middle_cont .cont3{
    width:350px;
    height: 400px;
    padding:5px;
    overflow: auto;
}

#model_show{
    padding:10px;    
}
#model_show  li {
    list-style-type:none;
    margin:0 0 10px;
}
#model_show .icon{
    width:100px;
    height: 100px;
    text-align:center;
}
#model_show .summary{
    padding-left:10px;
}
#model_show .download{
    font-size:14px;
}

div#j2me_section {
	clear: both;
}

