div#title {
    background: url('../images/channel_image/latest_articles_body_bg.jpg') bottom center no-repeat;
    clear:both;
    height:228px;
    margin:10px 0 0;
    width:950px;
}

div#main_function div.section div.body {
	background-image: none;
	padding: 0px;
}

div.section h3 {
	margin: 0;
}

div#main_function div.banner {
    height:160px;
    padding: 3px;
    background:transparent url(../images/full_width_section_head_bg_2.gif) no-repeat scroll left top;
    margin:0;
    overflow:hidden;
}

div#main_function div.summary {
    height:112px;
    overflow:hidden;
    padding:20px;
}

div#main_function div.section div.head {
	height: 32px;
	padding: 0px;
	background-image: none;
}

div#main_function div.section {
    margin-bottom:0;
}

div.section div.head h3 {
	line-height: 32px;
	font-size: 14px;
	font-weight: bold;
	color: #003267;
	margin-left: 30px;
}

div#result_and_map {
	margin: 0px;
	margin-top: 10px;
	clear: both;
	width: 950px;
	height: 431px;
	overflow: hidden;
	background: url('../images/channel_image/result_and_map_bg.jpg') top left no-repeat;
}

div#order_tool {
	float: right;
	height: 26px !important;
	*height: 25px;
	margin: 1px;
	margin-bottom: 0px;
	line-height: 26px !important;
	*line-height: 25px;
	background-color: white;
	padding: 0px 10px !important;
	*padding: 1px 10px;
	*padding-top: 5px;
	font-size: 12;
	font-weight: bold;
	color: #333;
}

div#order_tool select {
	vertical-align: middle;
}

div#hot_spot_list {
	float: left;
	padding: 4px;
	padding-left: 5px;
	height: 385px;
	width: 465px !important;
	overflow: auto;
}

div#main_function div#hot_spot_list div.head {
	background-color: #DDD;
	height: 27px;
}

div#hot_spot_list div.head h3 {
	margin-left: 30px;
	font-size: 14px;
	font-weight: #003267;
	color:#333;
}

div#hot_spot_list div.hot_spot {
	margin-bottom: 1em;
}

div#hot_spot_list div.hot_spot div.head {
	padding: 2px 5px;
}

div#map_area {
	background: white;
	margin-left: 478px !important;
	*margin-left: 472px;
	width: 467px;
	padding-top: 3px;
}

div#map {
	position: relative;
	border: 1px solid #D7CFCC;
	overflow: hidden;
	margin: 0;
}

div.hot_spot {
	height: 135px;
	border: 1px solid #DDD;
	margin-bottom: 7px;
	overflow: hidden;
	padding: 5px;
	padding-top: 10px;
}

div.hot_spot div.small_hot_spot_picture {
	margin-top: 7px;
	margin-right: 10px;
}

div.hot_spot div.introduction {
	line-height: 1.5em;
	overflow: auto;
	color: #666;
	width: 165px;
        float: left;
}

div.hot_spot div.introduction div.detail_link {
	text-align: right;
	padding-right: 5px;
	margin-right: 5px;
}

div.hot_spot div.score_area {
	float: right;
	width: 90px;
}

div.hot_spot div.score_area div.score_image {
	margin-bottom: 7px;
}

div#photo_list {
	margin: 10px auto;
}

div#photo_list div.photo {
	float: left;
	width: 150px;
	text-align: center;  
	margin: 10px 2px;             
	overflow: auto;
}
div.photo div.photo_thumb {
	width: 128px;
	height: 128px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	text-align: center;
}                     

div.photo_thumb img{
	vertical-align: middle;
}  

div#bbs {
        clear: both;
	float: right;
	width: 249px;
	height: 260px;
	background: url('../images/topic_image/bbs_bg.jpg') top left no-repeat;
        margin-top:10px;
}

div#bbs div.body {
	padding: 10px;
	*padding-right: 0px;
	height: 220px;
	overflow: auto;
}

div#bbs .post{
      padding:5px;
}

div#promotions {
        clear: both;
	float: right;
	width: 249px;
	height: 330px;
	background: url('../images/topic_image/promotions_bg.jpg') top left no-repeat;        
}

div#promotions div.body {
	padding: 10px;
	*padding-right: 0px;
	height: 290px;
	overflow: auto;
}

div#back_topics {
        clear: both;
	float: right;
	width: 249px;
	height: 205px;
	background: url('../images/topic_image/back_topics_bg.jpg') top left no-repeat;        
}

div#back_topics div.body {
	padding: 10px;
	*padding-right: 0px;
	overflow: auto;
}


div#articles {
	margin: 10px 249px 0px 0px;
	background: transparent url(../images/topic_image/articles_bg.jpg) no-repeat scroll left top;
	height: 491px;
	width: 691px;
	overflow: hidden;
}

div.articles div.body {
}

div#comments {
	margin: 10px 249px 0px 0px;
	background: transparent url(../images/topic_image/comments_bg.jpg) no-repeat scroll left top;
	height: 294px;
	width: 691px;
	overflow: hidden;
}

div.comments div.body {
}

div.article_summary {
	padding: 10px;
	border-bottom: 1px dashed #B7B7B7;
}
div.article_summary div.member_logo {
	float: left;
	margin: 5px 10px;
	width: 96px;
	text-align: center;
}

div.article_summary div.header {
	border: none;
}
div.with_member_logo div.header {
	margin-left: 116px;
}
div.article_summary div.header h3 {
	color: black;
}

div#events_list{
       margin-left: 14px;
       margin-top: 5px;
}

div.event_summary {
	margin-bottom: 20px;
	width: 223px;
	work-wrap: break-word;
	word-break: break-all;
}

 div.event_summary p.content {
	margin: 5px 10px;
	color: #666;
	font-size: 12px;
}

 div.event_summary p.vendor_name {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

 div.event_summary p.summary {
	font-size: 16px;
	text-align: center;
}

 div.event_summary p.banner {
	text-align: center;
	margin: 5px auto;
}

 div.event_summary p.banner img {
	border: 1px solid #ccc;
	padding: 2px;
}

 div.event_summary p.date {
	background: url('../images/channel_image/event_date_bg.jpg') center center no-repeat;
	width: 221px;
	margin: 5px auto;
	line-height: 23px;
	height: 23px;
	text-align: center;
}
div.back_topic{
    padding:5px;
}
.white{color:#FFF;-moz-outline-style:none;text-decoration:none;}
.white:link,
.white:visited{color:#FFF;text-decoration:none;outline:none;}
.white:hover,
.white:active{color:#FFF;}

/* 日历CSS begin*/
div#event_calendar {
	width: 297px;
	height: 650px;
}

div#event_calendar div.head {
	position: relative;
	height: 33px;
	width: 297px;
	background: url('../images/homepage/calendar_bg.gif') top left no-repeat;
	font-size: 14px;
	font-weight: bold;
	*font-family: 宋体, serif;
}

div#week_day_area {
	border-left: 1px solid #BFBFBF;
	border-right: 1px solid #BFBFBF;
}

div#event_calendar div.head div#previous_month {
	position: absolute;
	top: 1px;
	left: 27px;
	height: 32px;
	width: 22px;
}

div#event_calendar div.head div#next_month {
	position: absolute;
	top: 1px;
	left: 248px;
	height: 32px;
	width: 22px;
}

div#event_calendar div.head div#calendar_date {
	position: absolute;
	top: 1px;
	left: 64px;
	background-image: url('../images/homepage/week_bg.gif');
	height: 32px;
	line-height: 32px;
	width: 169px;
	text-align: center;
}

div#week_day_area table {
	width: 231px;
	margin: 0 auto;
}

div#week_day_area table th {
	width: 33px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	color: #666;
	font-size: 14px;
	font-weight: bold;
	*font-family: 宋体, serif;
}
div#dates_area table {
	width: 297px;
	background: url('../images/homepage/date_area_bg.gif');
}

div#dates_area table td {
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	*font-family: 宋体, serif;
}
div#dates_area table td a {
	color: white;
}

div#dates_area table td.arrow_cell {
	width: 33px;
}
td#arrow_previous_week {
	padding-left: 0px;
}

td#arrow_next_week {
	padding-right: 0px;
}
div#dates_area table td.date_cell {
	width: 33px;
	color: white;
}

div#dates_area table td.today_cell {
	width: 33px;
	color: #333;
	background: url('../images/homepage/today_bg.gif');
}
div#event_calendar div#event_calendar_body {
	height: 510px;
	font-size: 12px;
	border-left: 1px solid #BFBFBF;
	border-right: 1px solid #BFBFBF;
	padding: 10px 0px;
	overflow: auto;
}

div#event_calendar div.foot {
	background: url('../images/homepage/calendar_bg.gif') bottom left no-repeat;
	text-align: right;
	height: 26px;
	line-height: 26px;
	border-top: 1px solid #CFCFCF;
	padding-right: 10px;
}
div.event {
    margin:1em 0;
    padding:0 10px;
}
/* 日历CSS end*/