<% page_title _('New Topic')
   @js_files = ['yui/yahoo', 'yui/event', 'yui/dom', 'yui/calendar','editor']
   use_remote_dialog
   @css_files<<['calendar']
-%>

<%= error_messages_for :topic %>
<% form_for :topic, @topic, :url=>@surl, :html=>{:method=>@method, :multipart=>true} do |f| -%>
<%= render :partial=>'form_expo', :object=>f, :locals => {:form => f} %>
<% end -%>

<div id="panel">
	<div class="hd" id="panel_head">

	</div>

	<div class="bd" id="panel_body">

	</div>
</div>