<% page_title '关于贴心网' 
   include_css_file 'static' 
   side_menu 'about_us'-%>

<div class="navigation_bar">
	关于我们&nbsp;&gt;&nbsp;关于贴心网
</div>

<div id="main_function_content">
	<h3>贴心网是“随身的生活旅游顾问”</h3>
		<p class="introduction">贴心网，是一个都市生活信息平台。用户可以使用纳米星网站或者纳米星手机应用方便的检索任何城市生活信息，包括地理方位、购物信息、餐饮休闲、娱乐、健身、旅游资讯......各类信息，应有尽有。而且，通过纳米星提供的手机应用，用户可以随时随地地查看自己需要的信息，纳米星手机版应用不同于一般意义上的手机地图，它同时是一个手机社区工具，通过手机功能，它能够方便地支持朋友之间的信息共享。</p>

	<h3>贴心网是“好玩的地图”</h3>
		<p class="introduction">贴心网实际上不仅仅是一个信息检索的平台和工具，也是一个可以自己动手参与信息建设和共享的社区平台。您可以进入地图操作界面上，在地图上记录一个地标，并记录您知道的信息，还可以上传照片；您知道的好吃好玩的地方，可以随时通过电子邮件、手机短信、站内短信等方式快速发送给您的朋友。</p>
		<p class="introduction">贴心网是好玩的地图，也是好用的地图。您可以定期关注贴心网的一些信息、期刊、主题。特别是主题，贴心网致力于推出一系列的主题地图，例如：名人故居、儿童地图等等。按照一些好玩的、实用的主题，用户可以很快地查看各类有趣的地图信息。</p>

		<h3>贴心网是“强大的营销媒体”</h3>
		<p class="introduction">贴心网，同时也是商户的随身营销工具。商家用户签约成为一个地标的业主以后，可以利用贴心网网站，宣传自己的企业、产品、服务。这些发布的信息，也可以方便地使得所有的手机用户通过贴心网手机版应用或手机网站搜索、查看、甚至订阅。因此，贴心网是很好的手机宣传工具。贴心网充分提现了作为互联网新媒体以及“第五媒体”——手机媒体的作用。</p>
		<h3>贴心网的积分与活动</h3>
		<p class="introduction">用户经常使用贴心网，例如：推荐地标、标注地标、推荐朋友加入、写博客文章、写评论，都是可以获得积分的。这些积分，可以得到所有贴心网签约商户的认可，对于通过贴心网平台进行营销活动的商户，贴心网用户可以按照平台设置的规则，利用积分兑换现金，获得优惠和折扣！</p>
		<p class="introduction">贴心网还会定期联合商家一起搞活动，活动期间，用户积极参加获得的高额积分，可以参加排名，一旦排名靠前，将获得优厚的奖品！</p>
		</p>
		<h3>贴心网的主题建设</h3>
		<p class="introduction">贴心网的主题内容，是一个特色，通过主题，可以使得用户方便地获得自己感兴趣的信息，并快速查到所在的地标方位。主题是多种多样的，可以是实用性较强的主题，例如：早餐供应点地图；也可以是好玩的，例如：张爱玲生活地图，记录张爱玲在上海留下的历史足迹。</p>
		<p class="introduction">还等待什么？快快来<%= link_to '注册', new_member_path %>吧，欢迎您成为贴心网大家庭的一员！</p>
	</div>
</div>