<% page_title '关于神图' 
   include_css_file 'static' 
   side_menu 'about_us'-%>

<div class="navigation_bar">
	关于我们&nbsp;&gt;&nbsp;关于神图
</div>

<div id="main_function_content">
	<p class="introduction">
		神图科技，创立于2008年1月，总部注册在上海，目前在上海、北京设立有分支机构。并即将在无锡、广州设立分支机构。
	</p>
	<p class="introduction">
	神图科技投资开发了贴心网网站和贴心网手机应用。该平台同时是面向城市生活人群的服务工具，融合了手机生活搜索、手机地图、移动定位服务、深度生活信息、深度旅游信息，是城市生活人群日常生活和旅游的“随身顾问”；同时，平台提供了面向商户的强大的信息发布功能、营销辅助功能，商家可以通过这个平台向手机用户人群提供及时的商业信息，例如打折信息、活动信息、产品信息等等。具体的介绍，请进入资料下载栏位下载所需要的介绍材料。
	</p>
	<p class="introduction">
	贴心网依着“纳米”一样细微的尺度给您提供了深度的资讯和内容。例如，您不仅可以查到一个商场的位置，您可以更深入地查到商场内部的各个专柜，甚至和某个专柜的服务人员交流。而这一切，都因贴心网而让您感受到便利，感受到无微不至的关怀！
	</p>
	<p class="introduction">
	作为行业领先的互联网和手机营销服务平台，一个完整意义上的Web 2.0和Mobile 2.0平台，神图将提供更加完善的功能和信息，为城市生活人群提供最优质的服务。
	</p>		
</div>
