<% page_title '联系我们' 
   include_css_file 'static'
   side_menu 'about_us' -%>

<div class="navigation_bar">
	关于我们&nbsp;&gt;&nbsp;联络信息
</div>

<div id="main_function_content">
	<table class="layouter" width="100%">
		<tr>
			<td width="50%">
				<h4><%= link_to '上海总部', hot_spot_path(146261) %></h4>
					<p>中国上海(200433)</p>
				    <p>地址1：杨浦区大学路195号702室</p>
				    <p>电话：+86 13911333072 </p>
				    <p>地址2：杨浦区国定路335号2号楼2010-2012室</p>
				    <p>电话：+86 21 65651246</p>
				    <p>传真：+86 21 65651247</p>
			</td>
			<td>
				<h4><%= link_to '北京办事处', hot_spot_path(186474)%></h4>
				<p>中国北京(100190)</p>
				<p>地址：海淀区成府路三才堂甲42号院</p>
				<p>电话：+86 10 62416976</p>
				<p>传真：+86 10 62416976</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">电子邮件: <a href="mail:service@tiexin.com">service@tiexin.com</a></td>
		</tr>
	</table>
</div>

