<% page_title _('Point rules') -%>

<h2>X-Navi的积分规则</h2>
<p>用户的积分分为两类，一是经验分，体现的是用户参与网站建设做出贡献的数量。二是信誉分，体现的是用户参与网站建设，做出贡献的质量。</p>
<p>目前各操作的基本规则如下：</p>
<ul class="list"></li>
<li>标注热点并通过审核：信誉分加10分。</li>
<li>发表评论：经验分加5分。</li>
<li>评论获得5个“赞同”：信誉分加5分。</li>
<li>评论获得5个“反对”：信誉分扣3分。</li>
<li>提交“热点信息修改建议”：经验分加5分。</li>
<li>热点信息修改建议被接受：信誉分加3分。</li>
<li>上传照片：经验分加10分。</li>
<li>推荐产品：经验分加10分。</li>
<li>推荐产品获得5个“赞同”：信誉分加10分。</li>
<li>推荐产品获得5个“反对”：信誉分扣4分。</li>
<li>在论坛发表主贴：经验分加10分。</li>
<li>论坛帖子被投票为精华：信誉分加5分。</li>
<li>论坛帖子被投票为隐藏：信誉分扣3分。</li>
<li>论坛帖子被投票为灌水：信誉分扣1分。</li>
<li>在论坛发表回复：经验分加1分。</li>
<li>回复被投票为“好帖”：信誉分加3分。</li>
<li>回复被投票为“隐藏”：信誉分扣1分。</li>
<li>管理员删除主贴或回复：信誉分扣5到0分，由管理员酌情决定。</li>
<li>推荐好友加入X-Navi，注册成功，奖励经验分50分。</li>
</ul>

<h2>积分的使用</h2>
<ol>
<li>在论坛投票时决定所投票的权重。具体见“论坛投票规则”。</li>
</li>使用积分参加网站推出的兑换礼品活动。</li>
</ol>

<h2>论坛投票规则</h2>
<p>用户对主题可以投票，投票分为精华、灌水、隐藏三项。每个用户只能投一次。任何一项投票的分数达到30分则投票结束，投票结果固定。如果投票结果为“隐藏”，则该贴不再在论坛中显示。但在作者主页的“我的论坛帖子”中可以查看。</p>
<p>用户可以选择不显示投票结果为“灌水”的帖子，缺省为显示。</p>
<p>投票计分公式为：min(int(exp/1000), 3) + min(int(credit/200), 5)。exp为用户的经验分，credit为用户的信誉分。</p>
<p>对回帖可以投票，投票分为好贴，灌水和隐藏。任何一项投票的分数达到20分则投票结束。单次投票的计分方式同对主题的投票。</p>

