<% @page_title = _('Posts of %{member}') % {:member => @member.nick_name}
   side_menu side_menu_for_member(@member)
   @css_files = ['article']
-%>

<%= render :partial=>'post_summary', :collection=>@posts %>

<%= page_navigator @posts %>