<div class="section">
	<div class="header">
		<h3><%= s_('Product|Vendor')%></h3>
	</div>
	
	<div class="body">
		<h3><%= link_to h(localized_description(@vendor, :name)), brand_path(@vendor)%></h3>
	</div>
</div>