<div id="friend_links">
	<h3>合作伙伴</h3>
	<a href="http://mob.kaba365.com/mobile/welcome.do" target="_blank">卡巴斯基手机版</a>
	<a href="http://www.paojiao.cn" target="_blank">泡椒软件下载</a>
        <br/><a href="http://www.venusveil.com" target="_blank"><img src="/images/form/link/logo.gif" width="88" height="31" /></a>
</div>