<div id="page_head">  
  <div id="head_content">
	<%= render :partial => '/partner_session_menu' %>
	<div id="banner">
		<%= image_tag 'homepage/banner.jpg' %>
	</div>
	<div id="title">
		<h1><%= _('XNavi Partner Center')%></h1>
	</div>
  </div>
</div>
