<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
	
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<%= page_title_tag %>
	<%= page_keywords_tag %>
	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag 'common'%>  
	<% unless @side_menu.nil? && @content_for_side_menu.nil? -%>
		<%= stylesheet_link_tag 'side_menu' %>
  	<% end -%>   
	<% unless @help_id.nil? -%>
	   <%= stylesheet_link_tag "helper" %> 
	<% end -%>                 
	<% unless @css_files.nil? 
		for css_file in @css_files.flatten -%>
			<%= stylesheet_link_tag css_file %>
	<%	end
	   end -%>
	<% if @use_google_map -%>
		<script type="text/javascript" src='<%= "http://ditu.google.cn/maps?file=api&v=2&key=#{GOOGLE_MAP_KEY}&hl=zh-CN&sensor=false" %>'></script>
		<%= javascript_include_tag ['google_map_helpers'] %>
	<% end -%>
	<% unless @js_files.nil? 
		for js in @js_files.flatten -%> 
			<%= javascript_include_tag js %>
		<% end -%>
	<% end -%>
	<script language="javascript" type="text/javascript" >
		var busy_indicator = null;
		<% if @use_remote_dialog -%>
		var dialog;
		<% end -%>
		Event.observe(window, 'load', init);
		
		function init() {
			init_busy_indicator ();
			init_page();
			mark_required_field();
			<% if @use_remote_dialog -%>
			dialog = new RemoteFormDialog('dialog', 
					{buttons: [{ text: "<%= _('Submit') %>",
		                		 handler: handleSubmit, 
		                		 isDefault: true},
				               { text: "<%= _('Cancel')%>", 
				                 handler: handleCancel}],
				     busy_indicator: busy_indicator });
			<% end %>
		}
		
		function init_page () {}
		
		function init_busy_indicator () {
			busy_indicator = new BusyIndicator($('img_busy_indicator'));
		}

                function AddFavorite(sURL, sTitle)
                {
                 try
                 {
                 window.external.addFavorite(sURL, sTitle);
                 }
                 catch (e)
                 {
                 try
                 {
                 window.sidebar.addPanel(sTitle, sURL, "");
                 }
                 catch (e)
                 {
                 alert("加入收藏失败，请使用Ctrl+D进行添加");
                 }
                 }
                }
		
		<%= @content_for_page_scripts %>
	</script>
</head>
<body class="yui-skin-sam">
  <div id="main_wrapper">
  	<%= render :partial=>'/page_header' %>

	<div id="page_content">
		<% if @side_menu -%>
			<div class="side_menu" id="side_menu">
					<%= render :partial=>"menu/#{@side_menu}" %>
			</div> <!-- side_menu -->
		<% elsif !@content_for_side_menu.nil? -%>
			<div class="side_menu" id="side_menu">
					<%= @content_for_side_menu %>
			</div> <!-- side_menu -->
		<% end -%> 
		
		<% unless @help_id.nil? -%>
			<div id="helper">     
				<%= include_help @help_id -%>
			</div>
		<% end -%>
		
		<div id="main_function">  
			<% unless flash[:note].nil? -%>
				<%= update_page_tag do |page| 
					page.alert flash[:note]
				end %>
			<% end -%>

			<%= yield %>
		</div> <!-- main_function -->
		<div style="clear:right"></div>
	</div>  <!-- page_content -->
	<%= render :partial=>'/page_footer' %> 
  </div> <!-- main_wrapper -->

  <% if @use_remote_dialog -%>
	<div id="dialog">
		<div class="hd" id="dialog_head">
		</div>                     

		<div class="bd" id="dialog_body"> 
		</div>
	</div>
  <% end -%>
</body>
</html>
