<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta name="verify-v1" content="M+/ygmNjX16L6pS4Hniuh6WoFcdk8jOpVPRNR/y4NzQ=" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= _('X-Navi') %> ── <%= @page_title %></title>    
	<%= page_keywords_tag %>
</head>
<body>
<%= yield %>
</body>
</html>
